{{extend 'layout.html'}}

            


<div class="container">
    <div class="row">

<div class="col-lg-12" style="height: 500px">
        <div id="main" class="container">
              {{if session.forced_language=='de':}}
               <h3>Impressum</h3>
               <h4>arthistoricum.net - ART-Books</h4>
               <p><b>Postanschrift</b><br />
               Plöck 107-109<br />
               Postfach: 10 57 49<br />
               D-69047 Heidelberg<br /></p>

               <p>Telefon: +49 6221 54 2380<br />
               Fax: +49 6221 54 2623</p>

               <p>E-Mail: ub@ub.uni-heidelberg.de<br />
               Internet: http://www.ub.uni-heidelberg.de</p>
               <p>Direktor: Dr. Veit Probst</p>
               <p>&nbsp;</p>
               <p>arthistoricum.net - ART-Books ist Teil der Universitätsbibliothek Heidelberg. Die Universitätsbibliothek Heidelberg ist als zentrale Betriebseinheit eine organisatorische, rechtlich nicht selbständige Einheit der Universität Heidelberg, die als rechtsfähige Körperschaft des öffentlichen Rechts Diensteanbieter i. S. des § 2 Nr. 1 TMG ist und durch ihren Rektor vertreten wird. Vgl. daher zu Haftungsfragen, zum Urheberrecht und zum Datenschutz das Impressum der Universität.</p>


              {{elif session.forced_language=='en':}}
          
              <h3>Legal Notice</h3>
               <h4>arthistoricum.net - ART-Books</h4>
               <p><b>Postanschrift</b><br />
               Plöck 107-109<br />
               Postfach: 10 57 49<br />
               D-69047 Heidelberg<br /></p>

               <p>Telefon: +49 6221 54 2380<br />
               Fax: +49 6221 54 2623</p>

               <p>E-Mail: ub@ub.uni-heidelberg.de<br />
               Internet: http://www.ub.uni-heidelberg.de</p>
               <p>Direktor: Dr. Veit Probst</p>
               <p>&nbsp;</p>
               <p>arthistoricum.net - ART-Books ist Teil der Universitätsbibliothek Heidelberg. Die Universitätsbibliothek Heidelberg ist als zentrale Betriebseinheit eine organisatorische, rechtlich nicht selbständige Einheit der Universität Heidelberg, die als rechtsfähige Körperschaft des öffentlichen Rechts Diensteanbieter i. S. des § 2 Nr. 1 TMG ist und durch ihren Rektor vertreten wird. Vgl. daher zu Haftungsfragen, zum Urheberrecht und zum Datenschutz das Impressum der Universität.</p>
  
              {{pass}}
                </p>
        </div>

            

            
        </div>
    </div>
  </div>  
                    

