{{extend 'layout.html'}}

            


<div class="container">
    <div class="row">

<div class="col-lg-12" style="height: 500px">
        <div id="main" class="container">
              {{if session.forced_language=='de':}}
               <h3>Impressum</h3>
               <h4>arthistoricum.net - ART-Books</h4>
               <p><b>Postanschrift</b><br />
               Plöck 107-109<br />
               Postfach: 10 57 49<br />
               D-69047 Heidelberg<br /></p>

               <p>Telefon: +49 6221 54 2380<br />
               Fax: +49 6221 54 2623</p>

                <p>E-Mail: <a href="mailto:ub@ub.uni-heidelberg.de" title="E-Mail senden an UB Heidelberg">ub@ub.uni-heidelberg.de</a><br>
                Internet: <a href="http://books.ub.uni-heidelberg.de/arthistoricum/" title="Homepage arthistoricum.net - ART-Books">http://books.ub.uni-heidelberg.de/arthistoricum/</a></p>

               <p>Direktor: Dr. Veit Probst</p>
               <p>&nbsp;</p>
<p>arthistoricum.net - ART-Books ist Teil der <a href="http://www.ub.uni-heidelberg.de/" title="Homepage Universitätsbibliothek Heidelberg">Universitätsbibliothek Heidelberg</a>. Die Universitätsbibliothek Heidelberg ist als zentrale Betriebseinheit eine organisatorische, rechtlich nicht selbständige Einheit der Universität Heidelberg, die als rechtsfähige Körperschaft des öffentlichen Rechts Diensteanbieter i. S. des <a href="http://bundesrecht.juris.de/tmg/__2.html" title="Homepage Bundesministerium der Justiz und für Verbraucherschutz, Telemediengesetz § 2">§ 2 Nr. 1 TMG</a> ist und durch ihren <a href="http://www.rektorat.uni-heidelberg.de/index.html" title="Homepage Universität Heidelberg, Informationen zum Rektor">Rektor</a> vertreten wird. Vgl. daher zu Haftungsfragen, zum Urheberrecht und zum Datenschutz das <a href="http://www.uni-heidelberg.de/kontakt.html#impressum" title="Homepage der Universität Heidelberg: Impressum">Impressum der Universität</a>.</p>


              {{elif session.forced_language=='en':}}
          
              <h3>Legal Notice</h3>
               <h4>arthistoricum.net - ART-Books</h4>
               <p><b>Postal address</b><br />
               Plöck 107-109<br />
               P.O. box: 10 57 49<br />
               D-69047 Heidelberg<br /></p>

               <p>Phone: +49 6221 54 2380<br />
               Fax: +49 6221 54 2623</p>

               <p>E-Mail: <a href="mailto:ub@ub.uni-heidelberg.de" title="E-Mail senden an UB Heidelberg">ub@ub.uni-heidelberg.de</a><br>
               Internet: <a href="http://books.ub.uni-heidelberg.de/arthistoricum/" title="Homepage arthistoricum.net - ART-Books">http://books.ub.uni-heidelberg.de/arthistoricum/</a></p>

               <p>Director of the University Library: Dr. Veit Probst</p>
               <p>&nbsp;</p>
<p>arthistoricum.net - ART-Books is part of <a href="http://www.ub.uni-heidelberg.de/" title="Homepage Heidelberg University Library">Heidelberg University Library</a>. Heidelberg University Library is a central unit and as such organizationally and legally dependent on the University of Heidelberg, in terms of <a href="http://bundesrecht.juris.de/tmg/__2.html" title="Homepage Bundesministerium der Justiz und für Verbraucherschutz, Telemediengesetz § 2">§ 2 Nr. 1 TMG</a>  and is represented by its <a href="http://www.uni-heidelberg.de/institutions/rectorate/index.html" title="Homepage Heidelberg University, information on President's Office">president</a>. For questions of liability, copyright and data protection see the <a href="http://www.uni-heidelberg.de/legalnotice.html" title="Homepage Heidelberg University - legal notice">legal notice of Heidelberg University</a>.</p>

  
		      {{pass}}
                </p>
        </div>

            

            
        </div>
    </div>
  </div>  
                    

