{{extend 'layout.html'}}
<div class="container">
    <div class="row">
        <div class="col-lg-12" style="height: 500px">
        <div id="main" class="container"> 
              {{if session.forced_language=='de':}}
                         <h3>Kontakt</h3>
                         <strong>Dr. Maria Effinger</strong><br>
                         Universitätsbibliothek Heidelberg<br>
                         Plöck 107-109<br>
                         69117 Heidelberg<br>
                         Deutschland<br>
                         Tel.: +49 6221 54-3561<br>
                         E-Mail: effinger@ub.uni-heidelberg.de
              {{elif session.forced_language=='en':}}
                         <h3>Contact</h3>
                         <strong>Dr. Maria Effinger</strong><br>
                         Universitätsbibliothek Heidelberg<br>
                         Plöck 107-109<br>
                         69117 Heidelberg<br>
                         Germany<br>
                         Tel.: +49 6221 54-3561<br>
                         E-Mail: effinger@ub.uni-heidelberg.de
                {{pass}}
                </p>
        </div>

        </div>
    </div>
</div>
