{{extend 'layout.html'}}
<div class="container">
    <div class="row">
        <div class="col-lg-12" style="height: 500px">
        <div id="main" class="container"> 
              {{if session.forced_language=='de':}}
                         <h3>Kontakt</h3>
						 <p>
                         <strong>Dr. Maria Effinger</strong><br>
                         Universitätsbibliothek Heidelberg<br>
                         Plöck 107-109<br>
                         69117 Heidelberg<br>
                         Deutschland<br>
                         Tel.: +49 6221 54-3561<br>
                         E-Mail: effinger@ub.uni-heidelberg.de</p>
              {{elif session.forced_language=='en':}}
                         <h3>Contact</h3>
						 <p>
                         <strong>Dr. Maria Effinger</strong><br>
                         Universitätsbibliothek Heidelberg<br>
                         Plöck 107-109<br>
                         69117 Heidelberg<br>
                         Germany<br>
                         Tel.: +49 6221 54-3561<br>
                         E-Mail: effinger@ub.uni-heidelberg.de</p>
                {{pass}}
				<br>
				            <h4>{{=T('Order and Sales')}}</h4>
            <p><strong>Myriam Rausch</strong><br>
              Tel.: +49 6221 54 2383<br>
              Fax: +49 6221 54 2623<br>
              Email: <a href="mailto:book-orders@ub.uni-heidelberg.de">book-orders@ub.uni-heidelberg.de</a>
            </p> 
              {{if session.forced_language=='de':}}            
            <p>Aufgrund der Corona-bedingten Einschränkungen und unterbrochenen Verkehrswege ist der Versand von Paketen in zahlreiche Länder außerhalb der EU gegenwärtig nicht oder nur mit sehr langen Lieferzeiten möglich. Wir versenden daher im Moment keine Bücher an Länder außerhalb der EU (Schweiz ausgenommen). Wir bitten um Ihr Verständnis.</p> 
              {{elif session.forced_language=='en':}}            
            <p>Due to the corona-related restrictions we are currently not sending any books to countries outside the EU (with the exception of Switzerland). We apologize for any inconvenience.</p>
              {{pass}}            
        </div>

        </div>
    </div>
</div>
