{{extend 'layout.html'}}

<div id="main" class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>  {{if session.forced_language =='de': }}
                Art & Photography  
                {{elif session.forced_language =='en': }}
                Art & Photography 
            {{pass}}
            </h3>
        </div>

         {{if session.forced_language =='de': }}
        
<div class="col-lg-9">
<p>Die bildenden Künste sind heute multimedial präsent und global strukturiert – ästhetisch, wissenschaftlich und technisch. Sie inkorporieren alle Medien, die im Alltag genutzt werden. Dieser Aspekt der Vernetzung bedarf kunsthistorisch eines ganz neuen Systems der Aufbereitung und Verbindung von empirischen Daten, die kontinuierlich strukturiert werden und sowohl für die akademische Forschung wie für die interessierte Öffentlichkeit zugänglich sind. Objekte der Geschichte sind Objekte der Forschung. Es gilt, diese mit Quellen und Publikationen zeitnah und bibliographisch aktuell zu verbinden.</p>

<p>Die Publikationsreihe »Art & Photography« ist darauf ausgerichtet, zeitnahes, flexibles Publizieren im Bereich der Kunstgeschichte sowie der Theorie und Geschichte der Fotografie zu ermöglichen. Was heißt das genau? Im Idealfall kann schnell auf Forschungsinnovationen reagiert werden, und diese können zugleich über einen längeren Zeitraum hinweg angepasst werden, sollten sich neue Funde oder Korrekturen ergeben. Entsprechend aktualisiert werden die »print on demand«-Ausgaben sein. Vorzugsausgaben magistraler Werke sind ebenso möglich und erlauben es, das Buch sowohl digital wie in der Druckversion als ein Medium der Kunst und Erkenntnis zu verstehen.</p> 

<p>Besonders wichtig ist in dieser Reihe, dass versucht werden soll, die Forschungsgegenstände, d. h. die Objekte selbst mit empirischen Daten und wissenschaftlichen Analysen zu verknüpfen. Damit wird die »Publikation« multimedial konzipiert. Die Bilddatenbank eines Museums oder einer privaten Kunstsammlung, eines »Catalogue Raisonné« oder auch der »blog« mit relevanten Inhalten sind Verknüpfungsmaterialien, die Texte und Bilder in der Reihe nicht nur bereichern und Vertiefungen erlauben. Es geht um viel mehr: die weiterführende Forschung, um Korrektive und um die Bereitlegung von Empirie und Intellektualität für Nutzer aller Sparten, die in die Zukunft denken. Die Open-Access-Konzeption dieser Publikationsreihe erlaubt es deshalb, den Weg vom Wissen zum Denken kontinuierlich lebendig und im globalen Austausch gegenwärtig zu halten.</p>


</div>

 <div class="col-lg-3">
         <div id="infoBoxRechts"> 
         <p>{{=IMG(_src=URL('static','images/series/uzh_logo.png'),_width='230px')}}</p><br>
         <p><b>Herausgeberin</b><br>
         Prof. Dr. Bettina Gockel <br>
         Ordentliche Professorin<br>
         Lehrstuhl für Geschichte der bildenden Kunst &<br />
         Leitung der Lehr- und Forschungsstelle für Theorie<br />
         und Geschichte der Fotografie<br /><br />
         Universität Zürich<br />
         Kunsthistorisches Institut<br />
         Rämistr. 73<br />
         CH-8006 Zürich<br />
         Büro 303<br />
         Tel.: +41 (0)44 - 634 28 28<br />
         Email: bettina.gockel@khist.uzh.ch
         <p><b>ISSN</b></p>         
         <p>ISSN 2747-674X (Print)<br>
         ISSN 2747-6758 (online)</p>         
         </div>
 </div>

                     {{elif session.forced_language =='en': }}
 
<div class="col-lg-9">
<p>This publication series aims at initiating dynamic, flexible, technically advanced forms of publication of research in the history of art and photography. It is a contribution to digital humanities as well as an experiment to link such tools to both new and traditional practices of producing new knowledge and insights. In focus is the relation between the arts and photography on a global scale, in depth-studies in the history of the arts based on original, new findings in archives and collections around the world, as well as forms of publishing short as well as long texts: Monographs, longer essays, introductory texts for digital facsimile editions of primary material as well as miscellaneous inputs are welcome. Is it possible to make use of dynamic digital practices, without losing the aesthetic qualities of art books?</p> 

<p>Was it not the so-called “new medium” of photography that brought new types and technologies of publishing to the fore, and not least shaped the history of knowledge of art history? These are some of the inspiring challenges and questions that initiated the idea to propose and shape something new that is as well a bridge between traditions and the modern concepts of newness, between analogue and digital, and a platform for rethinking publishing in the arts. Publications can be fostered by collaborative as well as individual authors, ideally connected with digital projects and institutional databases around the world.</p>

  <p>The editor holds the chair for History of Fine Arts and is director of the Centre for Studies in the Theory and History of Photography at the Institute of Art History, University of Zurich, Switzerland. The publication series “Art & Photography” supplements the book series “<a href="http://www.khist.uzh.ch/de/chairs/bildende/tgf/Projekte_Publikationen/publications.html" title="More information">Studies in Theory and History of Photography</a>”. Whereas “Studies in Theory and History of Photography” (De Gruyter) is a peer reviewed publication, “Art & Photography” will be founded on a network of authors and scholars whose expertise and research will shape the profile of this series.</p>
<p>For more information on the Zurich Chair for History of Fine Arts see:</p> 
<ul>
<li><a href="https://www.khist.uzh.ch/en/chairs/bildende.html" title="Homepage Chair for the History of Fine Arts, Institute of Art History, University of Zurich">History of the Fine Arts, Prof. Dr. Bettina Gockel </a></li> 
<li><a href="https://www.khist.uzh.ch/en/chairs/bildende/tgf.html" title="Homepage 'Center for Studies in the Theory and History of Photography at the Institute of Art History, University of Zurich'">Center for Studies in the Theory and History of Photography at the Institute of Art History</a></li>
</ul>

</div>
<div class="col-lg-3">
      <div id="infoBoxRechts"> 
         <p>{{=IMG(_src=URL('static','images/series/uzh_logo.png'),_width='230px')}}</p><br>
         <p><b>Editor</b><br>
         Prof. Dr. Bettina Gockel <br>
         Ordentliche Professorin<br>
         Lehrstuhl für Geschichte der bildenden Kunst &<br />
         Leitung der Lehr- und Forschungsstelle für Theorie<br />
         und Geschichte der Fotografie<br /><br />
         
         University of Zurich<br />
         Institute of Art History<br />
         Rämistr. 73<br />
         CH-8006 Zurich<br />
         Office no. 303<br />
         Tel.: +41 (0)44 - 634 28 28<br />
         Email: bettina.gockel@khist.uzh.ch
         <p><b>ISSN</b></p>         
         <p>ISSN 2747-674X (Print)<br>
         ISSN 2747-6758 (online)</p>
        </div>
</div> 


{{pass}}


</div>
</div>

