{{extend 'layout.html'}}

<div id="main" class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>  {{if session.forced_language =='de': }}
                DAS BILD ALS EREIGNIS  
                {{elif session.forced_language =='en': }}
                DAS BILD ALS EREIGNIS 
            {{pass}}
            </h3>


                {{if session.forced_language =='de': }}
<div id="infoBoxRechts" class="col-lg-3"><p>{{=IMG(_src=URL(myconf.take('web.application'),'static','images/partner/bild_als_ereignis_logo.png'),_width='230px')}}</p>
<p><b>Kontakt</b><br>
                Das Bild als Ereignis e. V.<br>
                Hagenstraße 30<br>
                D-64625 Bensheim<br><br>

                Vertreten durch den Vorstand Johann Schulz, Laura Sobez, Dominic E. Delarue, Sabine Koßmann<br><br>

                Tel.: auf Anfrage<br>
                E-Mail: verein@bildalsereignis.de<br>
                <div style="width:25%; float:left;">Internet:</div><div style="width:75%; float:left;"><a href="http://www.bildalsereignis.de" title="Homepage">Homepage</a><br></div>
                <div style="width:25%; float:left;">&nbsp;</div><div style="width:75%; float:left;"><a href="https://www.facebook.com/pages/Das-Bild-als-Ereignis-eV/137134156350819?ref=hl" title="Facebookprofil">Facebookprofil</a></p></div><br>
                <div style="width:100%; float:left;">Themenportal in arthistoricum.net:</div><div style="width:100%; float:left;"><a href="https://www.arthistoricum.net/themen/portale/bildalsereignis" title="Themportal auf arthistoricum.net">„Das Bild als Ereignis“</a></div>
</div>
<p>Die Schriftenreihe des Netzwerkes „Das Bild als Ereignis e.V.“ vereint Monographien, Sammelbände und Ausstellungskataloge, die sich an dem Ideal einer theoretisch reflektierten, interdisziplinären Auseinandersetzung mit Kunst, Bildern und Architektur orientieren oder sich mit der Verbindung von Kunst und Gesellschaft befassen. Neben wissenschaftlichen Publikationen, die aus Projekten des Vereins hervorgegangen sind, werden auch Arbeiten aus anderen Kontexten in die Schriftenreihe aufgenommen, die unseren Themen und Fragen inhaltlich oder methodisch nahestehen. Besonders willkommen sind Beiträge, die einer theoretischen Forschungsfrage ausgehend von Werkanalysen gattungs- und/oder epochenübergreifend nachgehen.</p>

<p>Bei Interesse an einer Publikation in unserer Reihe kontaktieren Sie uns per E-Mail an verein@bildalsereignis.de. Die Vorauswahl sowie die redaktionelle Betreuung wird durch ein vom Verein einberufenes Redaktionsteam geleistet, das auch gerne Ihre Fragen beantwortet. Die Aufnahme von Qualifikationsschriften ist grundsätzlich ebenso möglich wie die Publikation von Kunstwerken oder die Bereitstellung in innovativen Formaten (etwa Video-Publikation o.ä.). Für die Veröffentlichung kürzerer Texte, etwa in Artikelform, würden wir Ihnen empfehlen, unsere <a href="http://www.arthistoricum.net/themen/portale/bildalsereignis/specta/" title="Themseite Specta bei arthistoricum.net">Zeitschrift „Specta!“</a> in Erwägung zu ziehen.</p>

<p>Nähere Informationen zum Netzwerk und seiner Ausrichtung finden Sie in unserem Themenportal <a href="https://www.arthistoricum.net/themen/portale/bildalsereignis" title="Portal Arthistoricum">„Das Bild als Ereignis“</a> auf arthistoricum.net und auf unserer Homepage <a href="http://www.bildalsereignis.de/" title="Homepage des Vereins">www.bildalsereignis.de</a>.</p>

<p>Richtlinien zur Zitierweise sowie rechtliche Hinweise für eine Veröffentlichung in unserer Reihe finden Sie hier (Link folgt).</p>

<div class="widget">
         <ul class="tags">
                            <li>
                              {{=A(T('Volumes'),_href=URL('catalog','series/dbae'))}}
                            </li>

         </ul>
</div>

                     {{elif session.forced_language =='en': }}

<div id="infoBoxRechts" class="col-lg-3"><p>{{=IMG(_src=URL(myconf.take('web.application'),'static','images/partner/bild_als_ereignis_logo.png'),_width='230px')}}</p>
<p><b>Kontakt</b><br>
                Das Bild als Ereignis e. V.<br>
                Hagenstraße 30<br>
                D-64625 Bensheim<br><br>

                Vertreten durch den Vorstand Johann Schulz, Laura Sobez, Dominic E. Delarue, Sabine Koßmann<br><br>

                Tel.: auf Anfrage<br>
                E-Mail: verein@bildalsereignis.de<br>
                <div style="width:25%; float:left;">Internet:</div><div style="width:75%; float:left;"><a href="http://www.bildalsereignis.de" title="Homepage">Homepage</a><br></div>
                <div style="width:25%; float:left;">&nbsp;</div><div style="width:75%; float:left;"><a href="https://www.facebook.com/pages/Das-Bild-als-Ereignis-eV/137134156350819?ref=hl" title="Facebookprofil">Facebookprofil</a></p></div><br>
                <div style="width:100%; float:left;">Themenportal in arthistoricum.net:</div><div style="width:100%; float:left;"><a href="https://www.arthistoricum.net/themen/portale/bildalsereignis" title="Themportal auf arthistoricum.net">„Das Bild als Ereignis“</a></div>
</div>
<p>Die Schriftenreihe des Netzwerkes „Das Bild als Ereignis e.V.“ vereint Monographien, Sammelbände und Ausstellungskataloge, die sich an dem Ideal einer theoretisch reflektierten, interdisziplinären Auseinandersetzung mit Kunst, Bildern und Architektur orientieren oder sich mit der Verbindung von Kunst und Gesellschaft befassen. Neben wissenschaftlichen Publikationen, die aus Projekten des Vereins hervorgegangen sind, werden auch Arbeiten aus anderen Kontexten in die Schriftenreihe aufgenommen, die unseren Themen und Fragen inhaltlich oder methodisch nahestehen. Besonders willkommen sind Beiträge, die einer theoretischen Forschungsfrage ausgehend von Werkanalysen gattungs- und/oder epochenübergreifend nachgehen.</p>

<p>Bei Interesse an einer Publikation in unserer Reihe kontaktieren Sie uns per E-Mail an verein@bildalsereignis.de. Die Vorauswahl sowie die redaktionelle Betreuung wird durch ein vom Verein einberufenes Redaktionsteam geleistet, das auch gerne Ihre Fragen beantwortet. Die Aufnahme von Qualifikationsschriften ist grundsätzlich ebenso möglich wie die Publikation von Kunstwerken oder die Bereitstellung in innovativen Formaten (etwa Video-Publikation o.ä.). Für die Veröffentlichung kürzerer Texte, etwa in Artikelform, würden wir Ihnen empfehlen, unsere <a href="http://www.arthistoricum.net/themen/portale/bildalsereignis/specta/" title="Themseite Specta bei arthistoricum.net">Zeitschrift „Specta!“</a> in Erwägung zu ziehen.</p>

<p>Nähere Informationen zum Netzwerk und seiner Ausrichtung finden Sie in unserem Themenportal <a href="https://www.arthistoricum.net/themen/portale/bildalsereignis" title="Portal Arthistoricum">„Das Bild als Ereignis“</a> auf arthistoricum.net und auf unserer Homepage <a href="http://www.bildalsereignis.de/" title="Homepage des Vereins">www.bildalsereignis.de</a>.</p>

<p>Richtlinien zur Zitierweise sowie rechtliche Hinweise für eine Veröffentlichung in unserer Reihe finden Sie hier (Link folgt).</p>

<div class="widget">
         <ul class="tags">
                            <li>
                              {{=A(T('Volumes'),_href=URL('catalog','series/dbae'))}}
                            </li>

        </ul>
</div>
{{pass}}

        </div>
    </div>
</div>

