{{extend 'layout.html'}}

<div id="main" class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>  {{if session.forced_language =='de': }}
                EVA Berlin - Elektronische Medien & Kunst, Kultur, Historie  
                {{elif session.forced_language =='en': }}
                EVA Berlin - Elektronische Medien & Kunst, Kultur, Historie 
            {{pass}}
            </h3>
        </div>

         {{if session.forced_language =='de': }}
        
<div class="col-lg-9">
                <p>Die <a href="http://www.eva-berlin.de/" title="Homepage der EVA-Konferenzen">EVA-Konferenzen</a> sind ein internationales Forum für Anwender, Entwickler und Vermittler elektronischer Dokumentations- und Kommunikationstechniken im Kulturbereich. An den Veranstaltungsorten in Berlin, Florenz, London, St. Petersburg und Jerusalem werden ambitionierte Digitalisierungsprojekte mit Bezug zum kulturellen Erbe, netzbasierte Forschungs- und Vermittlungskooperationen sowie informationstechnische Serviceangebote für Museen, Bibliotheken und Archive vorgestellt.</p>
                <p>Der Schwerpunkt der Berliner EVA-Konferenzen liegt auf aktuellen, praxisnahen und technologisch avancierten Projekten. Konferenz, Workshop und begleitende Ausstellung präsentieren erfolgreiche Umsetzungen und innovative Ansätze. Neue technische Potentiale des netzbasierten Informationsaustauschs, der elektronischen Dokumentation und der digitalen Reproduktion werden ebenso thematisiert wie die methodische Orientierung oder Lizensierungsfragen. Der Diskurs zwischen Gedächtnisinstitutionen, Technologieanbietern und öffentlichen Verwaltungen regt zu kooperativer Zusammenarbeit an.</p>
                <p>Teilnehmer sind:</p>
                <ul>
                      <li> Museen, Bibliotheken, Archive und deren Verbände</li>
                      <li>Kultur- und Bildungsministerien, Museums- und Denkmalämter, weitere kulturell orientierte Institutionen</li>
                      <li>Forschungsstätten der Bildverarbeitung, Computergraphik, Informations- und Medienwissenschaften</li>
                      <li>Anbieter von Multimedia- und Bildverarbeitungssystemen, Hard- und Software, Online- Informationsdiensten, Datenbanken</li>
                </ul>
<p>Die bislang fünfzehn erschienenen Konferenzbände werden auf arthistoricum.net - ART-Books sukzessive <b>online im OPEN ACCESS</b> bereit gestellt. Die <a href="http://eva-berlin.de/eva-berlin/archiv.html" title="Übersicht über die Konferenzbände">gedruckten Ausgaben</a> von 1996 bis 2015 können auf Anfrage über folgende Kontaktadresse erworben werden: <br /><br />
Dr. Andreas Bienert<br />
Staatliche Museen zu Berlin<br />
Tel: +49 30 266 42 33 01<br />
E-Mail: eva-berlin@smb.spk-berlin.de<br />
</p>

<div class="widget">
         <ul class="tags">
                            <li>
                              {{=A(T('Volumes'),_href=URL('catalog','series/eva'))}}
                            </li>

         </ul>
</div>
</div>

 <div class="col-lg-3">
         <div id="infoBoxRechts"> 
         <p>{{=IMG(_src=URL('static','images/series/eva_logo.png'),_width='230px')}}</p><br>
         <p><b>Kontakt</b><br>
         Dr. Andreas Bienert<br>
         Staatliche Museen zu Berlin - Preußischer Kulturbesitz<br>
         Tel: +49 30 266 42 3301<br>
         E-Mail: eva-berlin@smb.spk-berlin.de<br><br>
         </div>
 </div>

                     {{elif session.forced_language =='en': }}
 
<div class="col-lg-9">
  <p>The <a href="http://www.eva-berlin.de/en/en.html" title="Homepage of the EVA-Conferences">EVA-Conferences</a> are an international forum for users, developers and other stakeholders in electronic documentation and communication technologies for the cultural sector. With venues in Berlin, Florence, London, Saint Petersburg and Jerusalem, the conferences present ambitious digitization projects dealing with cultural heritage, network-based research and mediation collaborations as well as information technology services for museums, libraries and archives.</p>
                  <p>The focus of the Berlin EVA-Conferences is on current projects that are application-focused and technologically advanced. The conference, workshop and accompanying exhibition present examples of successfully implemented innovative approaches to projects of this kind. They address new technological opportunities enabled through network based exchange of information, electronic documentation and digital reproduction as well as focusing on issues associated with methods and licensing. The discourse between memory institutions, technology providers and public administrators stimulates cooperative collaboration.</p>
                  <p>Particpants are:</p>
                  <ul>
                        <li>Museums, libraries, archives and their associations</li>
                        <li>Ministries of education and cultural affairs, museum and heritage departments, and other cultural institutions</li>
                        <li>Research institutes for image processing, computer graphics, information and media science</li>
                        <li>Providers of multi-media and image processing systems, hardware, software, online information services and databases</li>
                   </ul>
  <p>Fifteen volumes of conference papers have been published so far in print and are successively being made available online and in <b>OPEN ACCESS</b> on arthistoricum.net - ART-Books.  The <a href="http://eva-berlin.de/en/eva-berlin/archive.html" title="List of print editions">print editions from 1996 until 2015</a> can be acquired via the following address: <br /><br />
Dr. Andreas Bienert<br />
Staatliche Museen zu Berlin<br />
Tel: +49 30 266 42 33 01<br />
E-Mail: eva-berlin@smb.spk-berlin.de<br />
</p>
  
  
  <div class="widget">
           <ul class="tags">
                              <li>
                                  {{=A(T('Volumes'),_href=URL('catalog','series/eva'))}}
                              </li>
  
          </ul>
  </div> 
</div>
<div class="col-lg-3">
  <div id="infoBoxRechts">
  <p>{{=IMG(_src=URL('static','images/series/eva_logo.png'),_width='230px')}}</p><br>
  <p><b>Contact</b><br>
  Dr. Andreas Bienert<br>
  Staatliche Museen zu Berlin - Preußischer Kulturbesitz<br>
  Tel: +49 30 266 42 3301<br>
  E-Mail: eva-berlin@smb.spk-berlin.de<br><br>
  </div>
</div> 


{{pass}}


</div>
</div>

