{{extend 'layout.html'}}

<div id="main" class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>  {{if session.forced_language =='de': }}
                FONTES
                {{elif session.forced_language =='en': }}
                FONTES  
            {{pass}}
            </h3>
        </div>

         {{if session.forced_language =='de': }}
        
<div class="col-lg-9">
<p><strong>FONTES</strong> stellt kommentierte Volltext-Versionen und Bilddokumente zur frühneuzeitlichen Diskussion über Kunst und Artefakte im weitesten Sinne zur Verfügung.</p>
<p>Darunter sind nicht nur alle Textgattungen zu verstehen, die Julius von Schlosser in sein Standardwerk "<a href="https://digi.ub.uni-heidelberg.de/diglit/schlosser1924" title="Link zum Digitalisat">Die Kunstliteratur</a>" (1924) aufgenommen hat, sondern etwa auch antiquarisches Schrifttum, Archivquellen, Gedichte, Kommentare, Passagen aus lexikalischen und enzyklopädischen Werken.</p>
<p>Besonderer Wert wird auch &ndash; insbesondere seit dem Relaunch von FONTES (und damit auch Änderung des Untertitels) im Jahr 2022 und ab Nr. 93 - auf die Bedeutung von Bilddokumenten, also auf großenteils oder vollständig aus Bildtafeln bestehende Publikationen zu Sammlungen, Mustervorlagen, Kunstunterricht, Antikenrezeption und ähnlichem, gelegt.</p>
<p>FONTES arbeitet so an einer kritischen Neuformulierung des Schlosser’schen Projektes; umfassend erschlossen werden soll die Vielfalt und europaweite Verflechtung des Kunstdiskurses und seiner Bedeutung.</p>
<p>Weitere Fontes-Publikationen sind über arthistoricum.net auf <a href="https://archiv.ub.uni-heidelberg.de/artdok/view/schriftenreihen/sr-88.html" title="Link zu den Publikationen">ART-Dok</a> zu finden.</p>
<!--
<div class="widget">
         <ul class="tags">
             <li>
                {{=A(T('Volumes'),_href=URL('catalog','series/fontes'))}}
            </li>
         </ul>
</div>
-->
</div>

 <div class="col-lg-3">
         <div id="infoBoxRechts"> 
    <!--     <p>{{=IMG(_src=URL('static','images/partner/dfk_logo.png'),_width='230px')}}</p><br>

         </p>-->
         <p><b>Herausgeber</b><br>
			Ulrich Pfisterer<br>
			Ludwig-Maximilians-Universität München<br>
			Institut für Kunstgeschichte<br>
			Zentnerstr. 31<br>
			80798 München <br><br>
			
			Margaret Daly Davis<br>
			Kunsthistorisches Institut in Florenz<br>
			Via Giuseppe Giusti 44<br>
			I-50121 Florenz<br>
		</p>
<!--
        <p><b>ISSN</b><br>
        ISSN 2569-0949 (Print)<br>
        ISSN 2568-9649 (online)</p>
		-->
         </div>
 </div>

        {{elif session.forced_language =='en': }}
 
<div class="col-lg-9">
<p><strong>FONTES</strong> provides annotated full-text versions and image documents on early modern discussions of art and artifacts in the broadest sense.</p>
<p>This includes not only all text genres that Julius von Schlosser included in his standard work "<a href="https://digi.ub.uni-heidelberg.de/diglit/schlosser1924" title="Link zum Digitalisat">Die Kunstliteratur</a>" (1924), but also, for example, antiquarian literature, archival sources, poems, commentaries, passages from lexical and encyclopedic works.</p>
<p>Particular emphasis is also placed - especially since the relaunch of FONTES (and thus a change of subtitle) in 2022 and from No. 93 onwards - on the importance of pictorial documents, i.e. publications consisting largely or entirely of pictorial plates on collections, patterns, art instruction, reception of antiquities, and the like.</p>
<p>FONTES thus works on a critical reformulation of Schlosser's project; the diversity and Europe-wide interconnectedness of art discourse and its meaning are to be comprehensively explored.</p>
<p>Further Fontes publications can be found via arthistoricum.net on<a href="https://archiv.ub.uni-heidelberg.de/artdok/view/schriftenreihen/sr-88.html" title="Link zu den Publikationen">ART-Dok</a>.</p>


  
  <!--
  <div class="widget">
           <ul class="tags">
             <li>
              {{=A(T('Volumes'),_href=URL('catalog','series/passages'))}}
            </li>
          </ul>
          <hr>   
  </div> 
  -->  
</div>
<div class="col-lg-3">
  <div id="infoBoxRechts">
 <!-- <p>{{=IMG(_src=URL('static','images/partner/dfk_logo.png'),_width='230px')}}</p><br>-->

         <p><b>Editors</b><br>
			Ulrich Pfisterer<br>
			Ludwig-Maximilians-Universität München<br>
			Institut für Kunstgeschichte<br>
			Zentnerstr. 31<br>
			80798 München <br><br>
			
			Margaret Daly Davis<br>
			Kunsthistorisches Institut in Florenz<br>
			Via Giuseppe Giusti 44<br>
			I-50121 Florenz<br>
		</p>
<!--
        <p><b>ISSN</b><br>
        ISSN 2569-0949 (Print)<br>
        ISSN 2568-9649 (online)</p>
		-->
  </div>

</div> 



{{pass}}


</div>
</div>

