{{extend 'layout.html'}}

<div id="main" class="container">
  <div class="row">
    <div class="col-lg-12"><h3>Kunstrecht kompakt</h3>
    </div>{{if session.forced_language =='de': }} 
    <div class="col-lg-9">
      <p>Die Reihe „Kunstrecht kompakt“ umfasst praktische Ratgeber aus den unterschiedlichen Fachbereichen des Kunstrechts. Sie richtet sich dabei an verschiedenste Akteure der Kunst und des Kunstmarktes - Künstler, Sammler, Galeristen, Händler, Kunstvermittler, Auktionatoren, Kuratoren, Museumsleute, Publizisten und Juristen, die sich in ihrer alltäglichen Arbeit mit der Kunst befassen. Die Reihe ermöglicht einen schnellen Zugriff auf alle relevanten Themen und gibt Lösungsvorschläge zu kunstrechtlichen Problemfeldern.</p> 
      <p>Der erste Band beinhaltet eine Sammlung von deutschen Gesetzen, internationalen Verordnungen und ethischen Richtlinien aus den verschiedenen Rechtsgebieten, die das Kunstrecht umfasst.</p> 
      <p>Die weiteren in Vorbereitung befindlichen Bände werden sich mit den einzelnen Rechtsgebieten befassen.</p>
      <div class="widget">
        <ul class="tags">
          <li>{{=A(T('Volumes'),_href=URL('catalog','series/kunstrecht'))}} 
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-3">
      <div id="infoBoxRechts">
        <p><b>Herausgeber</b><br>
        Kemle Rechtsanwälte<br>
        Dr. Nicolai Kemle<br>
        Kleine Mantelgasse 10<br>
        D-69117 Heidelberg<br>
        info@kanzlei-kemle.de
        </p>
      </div>
    </div>{{elif session.forced_language =='en': }} 
    <div class="col-lg-9">
      <p>Die Reihe „Kunstrecht kompakt“ umfasst praktische Ratgeber aus den unterschiedlichen Fachbereichen des Kunstrechts. Sie richtet sich dabei an verschiedenste Akteure der Kunst und des Kunstmarktes - Künstler, Sammler, Galeristen, Händler, Kunstvermittler, Auktionatoren, Kuratoren, Museumsleute, Publizisten und Juristen, die sich in ihrer alltäglichen Arbeit mit der Kunst befassen. Die Reihe ermöglicht einen schnellen Zugriff auf alle relevanten Themen und gibt Lösungsvorschläge zu kunstrechtlichen Problemfeldern.</p> 
      <p>Der erste Band beinhaltet eine Sammlung von deutschen Gesetzen, internationalen Verordnungen und ethischen Richtlinien aus den verschiedenen Rechtsgebieten, die das Kunstrecht umfasst.</p> 
      <p>Die weiteren in Vorbereitung befindlichen Bände werden sich mit den einzelnen Rechtsgebieten befassen.</p>
      <div class="widget">
        <ul class="tags">
          <li>{{=A(T('Volumes'),_href=URL('catalog','series/kunstrecht'))}} 
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-3">
      <div id="infoBoxRechts">
        <p><b>Editor</b><br>
        Kemle Rechtsanwälte<br>
        Dr. Nicolai Kemle<br>
        Kleine Mantelgasse 10<br>
        D-69117 Heidelberg<br>
        info@kanzlei-kemle.de
        </p>
      </div>
      </div>
    </div>{{pass}} 
  </div>
</div>
