{{extend 'layout.html'}}

<div id="main" class="container">
    <div class="row">
<div class="col-lg-12">
            <h3>  {{if session.forced_language =='de': }}
                Beiträge zur Museologie 
                {{elif session.forced_language =='en': }}
                Beiträge zur Museologie  
            {{pass}}
            </h3>
</div>            


                {{if session.forced_language =='de': }}

<!--<div class="col-lg-3">
<article>
<div class="post-image">
{{=IMG(_src=URL('static','files/presses/2/series/10-series.jpg'),_width='250px')}}
</div>
</article>
<div class="box">
<div class="box-gray alignleft" style="height: auto;">
	 <h5 style="color: #656565; margin-bottom: 0.5em;">In Vorbereitung:</h5>
Katharina Frank / Sabine Koßmann (Hrsg.),<br />
Mediale Dimensionen von Reproduktion,<br />
Heidelberg, arthistoricum.net
</div>
</div>
</div>-->
<div class="col-lg-9">
<p>Die Reihe versammelt analytische Aufsätze ebenso wie Beispiele aus der Praxis und bietet somit vielfältige Perspektiven auf die Museumsarbeit. Die Beiträge sind meist auf nationalen und internationalen Jahrestagungen von ICOM Deutschland vorgetragen und zur Diskussion gestellt worden.</p> 

<p>Die „Beiträge zur Museologie“ richten sich an erfahrene Museumswissenschaftler und -praktiker sowie Berufseinsteiger gleichermaßen, die ihre Kenntnisse in den musealen Kernaufgaben Sammeln, Bewahren, Ausstellen und Forschen erweitern möchten. Studenten der Museumskunde erhalten einen guten Einblick in die Berufspraxis.</p>

<p>Die von <a class="extern" href="http://www.icom-deutschland.de/" title="Homepage ICOM Deutschland">ICOM Deutschland</a> herausgegebene Schriftenreihe erscheint seit 2010 in unregelmäßigen Abständen. Ab Band 7 wird neben der Print-Ausgabe auch eine Online-Version im Open Access über arthistoricum.net-ART-Books bereitgestellt. Die Bände 1 bis 6 Bände sollen sukzessive ebenfalls als Online-Version zur Verfügung gestellt werden.</p> 

<p><a class="extern" href="http://www.icom-deutschland.de/" title="Homepage ICOM Deutschland">ICOM Deutschland e.V.</a> ist das deutsche Nationalkomitee des Internationalen Museumsrates ICOM und mit mehr als 6.000 Mitgliedern die größte Organisation von Museen und Museumsfachleuten in Deutschland. Sie vertritt im Dialog und Zusammenwirken mit anderen Kultur- und Museumsorganisationen die Interessen der Museen und der Museumsfachleute im öffentlichen Leben.</p>

<p>Der <a class="extern" href="http://www.icom.museum/" title="Homepage Internationaler Museumsrat ICOM">Internationale Museumsrat ICOM</a> (International Council of Museums) ist dem Erhalt, der Pflege und der Vermittlung des kulturellen und natürlichen Welterbes verpflichtet. Mit mehr als 40.000 Mitgliedern weltweit ist ICOM das internationale Netzwerk von Museen und Museumsfachleuten quer durch alle Fachgebiete. ICOM gehören 119 Nationalkomitees und 31 internationale Komitees sowie zahlreiche regionale und angegliederte Organisationen an.</p>


<div class="widget">
         <ul class="tags">
              <li>
              {{=A(T('Volumes'),_href=URL('catalog','series/museologie'))}}
              </li>
         </ul>
</div>
</div>
<div class="col-lg-3">
  <div id="infoBoxRechts">
    <p>{{=IMG(_src=URL('static','images/series/icom_logo.png'),_width='230px')}}</p>
    <p><b>Kontakt</b><br>
       ICOM Deutschland e. V.<br>
       In der Halde 1<br>
       14195 Berlin<br><br>
       Tel.: +49 30 69504525<br>
       Fax: +49 30 69504526<br>
       E-Mail:<br>icom@icom-deutschland.de<br>
       Internet: <a href="http://www.icom-deutschland.de/index.php" title="Homepage ICOM Deutschland"><br>Homepage ICOM Deutschland</a>
    </p>
    <p><b>ISSN</b><br>ISSN (Print): 2627-6526<br>ISSN (online): 2627-6771</p>
  </div>
</div>                

                     {{elif session.forced_language =='en': }}

<!--<div class="col-lg-3">
<article>
<div class="post-image">
{{=IMG(_src=URL('static','files/presses/2/series/10-series.jpg'),_width='250px')}}
</div>
</article>
<div class="box">
<div class="box-gray alignleft" style="height: auto;">
	 <h5 style="color: #656565; margin-bottom: 0.5em;">In Vorbereitung:</h5>
Katharina Frank / Sabine Koßmann (Hrsg.),<br />
Mediale Dimensionen von Reproduktion,<br />
Heidelberg, arthistoricum.net
</div>
</div>
</div>     -->

<div class="col-lg-9">
<p>Die Reihe versammelt analytische Aufsätze ebenso wie Beispiele aus der Praxis und bietet somit vielfältige Perspektiven auf die Museumsarbeit. Die Beiträge sind meist auf nationalen und internationalen Jahrestagungen von ICOM Deutschland vorgetragen und zur Diskussion gestellt worden.</p> 

<p>Die „Beiträge zur Museologie“ richten sich an erfahrene Museumswissenschaftler und -praktiker sowie Berufseinsteiger gleichermaßen, die ihre Kenntnisse in den musealen Kernaufgaben Sammeln, Bewahren, Ausstellen und Forschen erweitern möchten. Studenten der Museumskunde erhalten einen guten Einblick in die Berufspraxis.</p>

<p>Die von <a class="extern" href="http://www.icom-deutschland.de/" title="Homepage ICOM Deutschland">ICOM Deutschland</a> herausgegebene Schriftenreihe erscheint seit 2010 in unregelmäßigen Abständen. Ab Band 7 wird neben der Print-Ausgabe auch eine Online-Version im Open Access über arthistoricum.net-ART-Books bereitgestellt. Die Bände 1 bis 6 Bände sollen sukzessive ebenfalls als Online-Version zur Verfügung gestellt werden.</p> 

<p>Als erster Band bei arthistoricum.net erscheint demnächst: <a class="extern" href="http://www.icom-helsingborg-2017.org/conference/" title="Homepage ICOM, Internationale Konferenz Helsingborg 2017">Difficult Issues. Untertitel: Proceedings of the ICOM international conference 2017. Helsingborg, 21–23 September 2017 (Beiträge zur Museologie, Bd. 7)</a></p>

<p>Der <a class="extern" href="http://www.icom.museum/" title="Homepage Internationaler Museumsrat ICOM">Internationale Museumsrat ICOM</a> (International Council of Museums) ist dem Erhalt, der Pflege und der Vermittlung des kulturellen und natürlichen Welterbes verpflichtet. Mit mehr als 40.000 Mitgliedern weltweit ist ICOM das internationale Netzwerk von Museen und Museumsfachleuten quer durch alle Fachgebiete. ICOM gehören 119 Nationalkomitees und 31 internationale Komitees sowie zahlreiche regionale und angegliederte Organisationen an.</p>


<div class="widget">
         <ul class="tags">
              <li>
              {{=A(T('Volumes'),_href=URL('catalog','series/museologie'))}}
              </li>
         </ul>
</div>
</div>

<div class="col-lg-3">
  <div id="infoBoxRechts">
    <p>{{=IMG(_src=URL('static','images/series/icom_logo.png'),_width='230px')}}</p>
    <p><b>Contact</b><br>
       ICOM Deutschland e. V.<br>
       In der Halde 1<br>
       14195 Berlin<br><br>
       Tel.: +49 30 69504525<br>
       Fax: +49 30 69504526<br>
       E-Mail:<br>icom@icom-deutschland.de<br>
       Internet: <a href="http://www.icom-deutschland.de/index.php" title="Homepage ICOM Deutschland"><br>Homepage ICOM Deutschland</a>
    </p>
    <p><b>ISSN</b><br>ISSN (Print): 2627-6526<br>ISSN (online): 2627-6771</p>
  </div>
</div>   



{{pass}}

        </div>
    </div>
</div>                       

