{{extend 'layout.html'}}

<div id="main" class="container">
  <div class="row">
    <div class="col-lg-12"><h3> {{if session.forced_language =='de': }} PALATIUM e-Publications {{elif session.forced_language =='en': }} PALATIUM e-Publications {{pass}} </h3>
    </div>{{if session.forced_language =='de': }} 
    <div class="col-lg-9">
      <p>Informationen folgen!
      </p>
      <div class="widget">
        <ul class="tags">
          <li>{{=A(T('Volumes'),_href=URL('catalog','series/palatium'))}} 
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-3">
      <div id="infoBoxRechts">
        <p>{{=IMG(_src=URL('static','images/series/palatium_logo.png'),_width='230px')}}
        </p>
        <p><b>Kontakt</b><br />
          Professor Dr. Krista De Jonge (Chair)<br />
          University of Leuven<br />
          Department of Architecture, Urbanism and Planning<br />
          Kasteelpark Arenberg 1<br />
          B-3001 Heverlee<br />
          Belgium<br />
          Tel: +32 1 632 1379 or 61<br />
          Fax: +32 1 632 1984<br />
          E-Mail: krista.dejonge@asro.kuleuven.be</p>
        <p>
          Prof. Dr. Stephan Hoppe<br />
          Ludwig-Maximilians-Universität München<br />
          Institut für Kunstgeschichte<br />
          Zentnerstr. 31<br />
          D-80798 München<br />
          Germany<br />
          Tel: +49 0 89 2180 6226<br />
          E-Mail: email@stephan-hoppe.de  
        </p>
      </div>
    </div>{{elif session.forced_language =='en': }} 
    <div class="col-lg-9">
      <p>Since 2010, the PALATIUM network has created a common forum for research on the late medieval and early modern European court residence or palace (palatium) in a multi- and trans-disciplinary perspective, establishing the cross-European relationships and perspectives which had hitherto only been partially addressed by individual research teams.</p>
	  <p>Each meeting has offered an original contribution to the study of the art and architecture of the world of courts and their interaction with the rules regulating court life (or ceremonial) in a broad multi-disciplinary perspective; new perspectives on the international exchanges between the different court residences in late medieval and early modern Europe have emerged and are still emerging, involving not only the better-studied networks such as the Habsburg or Valois courts but also the so-called courts at the “periphery”. PALATIUM has managed to interest not only the historian of architecture and of art, but also practitioners of various other disciplines, such as archaeology, political and social history, literature, theatre, music, and heritage studies, and has also significantly contributed to the debate on method in the field in an interdisciplinary perspective.</p>
	  <p>From November 2010 until March 2015, PALATIUM organized twenty-two events, including six colloquia and six methodological workshops, two thematic conferences apart from the final one (synthesis), three summer schools and a master class, as well as sessions at the Washington RSA annual meeting and at the Brussels and Turin EAHN meetings.</p>
	  <p>The PALATIUM community now extends beyond the 600 members who receive its Newsletters, and who showed their interest in other ways, thanks to good connections with other institutions and programmes active in the broader field of court studies. Among these, the heritage institutions which aided PALATIUM in various ways, by facilitating visits, seminars or whole events to be held on the premises of the residences they take care of, and by making participants aware of the difficulties involved in preserving this heritage, deserve to be mentioned especially.</p>
	  <p>Major results of these exchanges are available as e-Publications in open access on the PALATIUM website and here on arthistoricum.net. PALATIUM hopes that these tangible results will generate a continuing interest in the subject, enduring beyond the end of the programme.</p>
      <div class="widget">
        <ul class="tags">
          <li>{{=A(T('Volumes'),_href=URL('catalog','series/palatium'))}} 
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-3">
      <div id="infoBoxRechts">
        <p>{{=IMG(_src=URL('static','images/series/palatium_logo.png'),_width='230px')}}
        </p>
        <p><b>Contact</b><br />
          Professor Dr Krista De Jonge (Chair)<br />
          University of Leuven<br />
          Department of Architecture, Urbanism and Planning<br />
          Kasteelpark Arenberg 1<br />
          B-3001 Heverlee<br />
          Belgium<br />
          Tel: +32 1 632 1379 or 61<br />
          Fax: +32 1 632 1984<br />
          E-Mail: krista.dejonge@asro.kuleuven.be</p>

        <p>
          Prof. Dr. Stephan Hoppe<br />
          Ludwig-Maximilians-Universität München<br />
          Institut für Kunstgeschichte<br />
          Zentnerstr. 31<br />
          D-80798 München<br />
          Germany<br />
          Tel: +49 0 89 2180 6226<br />
          E-Mail: email@stephan-hoppe.de  
        </p>
      </div>
    </div>{{pass}} 
  </div>
</div>
