{{extend 'layout.html'}}

<div id="main" class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>  {{if session.forced_language =='de': }}
                Passages online 
                {{elif session.forced_language =='en': }}
                Passages online  
            {{pass}}
            </h3>
        </div>

         {{if session.forced_language =='de': }}
        
<div class="col-lg-9">
<p>Die Reihe <strong>Passages online</strong> wurde 2017 vom Direktor des Deutsche Forum für Kunstgeschichte Paris, Prof. Dr. Thomas Kirchner, gegründet. Mit der Absicht, die am <a href="https://dfk-paris.org/de" title="Link zur Homepage Deutsches Forum für Kunstgeschichte Paris">Deutsche Forum für Kunstgeschichte Paris</a> (DFK Paris) erarbeiteten Forschungsergebnisse zeitnah und dauerhaft frei zur Verfügung zu stellen, präsentiert die Reihe die am DFK Paris entstandenen Sammelbände sowie kunsthistorische Dokumentationen und Kongressakten.</p>

<p>Die Reihe ergänzt die bereits existierende deutsch- und französischsprachigen Publikationsreihen der <a href="http://www.deutscherkunstverlag.de/buch/reihen/passagen-passages.html" title="Homepage Deutscher Kunstverlag, Informationen zur Reihe 'Passages'">&bdquo;Passages&rdquo;</a>  und der „Passarelles“, die im Verlag der Maison des Sciences de l’Homme MSH erscheinen.</p>


<p>Die Passages online sind grundsätzlich mehrsprachig und konzentrieren sich insbesondere auf folgende Formate:</p>
<ul>
<li>Jahresbände mit den Ergebnissen der zum Jahresthema durchgeführten Konferenzen</li>
<li>Kongressakten zu den am DFK Paris oder in Kooperationen veranstalteten Kolloquien</li>
<li>Kunsthistorische Dokumentationen wie die Publikation von Inventaren oder Beständen in Katalogform</li>
<li>Monographien mit umfangreichen Dokumentationen</li>
</ul>
</p>

<div class="widget">
         <ul class="tags">
             <li>
                {{=A(T('Volumes'),_href=URL('catalog','series/passages'))}}
            </li>
         </ul>
</div>
</div>

 <div class="col-lg-3">
         <div id="infoBoxRechts"> 
         <p>{{=IMG(_src=URL('static','images/partner/dfk_logo.png'),_width='230px')}}</p><br>
         <p><b>Herausgeber</b><br>
         <a class="extern" href="https://dfk-paris.org/de/person/thomas-kirchner-323.html" title="Homepage Deutschen Forums für Kunstgeschichte Paris, Informationen über Thomas Kirchner">Thomas Kirchner</a>, Paris
         </p>
         <p><b>Kontakt</b><br>
         Markus A. Castor<br>
         Deutsches Forum für Kunstgeschichte Paris<br>
         E-Mail:  mcastor@dfk-paris.org<br>
         <a class="extern" href="https://dfk-paris.org" title="Homepage Deutsches Forum für Kunstgeschichte Paris">https://dfk-paris.org</a>
        <p><b>ISSN</b></p>
        <p>ISSN 2569-0949 (Print)<br>
        ISSN 2568-9649 (online)</p>
         </div>
 </div>

        {{elif session.forced_language =='en': }}
 
<div class="col-lg-9">
<p>The series <b>Passages online</b> was founded in 2017 by Prof. Dr. Thomas Kirchner, the Director of the  German Forum for Art History, Paris. The intention is to make research results produced at the DFK quickly and permanently available. The series includes collections produced at the DFK as well art history documentation and congress papers, in particular the proceedings of annual meetings.</p>

<p>This series supplements the existing sources of <a class="extern" href="http://www.deutscherkunstverlag.de/buch/reihen/passagen-passages.html" title="Homepage Deutscher Kunstverlag, information on 'Passages'">&ldquo;Passages&rdquo;</a> from the Deutscher Kunstverlag, and &ldquo;Passarelles&rdquo; from the publisher Maison des sciences de l’homme (FMSH).</p>

<p><b>Passages online</b> are published in several languages and concentrate in particular on the following formats:</p>

<ul>
<li>Annual volumes with the results of conferences held on the relevant years topic</li>
<li>Congress papers concerning colloquia hosted at the DFK Paris or in co-operation with other bodies</li>
<li>Art history documentation, such as the publication of catalogues of inventories or collections</li>
<li>Monographs with extensive documentation</li>
</ul>


  
  
  <div class="widget">
           <ul class="tags">
             <li>
              {{=A(T('Volumes'),_href=URL('catalog','series/passages'))}}
            </li>
          </ul>
          <hr>   
  </div> 
<p>La collection <b>Passages online</b> a été créée en 2017 par Thomas Kirchner, directeur du Centre allemand d’histoire de l’art Paris. Avec l’objectif de mettre à disposition rapidement et durablement les résultats des recherches menées au DFK Paris, la collection présente les ouvrages collectifs parus au DFK Paris, sommes de documentation en histoire de l’art et actes de colloque, en particulier ceux du congrès annuel.</p>
<p>Cette collection complète ainsi celles déjà existantes des <a class="extern" href="http://www.deutscherkunstverlag.de/buch/reihen/passagen-passages.html" title="Page web Deutscher Kunstverlag, informations sur 'Passages'">&laquo;&nbsp;Passages&nbsp;&raquo;</a>, édités par le Deutscher Kunstverlag, et des &laquo;&nbsp;Passarelles&nbsp;&raquo;</a>, qui paraissent auprès de la Fondation Maison des sciences de l’homme (FMSH).</p>

<p>Les Passages online sont en principe en plusieurs langues et s’articulent en particulier autour des formats suivants :</p>
<ul>
<li>Publication annuelle présentant les apports des conférences données dans le cadre du sujet annuel</li>
<li>Actes des colloques organisés au DFK Paris et/ou avec des partenaires</li>
<li>Compilations de documents relatifs à l’histoire de l’art, par exemple publication d’inventaires ou de catalogues présentant des collections ou fonds.</li>
<li>Monographies comportant une importante documentation.</li>
</ul>

  <div class="widget">
           <ul class="tags">
             <li>
                 {{=A(T('Volumes'),_href=URL('catalog','series/passages_online'))}}
            </li>
          </ul>
  </div>  
</div>
<div class="col-lg-3">
  <div id="infoBoxRechts">
  <p>{{=IMG(_src=URL('static','images/partner/dfk_logo.png'),_width='230px')}}</p><br>
  <p><b>Series editor</b><br>
  <b>Directeur de la collection</b><br>
  <a class="extern" href="https://dfk-paris.org/de/person/thomas-kirchner-323.html" title="Page web Deutschen Forums für Kunstgeschichte Paris, informations sur Thomas Kirchner">Thomas Kirchner</a></p>
  <p><b>Contact</b><br>
  Markus A. Castor<br>
  Centre allemand d’histoire de l’art Paris,<br>
  E-Mail:  mcastor@dfk-paris.org<br>
  <a href="https://dfk-paris.org" title="Homepage Deutsches Forum für Kunstgeschichte Paris">https://dfk-paris.org</a>
  <p><b>ISSN</b></p>
    <p>ISSN 2569-0949 (Print)<br>
       ISSN 2568-9649 (online)</p>
  </div>

</div> 



{{pass}}


</div>
</div>

