{{extend 'layout.html'}}

<div id="main" class="container">
  <div class="row">
    <div class="col-lg-12"><h3>Stuttgarter Akademieschriften</h3></div>
    {{if session.forced_language =='de': }} 
    <div class="col-lg-9">
      <p>Die &bdquo;Stuttgarter Akademieschriften&rdquo; sind eine Schriftenreihe der <a href="http://www.abk-stuttgart.de/" title="Link zur Homepage">Staatlichen Akademie der Bildenden Künste Stuttgart</a>. In dieser Reihe werden Dissertationen publiziert, die mit Auszeichnung abgeschlossen wurden.</p> 
      <p>Als erster Band wird im Herbst 2018 die Dissertation von Gitta Bertram unter dem Titel "Rubens as a Designer of Title Pages" erscheinen.</p>
      <p>Weitere an der Staatlichen Akademie der Bildenden Künste abgeschlossene Dissertationen finden Sie gesammelt auf der <a href="http://archiv.ub.uni-heidelberg.de/artdok/view/collections/c-13.html" title="Homepage arthistoricum.net; Liste der Dissertationen an der Staatlichen Akademie der Bildenden Künste">Publikationsplattform ART-Dok</a>.</p>
      <div class="widget">
        <ul class="tags">
          <li>{{=A(T('Volumes'),_href=URL('catalog','series/sas'))}} 
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-3">
      <div id="infoBoxRechts">
        <p><b>Kontakt</b><br>
        Prof. Dr. Nils Büttner<br>
        Campus Weißenhof: Altbau<br>
        Raum 317<br>
        Am Weißenhof 1<br>
        70191 Stuttgart<br>
        nils.buettner@abk-stuttgart.de
        </p>
      </div>
    </div>
    {{elif session.forced_language =='en': }} 
    <div class="col-lg-9">
      <p>Die &bdquo;Stuttgarter Akademieschriften&rdquo; sind eine Schriftenreihe der <a href="http://www.abk-stuttgart.de/" title="Link zur Homepage">Staatlichen Akademie der Bildenden Künste Stuttgart</a>. In dieser Reihe werden Dissertationen publiziert, die mit Auszeichnung abgeschlossen wurden.</p> 
      <p>Als erster Band wird im Herbst 2018 die Dissertation von Gitta Bertram unter dem Titel "Rubens as a Designer of Title Pages" erscheinen.</p>
      <p>Weitere an der Staatlichen Akademie der Bildenden Künste abgeschlossene Dissertationen finden Sie gesammelt auf der <a href="http://archiv.ub.uni-heidelberg.de/artdok/view/collections/c-13.html" title="Homepage arthistoricum.net; Liste der Dissertationen an der Staatlichen Akademie der Bildenden Künste">Publikationsplattform ART-Dok</a>.</p>
      
      <div class="widget">
        <ul class="tags">
          <li>{{=A(T('Volumes'),_href=URL('catalog','series/sas'))}} 
          </li>
        </ul>
      </div>
      
      
      
      
    </div>
    <div class="col-lg-3">
      <div id="infoBoxRechts">
        <p><b>Kontakt</b><br>
        Prof. Dr. Nils Büttner<br>
        Campus Weißenhof: Altbau<br>
        Raum 317<br>
        Am Weißenhof 1<br>
        70191 Stuttgart<br>
        nils.buettner@abk-stuttgart.de
        </p>
      </div>
    </div>
    {{pass}}
  </div>   
  </div>

