{{extend 'layout.html'}}

<div id="main" class="container">
  <div class="row">
    <div class="col-lg-12"><h3>Stuttgarter Akademieschriften</h3></div>
  
  <div class="col-lg-3">
    <article>
      <div class="post-image">
      {{=IMG(_src=URL('static','files/presses/2/series/38-series.jpg'),_width='250px')}}
      </div>
    </article>
  </div>                                                      
    
    {{if session.forced_language =='de': }} 
    <div class="col-lg-6">
      <p>Die <a href="http://www.abk-stuttgart.de/" title="Homepage Staatliche Akademie der Bildenden Künste Stuttgart">Staatliche Akademie der Bildenden Künste Stuttgart</a> ist mit ihrer mehr als 250-jährigen Geschichte eine der größten Kunsthochschulen in Deutschland. Nach dem Baden-Württembergischen Landeshochschulgesetz ist die Stuttgarter Akademie den Universitäten gleichgestellt. Bereits 1770 wurde die neun Jahre zuvor von Herzog Carl Eugen von Württemberg gegründete Académie des Arts der Hohen Carlsschule eingegliedert, die 1782 in den Universitätsrang erhoben wurde. Das damit verbundene Promotionsrecht wird seit 2002 praktiziert.</p> 

<p>Die Staatliche Akademie der Bildenden Künste Stuttgart hat das Promotionsrecht auf den Gebieten der Architektur (Dr.-Ing.), der Kunstwissenschaften, der Medientheorie, der Kunstpädagogik und der Ästhetik (Dr. phil.).</p>

<p>Seit 2018 erscheinen die mit dem Prädikat &bdquo;summa cum laude&ldquo; ausgezeichneten Dissertationen unter dem gemeinsamen Titel &bdquo;Stuttgarter Akademieschriften&ldquo; durch die Universitätsbibliothek Heidelberg.</p>
 
      
      
   <div class="widget">
        <ul class="tags">
          <li>{{=A(T('Volumes'),_href=URL('catalog','series/sas'))}} 
          </li>
        </ul>
      </div>
      
<p>Weitere an der Staatlichen Akademie der Bildenden Künste abgeschlossene Dissertationen finden Sie gesammelt auf der <a href="http://archiv.ub.uni-heidelberg.de/artdok/view/collections/c-13.html" title="Homepage arthistoricum.net; Liste der Dissertationen an der Staatlichen Akademie der Bildenden Künste">Publikationsplattform ART-Dok</a>.</p>      
    </div>
    
    <div class="col-lg-3">
      <div id="infoBoxRechts">
        <p><b>Kontakt</b><br>
        Prof. Dr. Nils Büttner<br>
        Campus Weißenhof: Altbau<br>
        Raum 317<br>
        Am Weißenhof 1<br>
        70191 Stuttgart<br>
        nils.buettner@abk-stuttgart.de
        </p>
        <p><b>ISSN</b></p>
        <p>ISSN 2626-3785 (Print)<br>
       ISSN 2626-3793 (online)</p>
      </div>
    </div>
    {{elif session.forced_language =='en': }} 
    <div class="col-lg-6">
      <p>
      The <a href="http://www.abk-stuttgart.de/en.html" title="Homepage Stuttgart State Academy of Art and Design">Stuttgart State Academy of Art and Design</a>, with a history extending back over 250 years, is one of the largest art academies in Germany. Its status is equivalent to that of a scientific university, according to Baden-Württemberg federal state law. Already in 1770 the Académie des Arts founded nine years previously by Duke Carl Eugen of Württemberg became affiliated to the Carlsschule, which was granted university status in 1782. The associated right to award doctorates has been practiced since 2002. The Stuttgart State Academy of Art and Design has the right to award doctor titles in the fields of architecture (Dr.-Ing.), history of art, media studies, visual arts education and aesthetics (Dr. phil.).
      


<p>Since 2018 PhD dissertations graded “summa cum laude” are published under the common title “Stuttgarter Akademieschriften” by Heidelberg University Library.</p>

     
      <div class="widget">
        <ul class="tags">
          <li>{{=A(T('Volumes'),_href=URL('catalog','series/sas'))}} 
          </li>
        </ul>
      </div>
  <p>Other dissertations completed at the State Academy of Arts and Design can be found on the publication platform  <a href="http://archiv.ub.uni-heidelberg.de/artdok/view/collections/c-13.html" title="Homepage arthistoricum.net; dissertations completed at the State Academy of Arts and Design">Publikationsplattform ART-Dok</a>.</p>
  
    </div>
    
    <div class="col-lg-3">
      <div id="infoBoxRechts">
        <p><b>Contact</b><br>
        Prof. Dr. Nils Büttner<br>
        Campus Weißenhof: Altbau<br>
        Raum 317<br>
        Am Weißenhof 1<br>
        70191 Stuttgart<br>
        nils.buettner@abk-stuttgart.de
        </p>
        <p><b>ISSN</b></p>
        <p>ISSN 2626-3785 (Print)<br>
       ISSN 2626-3793 (online)</p>

      </div>
    </div>
    {{pass}}
  </div>   
  </div>

