{{extend 'layout.html'}}

<div id="main" class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>  {{if session.forced_language =='de': }}
                Passages online 
                {{elif session.forced_language =='en': }}
                Passages online  
            {{pass}}
            </h3>
        </div>

         {{if session.forced_language =='de': }}
        
<div class="col-lg-9">
<p>Die Schriftenreihe des Zentralarchivs bietet eine Plattform für wissenschaftliche Publikationen zur Geschichte der Staatlichen Museen zu Berlin, vormals Königliche Museen beziehungsweise preußische Kunstsammlungen, und zu ihrer seit der Gründung 1830 eng mit Berlin verknüpften Entwicklung. Das Themenspektrum der Reihe ist so breit angelegt wie die Berliner Museen selbst mit ihren Sammlungen der europäischen und außereuropäischen Kunst, Archäologie und Ethnologie. In der Reihe erscheinen thematische Sammelbände, kritische Quelleneditionen sowie Einzeldarstellungen zu Sammlungen, Personen, Museumsgebäuden oder damit inhaltlich verbundenen Fragestellungen.</p>
<p>Das Zentralarchiv versteht sich als "historisches Gedächtnis" der Staatlichen Museen zu Berlin und als ein Ort, an dem Forschungen zur Museumsgeschichte durch die hier bewahrten archivalischen Quellen ermöglicht, befördert und publiziert werden. </p>
<ul>
<!--
<div class="widget">
         <ul class="tags">
             <li>
                {{=A(T('Volumes'),_href=URL('catalog','series/sgbm'))}}
            </li>
         </ul>
</div>
-->
</div>

 <div class="col-lg-3">
 <!--
         <div id="infoBoxRechts"> 
         <p>{{=IMG(_src=URL('static','images/partner/dfk_logo.png'),_width='230px')}}</p><br>
         <p><b>Herausgeber</b><br>
         <a class="extern" href="https://dfk-paris.org/de/person/thomas-kirchner-323.html" title="Homepage Deutschen Forums für Kunstgeschichte Paris, Informationen über Thomas Kirchner">Thomas Kirchner</a>, Paris
         </p>
         <p><b>Kontakt</b><br>
         Markus A. Castor<br>
         Deutsches Forum für Kunstgeschichte Paris<br>
         E-Mail:  mcastor@dfk-paris.org<br>
         <a class="extern" href="https://dfk-paris.org" title="Homepage Deutsches Forum für Kunstgeschichte Paris">https://dfk-paris.org</a>
        <p><b>ISSN</b></p>
        <p>ISSN 2569-0949 (Print)<br>
        ISSN 2568-9649 (online)</p>
         </div>
		 -->
 </div>

        {{elif session.forced_language =='en': }}
 
<div class="col-lg-9">
<p>The publication series of the Zentralarchiv offers a platform for scientific publications on the history of the Staatliche Museen zu Berlin, formerly Royal Museums or Prussian art collections and on their development, which has been closely linked to Berlin since their foundation in 1830. The range of topics in the series is as broad as the Berlin museums themselves with their collections of European and non-European art, archaeology and ethnology. The series includes thematic anthologies, editions of archival sources as well as studies of collections, people, museum buildings or related questions.</p>
<p>The Zentralarchiv sees itself as a "historical memory" of the Staatliche Museen zu Berlin and as a place where research on museum history is made possible, promoted and published by the archival sources preserved there.</p>

<!--  
  <div class="widget">
           <ul class="tags">
             <li>
              {{=A(T('Volumes'),_href=URL('catalog','series/sgbm'))}}
            </li>
          </ul>
          <hr>   
  </div> 
  -->

<div class="col-lg-3">
<!--
  <div id="infoBoxRechts">
  <p>{{=IMG(_src=URL('static','images/partner/dfk_logo.png'),_width='230px')}}</p><br>
  <p><b>Series editor</b><br>
  <b>Directeur de la collection</b><br>
  <a class="extern" href="https://dfk-paris.org/de/person/thomas-kirchner-323.html" title="Page web Deutschen Forums für Kunstgeschichte Paris, informations sur Thomas Kirchner">Thomas Kirchner</a></p>
  <p><b>Contact</b><br>
  Markus A. Castor<br>
  Centre allemand d’histoire de l’art Paris,<br>
  E-Mail:  mcastor@dfk-paris.org<br>
  <a href="https://dfk-paris.org" title="Homepage Deutsches Forum für Kunstgeschichte Paris">https://dfk-paris.org</a>
  <p><b>ISSN</b></p>
    <p>ISSN 2569-0949 (Print)<br>
       ISSN 2568-9649 (online)</p>
  </div>
-->
</div> 



{{pass}}


</div>
</div>

