{{extend 'layout.html'}}

<div id="main" class="container">
  <div class="row">
    <div class="col-lg-12">
  	{{if session.forced_language =='de': }}
  	  <h3>Arbeitskreis Theorie und Lehre der Denkmalpflege e.V.</h3>
  	{{elif session.forced_language =='en': }}
  	  <h3>Working Group on Theory and Education in Heritage Conservation</h3>
  	{{pass}}
  </div>
  </div>
 <div class="row">   
  <div class="col-lg-3">                           
    <article>
    <div class="post-image">
    {{=IMG(_src=URL('static','files/presses/2/monographs/374/simple/cover.jpg'),_width='250px')}}
    </div>
    </article>
  </div>  
    {{if session.forced_language =='de': }} 
  <div class="col-lg-6">
      <p>Der Arbeitskreis ist der Verband der Hochschullehrer*innen und anderer Fachleute, die auf dem Gebiet der Denkmalpflege an Universitäten und Fachhochschulen lehren und forschen. Dem interdisziplinären Charakter der Aufgaben in der Denkmalpflege folgend, sind darin unterschiedliche berufliche Fachrichtungen vertreten: Architektur und Bauforschung, Kunst-, Geschichts- und Restaurierungswissenschaft, Landschaftsarchitektur, Bauingenieurwesen, Rechtswissenschaft, Stadtplanung und andere. </p>
      <p>Mit derzeit rund 140 Mitgliedern – hauptsächlich aus den deutschsprachigen Ländern Deutschland, Österreich, Schweiz und Luxemburg, aber auch aus Italien, Belgien, den Niederlanden, England, Slowakei, Kroatien, Rumänien und Estland – widmet sich der Arbeitskreis seit den 1970er Jahren dem kollegialen Erfahrungs- und Gedankenaustausch zur Theorie und Hochschullehre der Denkmalpflege. Er versteht sich als ein Vertreter für denkmalpflegerische Fachinteressen und sieht seine Aufgabe darin, neue Herausforderungen und Gefährdungen der denkmalpflegerischen Anliegen zu erörtern und dazu auch in der Öffentlichkeit Stellung zu beziehen. Die Jahrestagungen beschäftigen sich mit einem aktuellen Thema aus der Theoriediskussion der Denkmalpflege oder einem ausgewählten Denkmälerkomplex. Der Arbeitskreis ist Mitglied im Deutschen Nationalkomitee für Denkmalschutz (DNK).</p>
      <div class="widget">
        <ul class="tags">
          <li>{{=A(T('Volumes'),_href=URL('catalog','series/vatld'))}} 
          </li>
        </ul>
      </div>
  </div>
  <!--<div class="col-lg-3">
      <div id="infoBoxRechts">
	    <p>{{=IMG(_src=URL('static','images/partner/dhfgk_logo.png'),_width='230px')}}</p><br>
        <p><b>Herausgeber</b></p>
      <p>Prof. Dr.-Ing. Piotr Kuroczyński (Chefredakteur), Architekturinstitut, Hochschule Mainz – University of Applied Sciences<br />
      <p>Prof. Dr. Peter Bell, Institut für Kunstgeschichte, Friedrich-Alexander-Universität Erlangen-Nürnberg</p>
      <p>Dr. Lisa Dieckmann, Kunsthistorisches Institut der Universität zu Köln</p>
      <p>Prof. Dr. Stephan Hoppe, Institut für Kunstgeschichte, Ludwig-Maximilians-Universität München</p>
      <p>Dr. Sander Münster, Medienzentrum, Technische Universität Dresden</p>
      <p><b>ISSN</b></p>         
      <p>ISSN 2626-9538 (Print)<br>
         ISSN 2626-9546 (online)</p>
      </div>
    </div>-->
    {{elif session.forced_language =='en': }} 
    <div class="col-lg-6">
      <p>The Working Group is an association of academics and other professionals active in the field of heritage conservation at universities and colleges of applied sciences in Europe. In keeping with the interdisciplinary character of conservation work, the Group brings together representatives of a range of different areas, including architecture and building archaeology, history and art history, restoration sciences, landscape architecture, construction engineering, jurisprudence and urban planning, among others. </p> 
      <p>The Working Group’s nearly 140 members are drawn primarily from the German-speaking countries – in addition to Germany, also Austria, Switzerland and Luxemburg – but also from Italy, Belgium, the Netherlands, England, Slovakia, Croatia and Romania. Since the 1970s it has been dedicated to the exchange of ideas and experience on the theory and teaching of heritage conservation among colleagues at institutions of higher education. The Group sees itself as representing the interests of heritage professionals and as such is a member of the German National Committee for Monuments Protection (DNK).</p>
      <div class="widget">
        <ul class="tags">
          <li>{{=A(T('Volumes'),_href=URL('catalog','series/vatld'))}} 
          </li>
        </ul>
      </div>
    </div>
    <!--<div class="col-lg-3">
      <div id="infoBoxRechts">
	    <p>{{=IMG(_src=URL('static','images/partner/dhfgk_logo.png'),_width='230px')}}</p><br>
                <p><b>Editors</b></p>
      <p>Prof. Dr.-Ing. Piotr Kuroczyński (editor-in-chief), Institute of Architecture, Hochschule Mainz – University of Applied Sciences<br />
      <p>Prof. Dr. Peter Bell, Institute of Art History, Friedrich-Alexander-University Erlangen-Nuremberg</p>
      <p>Dr. Lisa Dieckmann, Institute of Art History at Cologne University</p>
      <p>Prof. Dr. Stephan Hoppe, Institute of Art History, Ludwig-Maximilian-University Munich</p>
      <p>Dr. Sander Münster, Media Center, Technical University Dresden</p>
      <p><b>ISSN</b></p>         
      <p>ISSN 2626-9538 (Print)<br>
         ISSN 2626-9546 (online)</p>
      </div>-->
    </div>
    {{pass}} 
  </div>
</div>
