{{extend 'layout.html'}}

<div id="main" class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>  {{if session.forced_language =='de': }}
                Veröffentlichungen des Mathematisch-Physikalischen Salons  
                {{elif session.forced_language =='en': }}
                Veröffentlichungen des Mathematisch-Physikalischen Salons
            {{pass}}
            </h3>
       </div>

                {{if session.forced_language =='de': }}


<div class="col-lg-9">   
<p>Der <a href="http://www.skd.museum/?id=82" title="Mathematisch-Physikalische Salon">Mathematisch-Physikalische Salon (MPS)</a> der <a href="https://www.skd.museum/" title="Staatlichen Kunstsammlungen Dresden">Staatlichen Kunstsammlungen Dresden</a> wurde 1728 gegründet und zählt heute zu den weltweit bedeutendsten Sammlungen historischer wissenschaftlicher Instrumente. Die Museumssammlung umfasst Uhren und Automaten, Erd- und Himmelgloben, Brennspiegel sowie mathematische Instrumente.  Als Teil der königlich-sächsischen Kunstsammlungen entstand er durch das Technikinteresse sächsischer Monarchen für mathematische und physikalische Instrumente, weitere Gründe waren Repräsentationsbedürfnis und Gefallen an mechanischen Spielwerken.</p>
<p>In den erstmals 1960 erschienenen "Veröffentlichungen des Mathematisch-Physikalischen Salons" werden Schriften veröffentlicht, deren Inhalt mit den vielseitigen Sammelgebieten des Museums und Forschungsinstitutes wissenschaftlich und museumstechnisch in engem Zusammenhang stand.</p>
<div class="widget">
         <ul class="tags">
                            <li>
                               {{=A(T('Volumes'),_href=URL('catalog','series/vmps'))}}
                            </li>

        </ul>
</div>
</div>

<div class="col-lg-3">
  <div  id="infoBoxRechts">
  <p>{{=IMG(_src=URL('static','images/partner/skd_logo.png'),_width='230px')}}</p>
                <br>
                <p><b>Kontakt</b><br>
                Dr. Michael Korey<br>
                Kurator<br>
                Mathematisch-Physikalischer Salon<br>
                Zwinger<br>
                D-01067 Dresden<br><br>
                Tel.: +49 351 4914 6661<br>
                Fax: +49 351 4914 6666<br>
                E-Mail: mps@skd.museum<br>
                E-Mail: Michael.Korey@skd.museum</p>
   </div>
</div>

                     {{elif session.forced_language =='en': }}
<div class="col-lg-9">   
<p>Der <a href="http://www.skd.museum/?id=82" title="Mathematisch-Physikalische Salon">Mathematisch-Physikalische Salon (MPS)</a> der <a href="https://www.skd.museum/" title="Staatlichen Kunstsammlungen Dresden">Staatlichen Kunstsammlungen Dresden</a> wurde 1728 gegründet und zählt heute zu den weltweit bedeutendsten Sammlungen historischer wissenschaftlicher Instrumente. Die Museumssammlung umfasst Uhren und Automaten, Erd- und Himmelgloben, Brennspiegel sowie mathematische Instrumente.  Als Teil der königlich-sächsischen Kunstsammlungen entstand er durch das Technikinteresse sächsischer Monarchen für mathematische und physikalische Instrumente, weitere Gründe waren Repräsentationsbedürfnis und Gefallen an mechanischen Spielwerken.</p>
<p>In den erstmals 1960 erschienenen "Veröffentlichungen des Mathematisch-Physikalischen Salons" werden Schriften veröffentlicht, deren Inhalt mit den vielseitigen Sammelgebieten des Museums und Forschungsinstitutes wissenschaftlich und museumstechnisch in engem Zusammenhang stand.</p>
<div class="widget">
         <ul class="tags">
                            <li>
                               {{=A(T('Volumes'),_href=URL('catalog','series/vmps'))}}
                            </li>

        </ul>
</div>
</div>

<div class="col-lg-3">
  <div  id="infoBoxRechts">
  <p>{{=IMG(_src=URL('static','images/partner/skd_logo.png'),_width='230px')}}</p>
                <br>
                <p><b>Kontakt</b><br>
                Dr. Michael Korey<br>
                Kurator<br>
                Mathematisch-Physikalischer Salon<br>
                Zwinger<br>
                D-01067 Dresden<br><br>
                Tel.: +49 351 4914 6661<br>
                Fax: +49 351 4914 6666<br>
                E-Mail: mps@skd.museum<br>
                E-Mail: Michael.Korey@skd.museum</p>
   </div>
</div>


{{pass}}

        </div>
    </div>


