{{extend 'layout.html'}}
{{from ompformat import formatCitation, formatContributors, formatName, dateFromRow, dateToStr, formatONIXDate, formatONIXDateWithText, coverImageLink, downloadLink, haveMultipleAuthors}}
{{from ompdal import OMPDAL}}
{{from ompstats import OMPStats}}
{{stats = OMPStats(myconf,db, locale)}}


<div id="main" class="container">
	<section id="content">
	  <div style="height: 20px"></div>
	  <div class="container">
	    <div class="row">
	      <div class="col-lg-3">
	        <article>
	          <div class="post-image">
	            {{=IMG(_src=coverImageLink(request, press.press_id, submission.submission_id))}}
	          </div>
	        </article>
	        {{cleanTitle = " ".join([submission_settings.getLocalizedValue('prefix', locale), submission_settings.getLocalizedValue('title', locale)])}}
	    	{{subtitle = submission_settings.getLocalizedValue('subtitle', locale)}}
	    	{{abstract = submission_settings.getLocalizedValue('abstract', locale)}}
	    	{{if series:}}
	    		{{series_title = " ".join([series.settings.getLocalizedValue('prefix', locale), series.settings.getLocalizedValue('title', locale)])}}
				{{series_subtitle = series.settings.getLocalizedValue('subtitle', locale)}}
				{{series_name = " – ".join([t for t in [series_title.strip(), series_subtitle] if t])}}
			{{else:}}
				{{series_name = ""}}
	    	{{pass}}
	        <div class="box">
	          <div class="box-gray alignleft" style="height: auto;">
	            <h5 style="color: #656565; margin-bottom: 0.5em;">{{=T('How to cite this title')}}</h5>
	            <p>
	            {{digital_dates=[dateFromRow(pd) for pf in digital_publication_formats for pd in pf.associated_items.get('publication_dates')]}}
	            {{if digital_dates:}}
	            	{{citation_year=dateToStr(min(digital_dates), locale, "%Y")}}
	            {{else:}}
	            	{{citation_year=""}}
	            {{pass}}
	            {{=formatCitation(cleanTitle, subtitle, authors, editors, citation_year, press_settings.getLocalizedValue('location', ''), press_settings.getLocalizedValue('publisher', ''), doi, locale, series_name=series_name, series_pos=submission.series_position, max_contrib=3)}}
	            {{=A(doi, _href="http://dx.doi.org/"+doi)}}
	            </p>
	            {{identification_codes = [i for i in [pf.associated_items.get('identification_codes', []) for pf in digital_publication_formats+physical_publication_formats] if i]}}
	            {{if identification_codes:}}
	            	<h5 style="color: #656565; margin-bottom: 0.5em; margin-top: 1.2em;">ISBN</h5>
	            {{pass}}
	            {{for pf in digital_publication_formats+physical_publication_formats:}}
	           	  <p style="margin:0px">
	              {{for identification_code in pf.associated_items.get('identification_codes', []):}}
	                {{=identification_code.value}} ({{=pf.settings.getLocalizedValue('name', locale)}})
	                <br>
	              {{pass}}
	              </p>
	            {{pass}}
	            <p style="margin-top: 1.2em">{{=T('Published')}} {{=dateToStr(submission.date_status_modified, locale, "%x")}}.</p>
	            {{pass}}
	            {{publication_dates = [(pf, pd) for pf in digital_publication_formats+physical_publication_formats for pd in pf.associated_items.get('publication_dates') if pd.role == "01"]}}
	            {{if publication_dates:}}
	            	<b>{{=T('Published as')}}:</b>
	            	{{for pf, pd in publication_dates:}}
	            		<p style="margin:0px">{{=pf.settings.getLocalizedValue('name', locale)}} {{=formatONIXDate(pd, locale, "%Y")}}</p>
	            	{{pass}}
	            {{pass}}
	            {{if date_of_first_publication:}}
	            	<p style="margin-top: 1.2em">{{=T('Originally published')}} {{=formatONIXDate(date_of_first_publication, locale, "%Y")}}{{if publisher_of_first_publication:}} {{=T('by')}} {{=publisher_of_first_publication}}{{pass}}.</p>
	            {{pass}}
              
               {{if stats.checkOASService():}}
                {{file_types= ['pdf','xml']}}
                {{chapter_html = stats.getChapterHTMLTable(submission_id, file_types)}}
                <div id="oas-widget" class="applied-to-ojs">
                  <div class="btn btn-default" id="statistik-button">{{=T('Statistik since 07.03.16')}}</div> <br/>
                  <div style="display:none" class="table" id="oas">
                    <ul class="nav nav-tabs">
                      <li class="active"><a href="#full" data-toggle="tab"><i class="icon-briefcase"></i> {{=T('Book')}}</a></li>
                      {{if len(chapter_html)> 1:}} <li class=""><a href="#chapters" data-toggle="tab">{{=T('Chapters')}}</a></li> {{pass}}
                    </ul>
                    <div class="tab-content">
                      <div class="tab-pane active" id="full">
                        <table class="table">
                          {{=stats.getFullHTMLTable(submission_id,file_types)}}
                        </table>
                      </div>
                      {{if len(chapter_html)> 1:}}
                      <div class="tab-pane" id="chapters">
                        <table class="table">  {{=chapter_html }}</table>
                      </div>
                      {{pass}}
                    </div>
                  </div>
                </div>
                <script type="text/javascript">
                $('#statistik-button').click(function(){
                $('#oas').slideToggle()
                });
                </script>
                {{pass}}

	          </div>
	        </div>
	      </div>
	      
	      
	    </div>
	  </div>
	</section>
</div>

                 
