{{extend 'layout.html'}}
{{from customFormat import formatAuthor, formatDate, formatPublicationDate, downloadLink}}

<div id="main" class="container">

<section id="content">
  <div style="height: 20px"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <article>
          <div class="post-image">
            {{=IMG(_src=cover_image)}}
          </div>
        </article>
        {{cleanTitle = " ".join([submission_settings.getLocalizedValue('prefix', locale), submission_settings.getLocalizedValue('title', locale)])}}
    	{{subtitle = submission_settings.getLocalizedValue('subtitle', locale)}}
    	{{abstract = submission_settings.getLocalizedValue('abstract', locale)}}
        <div class="box">
          <div class="box-gray alignleft" style="height: auto;">
            <h5 style="color: #656565; margin-bottom: 0.5em;">{{=T('How to cite this title')}}</h5>
            <p>
			{{if editors:}}
			  {{contributors=editors}}
			  {{if len(editors)==1:}}
			    {{format_string="{}, "+T('ed')+"."}}
			  {{else:}}
			    {{format_string="{} "+T('and')+" {}, "+T('eds')+"."}}
			  {{pass}}
			{{elif authors:}}
	                  {{contributors=authors}}
	                  {{if len(authors) == 1:}}
	                    {{format_string="{}."}}
	                  {{else:}}
	                    {{format_string="{} "+T('and')+" {}."}}
	                  {{pass}}
			{{pass}}
			{{if len(contributors)==1:}}
			  {{e=contributors[0]}}
			  {{=format_string.format(e.attributes.last_name+", "+" ".join([e.attributes.first_name, e.attributes.middle_name]).strip())}}
			{{elif len(contributors) == 2:}}
	                  {{last=contributors[-1]}}
	                  {{contributors=contributors[:-1]}}
	                  {{=format_string.format(T(', ').join([formatAuthor(e.attributes, reverse=True) for e in contributors]), formatAuthor(last.attributes))}}
			{{elif len(contributors) > 2:}}
			  {{first=contributors[0]}}
			  {{second=contributors[1]}}
			  {{last=contributors[2]}}
			  {{if len(contributors) > 3:}}
			    {{add="et al"}}
			  {{else:}}
			    {{add=""}}
			  {{pass}}
			  {{=format_string.format(T(', ').join([formatAuthor(first.attributes, reverse=True).strip(), 
											formatAuthor(second.attributes)]), 
										formatAuthor(last.attributes)+add)}}
			{{pass}}
            <i>{{=cleanTitle}}
            	{{if len(subtitle)>0:}}
                : {{=subtitle}}
                {{pass}}
            </i>
              {{=press_settings.getLocalizedValue('name', locale)}},
            </p>
            {{if doi:}}
            <p>
              DOI: <a href="http://dx.doi.org/{{=doi}}" title="DOI: {{=cleanTitle}}, {{=press_settings.getLocalizedValue('name', locale)}}, 2015">{{=doi}}</a>
            </p>
            {{pass}}
            {{identification_codes = [i for i in [pf.associated_items.get('identification_codes', []) for pf in digital_publication_formats+physical_publication_formats] if i]}}
            {{if identification_codes:}}
            	<h5 style="color: #656565; margin-bottom: 0.3em; margin-top: 1.2em;">ISBN</h5>
            {{pass}}
            {{for pf in digital_publication_formats+physical_publication_formats:}}
           	  <p>
              {{for identification_code in pf.associated_items.get('identification_codes', []):}}
                {{=identification_code.value}} ({{=pf.settings.getLocalizedValue('name', locale)}})
              	<br>
              {{pass}}
              </p>
            {{pass}}
            {{for pf in digital_publication_formats+physical_publication_formats:}}
            	{{publication_dates = pf.associated_items.get('publication_dates')}}
            	{{for pd in publication_dates:}}
            		{{if pd.role == "01":}}
            			<p>{{=formatPublicationDate(pd, locale, pf)}}</p>
            		{{pass}}
            	{{pass}}
            {{pass}}
             <!---a data-toggle="modal" class="btn btn-info" href="../../../cgi-bin/oastats.cgi?repo=omphp" data-target="#myModal">{{=T('')}}</a-->
           <div id="oas-widget" class="applied-to-ojs">
           <div class="btn btn-default" id="statistik-button">{{=T('Statistics since 07.03.16')}}</div> <br/>
           <div style="display:none" class="table" id="oas">
             
              <ul class="nav nav-tabs">
                     <li class="active"><a href="#one2" data-toggle="tab"><i class="icon-briefcase"></i> {{=T('Book')}}</a></li>
                     <li class=""><a href="#two2" data-toggle="tab">{{=T('Chapters')}}</a></li>
                   </ul>
                   <div class="tab-content">
                     <div class="tab-pane active" id="one2">
                       <table class="table">
                         {{file_ids=[]}}
                       </table>
                     </div>
                     <div class="tab-pane " id="two2">
                       <table class="table" style="width: inherit">
                        </table>
                     </div>
                    </div>
           </div>
           
           <div id="error"></div>
            </div>

          </div>

        </div>
      </div>
      <div class="col-lg-9">
        <article>
          	<div class="">
              {{for pf in digital_publication_formats:}}
              	{{full_file = pf.associated_items.get('full_file')}}
              	{{if full_file and "html" in full_file.file_type:}}
              		<div class="btn-group" role="group" aria-label="1">
              			<li type="button" class="btn btn-default"><a href={{=downloadLink(myconf.take('web.application'), full_file)}} target="_blank">{{=T('Read')}}</a></li>
              		</div>
              	{{pass}}
              {{pass}}
              {{if [pf.associated_items.get('full_file', None).file_type != "text/html" for pf in digital_publication_formats if pf.associated_items.get('full_file', None)].count(True):}}
              	<div class="btn-group" role="group" aria-label="2">
              	  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                	{{=T('Download')}}
                	<span class="caret"></span>
              	  </button>
	              {{for pf in digital_publication_formats:}}
	              	{{full_file = pf.associated_items.get('full_file')}}
	              	{{if full_file and not "html" in full_file.file_type:}}
	             		<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
	                		<li role="presentation"><a role="menuitem" tabindex="-1" href={{=downloadLink(myconf.take('web.application'), full_file)}}>PDF</a></li>
	              		</ul>
	              	{{pass}}
	              {{pass}}
			  {{pass}}
            </div>
            
            <div class="btn-group" role="group" aria-label="2">
	        {{if representatives:}}
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
              	{{=T('Purchase')}}
              	<span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                {{for i in representatives:}}
                	<li role="presentation"><a role="menuitem"  href="{{=i.url}}" target='_blank'>{{=i.name}}</a></li>
                {{pass}}
              </ul>
            {{pass}}
            </div>
            
            <div class="post-heading">
              <br/>
              <h5>
              {{if editors:}}
		      	{{=", ".join([formatAuthor(e.attributes) for e in editors[:3]])}}
		      	{{if len(editors) > 1:}}
					{{if len(editors) > 3:}}
						{{=" et al. "}}
					{{pass}}
					{{=T("(eds)")}}
		      	{{else:}}
					{{=T("(ed.)")}}
		      	{{pass}}
		   	  {{else:}}
		      	{{=", ".join([formatAuthor(e.attributes) for e in authors[:3]])}}
		      	{{if len(authors) > 3:}}
					{{=" et al. "}}
				{{pass}}
		   	  {{pass}}
              </h5>
            </div>
            <h3>{{=XML(cleanTitle)}}</h3>
            <h4>{{=subtitle}}</h4>
            <p>
              <i class="icon-quote-left"></i>
              {{=XML(abstract)}}
            </p>
    	  	{{bios = [e.settings.getLocalizedValue('biography', locale) for e in editors]}}
    	  	{{bios_role = "editor"}}
    	  	{{if bios == []:}}
    	  		{{bios = [a.settings.getLocalizedValue('biography', locale) for a in authors]}}
    	  		{{bios_role = "author"}}
    	  	{{pass}}
	   	  	{{if bios:}}
	   	  		{{num_bios = len([b for b in bios if b != ""])}}
            	{{if num_bios != 0:}}
	            	<p>
	            		<h5>
	            		{{if num_bios == 1:}}
	            			{{=T('About the {}:'.format(bios_role))}}
	            		{{else:}}
	            			{{=T('About the {}s:'.format(bios_role))}}
	            		{{pass}}
	            		</h5>
	            		{{=XML("<br>".join(bios))}}
	            	</p>
            	{{pass}}
          	{{pass}}
          </div>

          <div class="widget">
            <h5 class="widgetheading"></h5>
            <ul class="tags">
            </ul>
          </div>
          
          <div class="widget">
            {{if len(chapters) > 0:}}
            <div id="downloadTable" style="display:table">
            	<div style="display:table-row">
            		<div style="display:table-cell">{{=T('Contents')}}</div>
            		{{for pf in digital_publication_formats:}}
            			<div style="display:table-cell">{{=TD(pf.settings.getLocalizedValue('name', locale))}}</div>
            		{{pass}}
            	</div>
            	{{for c in chapters:}}
                	{{c_title = c.settings.getLocalizedValue('title', locale)}}
                	{{c_subtitle = c.settings.getLocalizedValue('subtitle', locale)}}
                	{{c_authors = c.associated_items.get('authors', [])}}
                	{{c_files = c.associated_items.get('files', [])}}
            	<div style="display:table-row">
            		<div style="display:table-cell">
            			{{=c_title}}
            			{{if c_subtitle:}}
            				<br>{{=c_subtitle}}
            			{{pass}}
            			{{if c_authors:}}
            				<br>{{=", ".join([formatAuthor(a.attributes) for a in c_authors])}}
            			{{pass}}
            		</div>
            		{{for pf in digital_publication_formats:}}
            			<div style="display:table-cell">
            				{{if c_files:}}
            					{{c_file = c_files.get(pf.attributes.publication_format_id)}}
            					{{if c_file:}}
            						{{=A(I(_class="fa fa-file-text-o"), _href=downloadLink(myconf.take('web.application'), c_file))}}
            					{{pass}}
            				{{pass}}
						</div>
            		{{pass}}
            	</div>
            	{{pass}}
            </div>
            {{pass}}
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
</section>

<script>
  var ids={{=XML(file_ids)}};
  var full_xml, full_pdf;
   {{ if 'full_xml' in  locals():}}
    full_xml = "{{=full_xml}}";
  {{pass}}
  {{ if 'full_pdf' in  locals():}}
    full_pdf= "{{=full_pdf}}";
  {{pass}}
</script>
<script src="{{=URL(myconf.take('web.application'),'static','js/stats.js')}}" data-ids="{{=XML(file_ids)}}" data-full_pdf=full_pdf data-full_xml=full_xml ></script>
