{{extend 'layout.html'}}
{{import re, os}}
<div id="main" class="container">
<section id="content">
    <div style="height: 20px"></div>
    {{for entry in order:}}
    <div class="container" height="400px">
        <div class="row">
            <div class="col-lg-3">
                <article>
                    <div class="post-image">
			{{
    				cover_image=''
    				path=request.folder+'static/monographs/'+str(entry)+'/simple/cover.'
    				for t in ['jpg','png','gif']:
        				if os.path.exists(path+str(t)):
                				cover_image= URL(myconf.take('web.application'), 'static','monographs/' + str(entry) + '/simple/cover.'+str(t))
					pass
				pass
			}}
                        {{=IMG(_src=cover_image)}}
                    </div>
                </article>
            </div>
            <div class="col-lg-9">
                <article>
                    <div class="post-heading">
                        <h4>
                        {{if subs[entry]['editors']:}}
                            {{=", ".join([" ".join([e.first_name, e.middle_name, e.last_name]) for e in subs[entry]['editors']])}}
                                        {{if len(subs[entry]['editors']) > 1:}}
                                            {{=T("(eds)")}}
                                        {{else:}}
                                            {{=T("(ed.)")}}
                                        {{pass}}
                        {{else:}}
                            {{=", ".join([" ".join([e.first_name, e.middle_name, e.last_name]) for e in subs[entry]['authors'][:3]])}}{{if len(subs[entry]['authors']) > 3:}}, et. al.{{pass}}
                        {{pass}}
                        </h4>
                        <h4>{{=subs[entry]['title']}}<br />
                            {{=subs[entry]['subtitle']}}</h4>
                        <p>
                        {{if 'publication_date' in subs[entry]:}}{{=subs[entry]['publication_date'][:4]}}<br/>{{pass}}
                        {{if subs[entry].has_key('series_id'):
                            series_subtitle = series_info[subs[entry]['series_id']]['subtitle']
                            series_title = series_info[subs[entry]['series_id']]['title']
                        }}
                        <i>{{=series_title}}{{ if series_subtitle: }} – {{=series_subtitle}}{{pass}}{{if subs[entry]['series_position']:}},  {{=T('Vol.')}} {{=subs[entry]['series_position']}} {{pass}}</i>
                        {{pass}}
                        </p>
                    </div>
                    <p>
                        <i class="icon-quote-left"></i>
                        {{#=re.compile(r'<[^>]+>').sub('',subs[entry]['abstract'])}}
                        {{=XML(subs[entry]['abstract'])}}
                    </p>
                    <div class="widget">
                        <h5 class="widgetheading"></h5>
                        <ul class="tags">
                            {{if session.forced_language =='de': }}
                            <li><a href="{{=URL(myconf.take('web.application'),'catalog','book/'+str(entry))}}">{{=T('Mehr' )}}</a></li>
                            {{elif session.forced_language =='en': }}
                            <li><a href="{{=URL(myconf.take('web.application'),'catalog','book/'+str(entry))}}">{{=T('More Information' )}}</a></li>
                            {{pass}}
                        </ul>
                    </div>
                </article>
            </div>
        </div>
    </div>
    {{pass}}
</section>
</div>
