{{extend 'layout.html'}}
<div id="main" class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>  {{if session.forced_language =='de': }}
                Vorschau 
                {{elif session.forced_language =='en': }}
                Preview
            {{pass}}
            </h3>
        </div>   
	</div>

<section id="content">

      <div class="row" id="schulte">
				  <div class="col-lg-2">
					<article>
						<div class="post-image">
						{{=IMG(_src=URL('static','images/catalog/cover_schulte.jpg'),_style='width:230px')}}
						</div>
					</article>
				</div>

				<div class="col-lg-9">
					<article>
						<div class="post-heading">
						    <b>Judith Schulte<br />
							Der Vietnamkrieg im Fotoessay</b><br />
							Larry Burrows zwischen Propaganda und kritischer Kriegsfotografie
						</div>

						<p style="margin-top: 1em;">
						    {{if session.forced_language =='de': }}
							Erscheint Herbst 2019
							{{elif session.forced_language =='en': }}
							Coming in Autumn 2019
							{{pass}}
						</p>
					</article>
				</div>
			</div>   

      <div class="row" id="koehren">
				  <div class="col-lg-2">
					<article>
						<div class="post-image">
						{{=IMG(_src=URL('static','images/catalog/cover_koehren.jpg'),_style='width:230px')}}
						</div>
					</article>
				</div>

				<div class="col-lg-9">
					<article>
						<div class="post-heading">
						    <b>Leonie Köhren<br />
							Ein neues Gesicht für Frankfurt</b><br />
							Die Bedeutung der Postmoderne für die Wiederentdeckung des Stadtraums und einer identitätsstiftenden städtischen Architektur im ausgehenden 20. Jahrhundert
						</div>

						<p style="margin-top: 1em;">
						    {{if session.forced_language =='de': }}
							Erscheint Herbst 2019
							{{elif session.forced_language =='en': }}
							Coming in Autumn 2019
							{{pass}}
						</p>
					</article>
				</div>
			</div>   

      <div class="row" id="belgien">
				  <div class="col-lg-2">
					<article>
						<div class="post-image">
						{{=IMG(_src=URL('static','images/catalog/cover_belgien.jpg'),_style='width:230px')}}
						</div>
					</article>
				</div>

				<div class="col-lg-9">
					<article>
						<div class="post-heading">
						    <b>Sabine Schmitz, Marie Weyrich (Hrsg.)<br />
							Belgien im Gespräch</b><br />
							Elf Museumskoffer zur Geschichte Belgiens
						</div>

						<p style="margin-top: 1em;">
						    {{if session.forced_language =='de': }}
							Erscheint Herbst 2019
							{{elif session.forced_language =='en': }}
							Coming in Autumn 2019
							{{pass}}
						</p>
					</article>
				</div>
			</div>   

      <div class="row" id="drost">
				  <div class="col-lg-2">
					<article>
						<div class="post-image">
						{{=IMG(_src=URL('static','images/catalog/cover_drost.jpg'),_style='width:230px')}}
						</div>
					</article>
				</div>

				<div class="col-lg-9">
					<article>
						<div class="post-heading">
						    <b>Julia Drost, Fabrice Flahutez, Anne Helmreich, Martin Schieder (Hrsg.)<br />
							Networking Surrealism in the USA. Agents, Artists, and the Market</b><br />
							<i>Passages online, Band 3</i>
						</div>

						<p style="margin-top: 1em;">
						    {{if session.forced_language =='de': }}
							Erscheint Herbst 2019
							{{elif session.forced_language =='en': }}
							Coming in Autumn 2019
							{{pass}}
						</p>
					</article>
				</div>
			</div>   
			

			<div class="row" id="lehmann">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
							{{=IMG(_src=URL('static','images/catalog/cover_lehmann.jpg'),_style='width:230px')}}
						</div>
					</article>
				</div>
				<div class="col-lg-9">
					<article>
						<div class="post-heading">
						    <b>Doris H. Lehmann<br />
							Streitstrategien bildender Künstler in der Neuzeit</b>
						</div>
						<p>
						{{if session.forced_language =='de': }}
						<a href="http://www.ad-picturam.de/Streitstrategien/" title="Ad Picturam">Weitere Informationen</a>
						{{elif session.forced_language =='en': }}
						<a href="http://www.ad-picturam.de/Streitstrategien/" title="Ad Picturam">More Information</a>
						{{pass}}
						</p>
						<p>
						    {{if session.forced_language =='de': }}
							Erscheint Herbst 2019
							{{elif session.forced_language =='en': }}
							Coming in Autumn 2019
							{{pass}}
						</p>

					</article>
				</div>
			</div>
		    

			<div class="row" id="stoltz">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
							{{=IMG(_src=URL('static','images/catalog/cover_stoltz.jpg'),_style='width:230px')}}
						</div>
					</article>
				</div>
				<div class="col-lg-9">
					<article>
						<div class="post-heading">
						    <b>Barbara Stoltz<br />
              Die Kunst des Schneidens und die gedruckte Zeichnung<br />
							Theorie der Druckgraphik in der Kunstliteratur des 16. und 17. Jahrhunderts</b>
						</div>
						<p>
						{{if session.forced_language =='de': }}
						<a href="http://www.ad-picturam.de/Theorie_Druckgraphik/" title="Ad Picturam">Weitere Informationen</a>
						{{elif session.forced_language =='en': }}
						<a href="http://www.ad-picturam.de/Theorie_Druckgraphik/" title="Ad Picturam">More Information</a>
						{{pass}}
						</p>
						<p>
						    {{if session.forced_language =='de': }}
							Erscheint 2019
							{{elif session.forced_language =='en': }}
							Coming in 2019
							{{pass}}
						</p>

					</article>
				</div>
			</div>
                                             




			<div class="row" id="engelberg">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
							{{=IMG(_src=URL('static','images/catalog/cover_weimar.jpg'),_style='width:230px')}}
						</div>
					</article>
				</div>
				<div class="col-lg-9">
					<article>
						<div class="post-heading">
						    <b>Eva von Engelberg-Dočkal, Oliver Trepte (Hrsg.)<br />
              Stadtbilder Weimar. Städtische Ensembles und ihre Inszenierung nach der politischen Wende</b>
						</div>
						<p>
						    {{if session.forced_language =='de': }}
              Erscheint Winter 2019/20
							{{elif session.forced_language =='en': }}
							Coming in winter 2019/20
							{{pass}}
						</p>

					</article>
				</div>
			</div>
    
      
			<div class="row" id="hilliges">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
							{{=IMG(_src=URL('static','images/catalog/cover_social_media.jpg'),_style='width:230px')}}
						</div>
					</article>
				</div>
				<div class="col-lg-9">
					<article>
						<div class="post-heading">
						    <b>Marion Hilliges<br />
              Dinge gestalten. Peter Behrens – Designobjekte im Archiv der Avantgarden, Sammlung Mazona</b>
						</div>
						<p>
						    {{if session.forced_language =='de': }}
              Erscheint Winter 2019/20
							{{elif session.forced_language =='en': }}
							Coming in winter 2019/20
							{{pass}}
						</p>

					</article>
				</div>
			</div>

			<div class="row" id="hoefer">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
							{{=IMG(_src=URL('static','images/catalog/cover_hoefer.jpg'),_style='width:230px')}}
						</div>
					</article>
				</div>
				<div class="col-lg-9">
					<article>
						<div class="post-heading">
						    <b>Regina Höfer<br />
              Ein Habsburger auf Trophäenjagd. Die Südasiensammlung Franz Ferdinand von Österreich-Estes zwischen kolonialem Weltbild, Kunst und Souvenir</b>
						</div>
						<p>
						  {{if session.forced_language =='de': }}
              Erscheint Winter 2019/20
							{{elif session.forced_language =='en': }}
							Coming in winter 2019/20
							{{pass}}
						</p>

					</article>
				</div>
			</div>

			<div class="row" id="mohl">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
							{{=IMG(_src=URL('static','images/catalog/cover_mohl.jpg'),_style='width:230px')}}
						</div>
					</article>
				</div>
				<div class="col-lg-9">
					<article>
						<div class="post-heading">
						    <b>Maximiliane Mohl<br />
              Das Museum Fridericianum in Kassel<br />
              Museumsarchitektur, Sammlungspräsentation und Bildungsprogramm im Zeitalter der Aufklärung</b>
						</div>
						<!--<p>
						    {{if session.forced_language =='de': }}
              Erscheint Winter 2019/20
							{{elif session.forced_language =='en': }}
							Coming in winter 2019/20
							{{pass}}
						</p>-->

					</article>
				</div>
			</div>

					</article>
				</div>
			</div>
      
     
      
           
		
    </div>
    
</section>