{{extend 'layout.html'}}
<div id="main" class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>  {{if session.forced_language =='de': }}
                Vorschau 
                {{elif session.forced_language =='en': }}
                Preview
            {{pass}}
            </h3>
        </div>   
	</div>

<section id="content">

            <div class="row" id="drost">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
						{{=IMG(_src=URL('static','images/catalog/cover_drost.jpg'),_style='width:230px')}}
						</div>
					</article>
				</div>

				<div class="col-lg-9">
					<article>
						<div class="post-heading">
						    <b>Julia Drost, Fabrice Flahutez, Anne Helmreich, Martin Schieder (Hrsg.)<br />
							Networking Surrealism in the USA. Agents, Artists, and the Market</b><br />
							<i>Passages online, Band 3</i>
						</div>

						<p style="margin-top: 1em;">
						    {{if session.forced_language =='de': }}
							Erscheint Sommer 2019
							{{elif session.forced_language =='en': }}
							Coming in Summer 2019
							{{pass}}
						</p>
					</article>
				</div>
			</div>   
			
            <div class="row" id="heinlein">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
						{{=IMG(_src=URL('static','images/catalog/cover_heinlein.jpg'),_style='width:230px')}}
						</div>
					</article>
				</div>

				<div class="col-lg-9">
					<article>
						<div class="post-heading">
						    <b>Stefan Heinlein<br />
							Wilhelm Heinrich von Nassau-Saarbrücken und die Vision des Himmlischen Jerusalems</b>
						</div>

						<p style="margin-top: 1em;">
						    {{if session.forced_language =='de': }}
							Erscheint Sommer 2019
							{{elif session.forced_language =='en': }}
							Coming in Summer 2019
							{{pass}}
						</p>
					</article>
				</div>
			</div> 


		

			<div class="row" id="lehmann">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
							{{=IMG(_src=URL('static','images/catalog/cover_lehmann.jpg'),_style='width:230px')}}
						</div>
					</article>
				</div>
				<div class="col-lg-9">
					<article>
						<div class="post-heading">
						    <b>Doris H. Lehmann<br />
							Streitstrategien bildender Künstler in der Neuzeit</b>
						</div>
						<p>
						{{if session.forced_language =='de': }}
						<a href="http://www.ad-picturam.de/Streitstrategien/" title="Ad Picturam">Weitere Informationen</a>
						{{elif session.forced_language =='en': }}
						<a href="http://www.ad-picturam.de/Streitstrategien/" title="Ad Picturam">More Information</a>
						{{pass}}
						</p>
						<p>
						    {{if session.forced_language =='de': }}
							Erscheint Sommer 2019
							{{elif session.forced_language =='en': }}
							Coming in Summer 2019
							{{pass}}
						</p>

					</article>
				</div>
			</div>
    
    
    
			<div class="row" id="raband">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
							{{=IMG(_src=URL('static','images/partner/cover_raband.jpg'),_style='width:230px')}}
						</div>
					</article>
				</div>
				<div class="col-lg-9">
					<article>
						<div class="post-heading">
						    <b>Ivo Raband<br />
							Vergängliche Kunst und fortwährende Macht<br />
							Die <i>Blijde Inkomst</i> für Erzherzog Ernst von Österreich in Brüssel und Antwerpen, 1594</b>
						</div>
						<p>
						{{if session.forced_language =='de': }}
						<a href="http://www.ad-picturam.de/Blijde_Inkomst/" title="Ad Picturam">Weitere Informationen</a>
						{{elif session.forced_language =='en': }}
						<a href="http://www.ad-picturam.de/Blijde_Inkomst/" title="Ad Picturam">More Information</a>
						{{pass}}
						</p>
						<p>
						    {{if session.forced_language =='de': }}
							Erscheint Sommer 2019
							{{elif session.forced_language =='en': }}
							Coming in Summer 2019
							{{pass}}
						</p>

					</article>
				</div>
			</div>

		

			<div class="row" id="stoltz">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
							{{=IMG(_src=URL('static','images/catalog/cover_stoltz.jpg'),_style='width:230px')}}
						</div>
					</article>
				</div>
				<div class="col-lg-9">
					<article>
						<div class="post-heading">
						    <b>Barbara Stoltz<br />
              Die Kunst des Schneidens und die gedruckte Zeichnung<br />
							Theorie der Druckgraphik in der Kunstliteratur des 16. und 17. Jahrhunderts</b>
						</div>
						<p>
						{{if session.forced_language =='de': }}
						<a href="http://www.ad-picturam.de/Theorie_Druckgraphik/" title="Ad Picturam">Weitere Informationen</a>
						{{elif session.forced_language =='en': }}
						<a href="http://www.ad-picturam.de/Theorie_Druckgraphik/" title="Ad Picturam">More Information</a>
						{{pass}}
						</p>
						<p>
						    {{if session.forced_language =='de': }}
							Erscheint 2019
							{{elif session.forced_language =='en': }}
							Coming in 2019
							{{pass}}
						</p>

					</article>
				</div>
			</div>



    
			<div class="row" id="muenster">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
						{{=IMG(_src=URL('static','images/catalog/preview.png'),_style='width:230px')}}
						</div>
					</article>
				</div>
				<div class="col-lg-9">
					<article>
						<div class="post-heading">
						    <b>Piotr Kuroczyński, Mieke Pfarr-Harfst, Sander Münster (Hrsgg.)<br />
							Der Modelle Tugend 2.0</b>
						</div>

						<p style="margin-top: 1em;">
						    {{if session.forced_language =='de': }}
							Erscheint Sommer 2019 
							{{elif session.forced_language =='en': }}
							Coming in Summer 2019
							{{pass}}
						</p>
					</article>
				</div>
			</div>
      
      
       <!--<div class="row" id="verstegen">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
						{{=IMG(_src=URL('static','images/catalog/cover_verstegen.jpg'),_style='width:230px')}}
						</div>
					</article>
				</div>
				<div class="col-lg-9">
					<article>
						<div class="post-heading">
						    <b>Ian Verstegen<br />
							Federico Barocci and the Science of Drawing in Early Modern Italy</b>
						</div>

						<p style="margin-top: 1em;">
						    {{if session.forced_language =='de': }}
							Erscheint 18. Juli 2019 
							{{elif session.forced_language =='en': }}
							Coming 18 July 2019
							{{pass}}
						</p>
					</article>
				</div>
			</div>      


      

    <div class="row" id="steinmetz">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
							{{=IMG(_src=URL('static','images/catalog/cover_steinmetz.jpg'),_style='width:230px')}}
						</div>
					</article>
				</div>
				<div class="col-lg-9">
					<article>
						<div class="post-heading">
						    <b>Thomas Steinmetz<br />
							Automotives Googiedesign der 50er Jahre: Gestern &ndash; Heute &ndash; Morgen</b>
						</div> -->

						<!--<p style="margin-top: 1em;">
						    {{if session.forced_language =='de': }}
							Erscheint Winter 2018
							{{elif session.forced_language =='en': }}
							Coming Winter 2018
							{{pass}}
						</p>-->
					</article>
				</div>
			</div>
      
     
      
           
		
    </div>
    
</section>