{{extend 'layout.html'}}
<div id="main" class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>  {{if session.forced_language =='de': }}
                Vorschau 
                {{elif session.forced_language =='en': }}
                Preview
            {{pass}}
            </h3>
        </div>   
	</div>

<section id="content">

    		<div class="row" id="drost">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
							{{=IMG(_src=URL('static','images/catalog/cover_drost2.jpg'),_style='width:230px')}}
						</div>
					</article>
				</div>
				<div class="col-lg-9">
					<article>
						<div class="post-heading">
						    <b>Julia Drost, Fabrice Flahutez, Martin Schieder {{=T('(Eds.)')}}<br />
							Le surréalisme et l’argent</b><br />
							<i>Passages online, Band 4</i>
						</div>
						<p>
						  {{if session.forced_language =='de': }}
                            Erscheint Winter 2020/21
							{{elif session.forced_language =='en': }}
							Coming in winter 2020/21
							{{pass}}
						</p>
					</article>
				</div>
			</div>
 
    		<div class="row" id="ebeling">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
							{{=IMG(_src=URL('static','images/catalog/cover_ebeling.jpg'),_style='width:230px')}}
						</div>
					</article>
				</div>
				<div class="col-lg-9">
					<article>
						<div class="post-heading">
						    <b>Jörg Ebeling ; Guillaume Nicoud ; Thorsten Smidt {{=T('(Eds.)')}}<br />
							JÉRÔME NAPOLÉON - und die Kunst und Kultur im Konigreich Westphalen / et l’art et la culture dans le Royaume de Westphalie</b><br />
							<i>Passages online, Band 6</i>
						</div>
						<p>
						  {{if session.forced_language =='de': }}
                            Erscheint Winter 2020/21
							{{elif session.forced_language =='en': }}
							Coming in winter 2020/21
							{{pass}}
						</p>
					</article>
				</div>
			</div>

    		<div class="row" id="weiger">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
							{{=IMG(_src=URL('static','images/catalog/cover_weiger.jpg'),_style='width:230px')}}
						</div>
					</article>
				</div>
				<div class="col-lg-9">
					<article>
						<div class="post-heading">
						    <b>Katharina Weiger<br />
                            Studien zu einer Kreuzigung im Louvre. Malerei nach Giotto in Unteritalien und Kunst am Anjou-Hof</b>
						</div>
						<p>
						  {{if session.forced_language =='de': }}
                            Erscheint Winter 2020/21
							{{elif session.forced_language =='en': }}
							Coming in winter 2020/21
							{{pass}}
						</p>
					</article>
				</div>
			</div>  
            

    		<div class="row" id="kohle">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
							{{=IMG(_src=URL('static','images/catalog/cover_kohle.jpg'),_style='width:230px')}}
						</div>
					</article>
				</div>
				<div class="col-lg-9">
					<article>
						<div class="post-heading">
						    <b>Maria Effinger, Hubertus Kohle {{=T('(Eds.)')}}<br />
                            Die Zukunft des kunsthistorischen Publizierens</b>
						</div>
						<p>
						  {{if session.forced_language =='de': }}
                            Erscheint Frühjahr 2021
							{{elif session.forced_language =='en': }}
							Coming in spring 2021
							{{pass}}
						</p>
					</article>
				</div>
			</div>            

			<div class="row" id="hoefer">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
							{{=IMG(_src=URL('static','images/catalog/cover_hoefer.jpg'),_style='width:230px')}}
						</div>
					</article>
				</div>
				<div class="col-lg-9">
					<article>
						<div class="post-heading">
						    <b>Regina Höfer<br />
              Ein Habsburger auf Trophäenjagd. Die Südasiensammlung Franz Ferdinand von Österreich-Estes zwischen kolonialem Weltbild, Kunst und Souvenir</b>
						</div>
						<p>
						  {{if session.forced_language =='de': }}
              Erscheint Frühjahr 2021
							{{elif session.forced_language =='en': }}
							Coming in spring 2021
							{{pass}}
						</p>
					</article>
				</div>
			</div>
            


			<div class="row" id="lehmann">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
							{{=IMG(_src=URL('static','images/catalog/cover_lehmann.jpg'),_style='width:230px')}}
						</div>
					</article>
				</div>
				<div class="col-lg-9">
					<article>
						<div class="post-heading">
						    <b>Doris H. Lehmann<br />
							Streitstrategien bildender Künstler in der Neuzeit</b>
						</div>
						<p>
						{{if session.forced_language =='de': }}
						<a href="http://www.ad-picturam.de/Streitstrategien/" title="Ad Picturam">Weitere Informationen</a>
						{{elif session.forced_language =='en': }}
						<a href="http://www.ad-picturam.de/Streitstrategien/" title="Ad Picturam">More Information</a>
						{{pass}}
						</p>
						<p>
						    {{if session.forced_language =='de': }}
							Erscheint Frühjahr 2021
							{{elif session.forced_language =='en': }}
							Coming in spring 2021
							{{pass}}
						</p>

					</article>
				</div>
			</div>
		           
    		<div class="row" id="perrier">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
							{{=IMG(_src=URL('static','images/catalog/cover_perrier.jpg'),_style='width:230px')}}
						</div>
					</article>
				</div>
				<div class="col-lg-9">
					<article>
						<div class="post-heading">
						    <b>Danièle Perrier, AICA Deutschland {{=T('(Ed.)')}}<br />
                            Walter Grasskamp. Ein Engel verschwindet. Künstlerportraits aus vierzig Jahren</b>
						</div>
						<p>
						  {{if session.forced_language =='de': }}
                            Erscheint Frühjahr 2021
							{{elif session.forced_language =='en': }}
							Coming in spring 2021
							{{pass}}
						</p>
					</article>
				</div>
			</div>
			
    		<div class="row" id="schmiedlechner">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
							{{=IMG(_src=URL('static','images/catalog/preview.png'),_style='width:230px')}}
						</div>
					</article>
				</div>
				<div class="col-lg-9">
					<article>
						<div class="post-heading">
						    <b>Patricia Schmiedlechner<br />
                            Modi Operandi in Rubens’s Workshop. A Study on the Creative Process and Studio Practice</b>
						</div>
						<p>
						    {{if session.forced_language =='de': }}
							Erscheint Frühjahr 2021
							{{elif session.forced_language =='en': }}
							Coming in spring 2021
							{{pass}}
						</p>
					</article>
				</div>
			</div>  

			<div class="row" id="stoltz">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
							{{=IMG(_src=URL('static','images/catalog/cover_stoltz.jpg'),_style='width:230px')}}
						</div>
					</article>
				</div>
				<div class="col-lg-9">
					<article>
						<div class="post-heading">
						    <b>Barbara Stoltz<br />
              Die Kunst des Schneidens und die gedruckte Zeichnung<br />
							Theorie der Druckgraphik in der Kunstliteratur des 16. und 17. Jahrhunderts</b>
						</div>
						<p>
						{{if session.forced_language =='de': }}
						<a href="http://www.ad-picturam.de/Theorie_Druckgraphik/" title="Ad Picturam">Weitere Informationen</a>
						{{elif session.forced_language =='en': }}
						<a href="http://www.ad-picturam.de/Theorie_Druckgraphik/" title="Ad Picturam">More Information</a>
						{{pass}}
						</p>
						<p>
						    {{if session.forced_language =='de': }}
							Erscheint Frühjahr 2021
							{{elif session.forced_language =='en': }}
							Coming in spring 2021
							{{pass}}
						</p>

					</article>
				</div>
			</div>


    		<div class="row" id="cordez">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
							{{=IMG(_src=URL('static','images/catalog/preview.png'),_style='width:230px')}}
						</div>
					</article>
				</div>
				<div class="col-lg-9">
					<article>
						<div class="post-heading">
						    <b>Philippe Cordez, Thomas Kirchner, Francois-Réné Martin {{=T('(Eds.)')}}<br />
                            Mittelalter und Mittelalterbild</b><br />
                            <em>Passages online, Band 9</em>
						</div>
						<p>
						  {{if session.forced_language =='de': }}
                            Erscheint Sommer 2021
							{{elif session.forced_language =='en': }}
							Coming in summer 2021
							{{pass}}
						</p>
					</article>
				</div>
			</div>
            
    		<div class="row" id="giromette">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
							{{=IMG(_src=URL('static','images/catalog/preview.png'),_style='width:230px')}}
						</div>
					</article>
				</div>
				<div class="col-lg-9">
					<article>
						<div class="post-heading">
						    <b>Stefania Girometti<br />
                            In Italien Karriere machen. Der flämische maler Michele Desubleo zwischen Rom, Bologna und Venedig (ca. 1624-1664)</b>
						</div>
						<p>
						  {{if session.forced_language =='de': }}
                            Erscheint Sommer 2021
							{{elif session.forced_language =='en': }}
							Coming in summer 2021
							{{pass}}
						</p>
					</article>
				</div>
			</div>   		
            
    		<div class="row" id="gromotka">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
							{{=IMG(_src=URL('static','images/catalog/preview.png'),_style='width:230px')}}
						</div>
					</article>
				</div>
				<div class="col-lg-9">
					<article>
						<div class="post-heading">
						    <b>Michael G. Gromotka<br />
                            Die Geschichte der Kirchenausstattung von S. Pietro in Perugia. Räumliche Disposition und Gestaltung der Raumhülle und Einrichtungsgegenstände</b>
						</div>
						<p>
						  {{if session.forced_language =='de': }}
                            Erscheint Sommer 2021
							{{elif session.forced_language =='en': }}
							Coming in summer 2021
							{{pass}}
						</p>
					</article>
				</div>
			</div> 
            
    		<div class="row" id="gunthert">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
							{{=IMG(_src=URL('static','images/catalog/preview.png'),_style='width:230px')}}
						</div>
					</article>
				</div>
				<div class="col-lg-9">
					<article>
						<div class="post-heading">
						    <b>André Gunthert, Thomas Kirchner, Marie-Madeleine Ozdoba {{=T('(Eds.)')}}<br />
                            Nouveaux Médias – Mythes et Expérimentations dans les Arts</b><br />
                            <em>Passages online, Band 10</em>
						</div>
						<p>
						  {{if session.forced_language =='de': }}
                            Erscheint Sommer 2021
							{{elif session.forced_language =='en': }}
							Coming in summer 2021
							{{pass}}
						</p>
					</article>
				</div>
			</div>             


			<div class="row" id="spoerri">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
							{{=IMG(_src=URL('static','images/catalog/cover_spoerri.jpg'),_style='width:230px')}}
						</div>
					</article>
				</div>
				<div class="col-lg-9">
					<article>
						<div class="post-heading">
						    <b>Déborah Laks, Jill Carrick {{=T('(Eds.)')}}<br />
                               Topographies de Daniel Spoerri</b><br />
							<i>Passages online, Band 11</i>
						</div>
						<p>
						    {{if session.forced_language =='de': }}
							Erscheint Herbst 2021
							{{elif session.forced_language =='en': }}
							Coming in autumn 2021
							{{pass}}
						</p>

					</article>
				</div>
			</div>  

			<div class="row" id="guignard">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
							{{=IMG(_src=URL('static','images/catalog/preview.png'),_style='width:230px')}}
						</div>
					</article>
				</div>
				<div class="col-lg-9">
					<article>
						<div class="post-heading">
						    <b>Yves Guignard, Manja Wilkens {{=T('(Eds.)')}}<br />
                               Briefwechsel Wilhelm Uhde</b><br />
							<i>Passages online, Band 12</i>
						</div>
						<p>
						    {{if session.forced_language =='de': }}
							Erscheint Herbst 2021
							{{elif session.forced_language =='en': }}
							Coming in autumn 2021
							{{pass}}
						</p>

					</article>
				</div>
			</div> 
			
			<div class="row" id="museumslandschaft">
				<div class="col-lg-2">
					<article>
						<div class="post-image">
							{{=IMG(_src=URL('static','images/catalog/cover_treffpunkt_rom.jpg'),_style='width:230px')}}
						</div>
					</article>
				</div>
				<div class="col-lg-9">
					<article>
						<div class="post-heading">
						    <b>Museumslandschaft Hessen Kassel {{=T('(Ed.)')}}<br />
                               Treffpunkt Rom 1810. Die Geschichte eines Künstlerstammbuchs</b>
						</div>
						<p>
						    {{if session.forced_language =='de': }}
							Erscheint Herbst 2021
							{{elif session.forced_language =='en': }}
							Coming in autumn 2021
							{{pass}}
						</p>

					</article>
				</div>
			</div>            

 

            

    
</section>
</div>