{{extend 'layout.html'}}

<div id="main" class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>  {{if session.forced_language =='de': }}
                Unser Angebot
                {{elif session.forced_language =='en': }}
                Our service
            {{pass}}
            </h3>
			
			      {{if session.forced_language =='de': }}
        <p>Die Publikation erfolgt parallel in mehreren Versionen: <strong>in digitaler Form Open Access als PDF und ggf. auch in HTML</strong> sowie – wenn gewünscht – als <strong>gedrucktes Buch</strong> in einer Hard- oder Softcover-Ausgabe, die kostenpflichtig im Sortiments- und Online-Buchhandel erhältlich ist.</p> 
        <p>Weitere Informationen finden Sie unter <a href="{{=URL('publishing','for_authors')}}">&bdquo;Informationen für Autorinnen und Autoren&ldquo;</a></p> 
        <p>Alle Publikationen erhalten eine ISBN (<a href="https://de.wikipedia.org/wiki/Internationale_Standardbuchnummer" title="ISBN bei Wikipedia">Internationale Standardbuchnummer</a>) und eine DOI (<a href="https://de.wikipedia.org/wiki/Digital_Object_Identifier" title="DOI bei Wikipedia">Digital Object Identifier</a>), um den dauerhaften Zugang und die Sichtbarkeit der Veröffentlichungen zu gewährleisten. Durch die formale und inhaltliche Erschließung sind die Publikationen in nationalen und internationalen Bibliothekskatalogen (HEIDI, SWB, KVK, WorldCat, etc.) nachgewiesen sowie im Volltext über Suchmaschinen indexiert.</p>
        <p>Neben unserem E-Publishing-Angebot für Monographien und Sammelbände etc. bietet arthistoricum-net - ART-Books auch die Möglichkeit, zugehörige <a href="https://www.arthistoricum.net/publizieren/forschungsdaten/">Forschungsdaten</a> dauerhaft zu archivieren.</p>
        <p>Die Universitätsbibliothek Heidelberg gewährleistet das nachhaltige Hosting der <a href="https://pkp.sfu.ca/omp/">Software Open Monograph Press (OMP)</a> mit der Ihre Monographie, Ihr Sammelwerk oder Ihre Schriftenreihe dauerhaft online verfügbar ist.</p> 
        <p>Wenn Sie Interesse an unserem Angebot haben, nehmen Sie mit uns <a href="{{=URL('contact','index')}}">Kontakt</a> auf – unabhängig davon, ob sich Ihr Open-Access-E-Book noch in der Planungsphase befindet oder ob eine bereits im Printformat existierende Schriftenreihe in eine elektronische Ausgabe transformiert werden soll.</p>


			{{elif session.forced_language =='en': }}
		<p>The work is published in several versions: in digital form Open Access as PDF and, if necessary, also in HTML and - if desired - as a printed book in a hard or softcover edition, which is available for a fee online or from book retailers.</p>
		<p>Further information can be found under <a href="{{=URL('publishing','for_authors')}}">&bdquo;Information for Authors&ldquo;</a>.</p>
		<p>All publications receive an ISBN (<a href="https://en.wikipedia.org/wiki/International_Standard_Book_Number" title="ISBN in Wikipedia">International Standard Book Number</a>) and a DOI (<a href="https://en.wikipedia.org/wiki/Digital_object_identifier" title="DOI in Wikipedia">Digital Object Identifier</a>) to ensure permanent access and visibility of the publications. The publications are listed in national and international library catalogues (HEIDI, SWB, KVK, WorldCat, etc.) and indexed in full text via search engines.</p>

		<p>In addition to our e-publishing services for monographs and anthologies etc., arthistoricum-net - ART-Books also offers the possibility of permanently archiving associated <a href="https://www.arthistoricum.net/publizieren/forschungsdaten/">research data</a>.</p>
		<p>The Heidelberg University Library guarantees the long-term hosting of the <a href="https://pkp.sfu.ca/omp/">Open Monograph Press (OMP)</a> software, which makes your monograph, anthology or publication series permanently available online.</p>
		<p>If you are interested in our services, please <a href="{{=URL('contact','index')}}">contact us</a> &ndash; regardless of whether your Open Access e-book is still in the planning phase or whether an existing print series is to be transformed into an electronic edition.</p>
{{pass}}


        </div>
    </div>
  </div>  
