{{extend 'layout.html'}}

<div id="main" class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>  {{if session.forced_language =='de': }}
                Unser Angebot
                {{elif session.forced_language =='en': }}
                Our service
            {{pass}}
            </h3>

            <p>
                {{if session.forced_language =='de': }}
<p>Die Universitätsbibliothek Heidelberg gewährleistet das nachhaltige Hosting der Software Open Monograph Press (OMP) für Ihre Monografie, Ihr Sammelwerk oder Ihre Schriftenreihe. Dieses Angebot ist im Regelfall kostenfrei.</p>

<p>Wir bieten vor Ort in  Heidelberg eine Einführung in die Bedienung von OMP und in dessen Funktionen und Arbeitsprozesse und übernehmen nach Absprache einen Teil der notwendigen Aufgaben.</p>

<p>Die Publikation des Werkes erfolgt parallel in mehreren Versionen: sowohl in digitaler Form (als PDF- und ggf. auch als  HTML-Datei) als auch als gedrucktes Buch (Hard- oder Softcover), erhältlich im Sortiments- wie auch im Online-Buchhandel.</p>

<p>Alle Publikationen erhalten eine ISBN-Nummer (<a href="https://de.wikipedia.org/wiki/Internationale_Standardbuchnummer" title="ISBN bei Wikipedia">Internationale Standardbuchnummer</a>) und eine DOI (<a href="https://de.wikipedia.org/wiki/Digital_Object_Identifier" title="DOI bei Wikipedia">Digital Object Identifier</a>), um den dauerhaften Zugang und die Sichtbarkeit der Veröffentlichungen zu gewährleisten. Durch die formale und inhaltliche Erschließung sind die Publikationen in nationalen und internationalen Bibliothekskatalogen (HEIDI, SWB, KVK, WorldCat, DOAB etc.) nachgewiesen sowie im Volltext über Suchmaschinen indexiert.<br />
Weitere Informationen finden Sie unter "<a href="{{=URL(myconf.take('web.application'),'publishing','for_authors')}}">{{=T('Information for Authors')}}</a>".</p>

<p>Wenn Sie Interesse an unserem Angebot haben, melden Sie sich bei <a href="{{=URL(myconf.take('web.application'),'contact','index')}}" style="padding-right: 0;">uns</a> – egal, ob sich Ihr Open-Access-E-Book noch in der Planungsphase befindet oder ob eine bereits im Printformat existierende Schriftenreihe in eine elektronische Ausgabe transformiert werden soll.</p>

{{elif session.forced_language =='en': }}

<p>Die Universitätsbibliothek Heidelberg gewährleistet das nachhaltige Hosting der Software Open Monograph Press (OMP) für Ihre Monografie, Ihr Sammelwerk oder Ihre Schriftenreihe. Dieses Angebot ist im Regelfall kostenfrei.</p>

<p>Wir bieten vor Ort in  Heidelberg eine Einführung in die Bedienung von OMP und in dessen Funktionen und Arbeitsprozesse und übernehmen nach Absprache einen Teil der notwendigen Aufgaben.</p>

<p>Die Publikation des Werkes erfolgt parallel in mehreren Versionen: sowohl in digitaler Form (als PDF- und ggf. auch als  HTML-Datei) als auch als gedrucktes Buch (Hard- oder Softcover), erhältlich im Sortiments- wie auch im Online-Buchhandel.</p>

<p>Alle Publikationen erhalten eine ISBN-Nummer (<a href="https://de.wikipedia.org/wiki/Internationale_Standardbuchnummer" title="ISBN bei Wikipedia">Internationale Standardbuchnummer</a>) und eine DOI (<a href="https://de.wikipedia.org/wiki/Digital_Object_Identifier" title="DOI bei Wikipedia">Digital Object Identifier</a>), um den dauerhaften Zugang und die Sichtbarkeit der Veröffentlichungen zu gewährleisten. Durch die formale und inhaltliche Erschließung sind die Publikationen in nationalen und internationalen Bibliothekskatalogen (HEIDI, SWB, KVK, WorldCat, DOAB etc.) nachgewiesen sowie im Volltext über Suchmaschinen indexiert.<br />
Weitere Informationen finden Sie unter "<a href="{{=URL(myconf.take('web.application'),'publishing','for_authors')}}">{{=T('Information for Authors')}}</a>".</p>

<p>Wenn Sie Interesse an unserem Angebot haben, melden Sie sich bei <a href="{{=URL(myconf.take('web.application'),'contact','index')}}" style="padding-right: 0;">uns</a> – egal, ob sich Ihr Open-Access-E-Book noch in der Planungsphase befindet oder ob eine bereits im Printformat existierende Schriftenreihe in eine elektronische Ausgabe transformiert werden soll.</p>

                {{pass}}


            </p>

        </div>
    </div>
  </div>  
