{{extend 'layout.html'}}

<div id="main" class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>  {{if session.forced_language =='de': }}
                Profil
                {{elif session.forced_language =='en': }}
                 Profile
            {{pass}}
            </h3>

            
                {{if session.forced_language =='de': }}
                <p>Die Open-Access-Plattform <b>arthistoricum.net – ART-Books</b> bietet Wissenschaftlerinnen und Wissenschaftlern aus den Fachbereichen <b>Kunstgeschichte, Fotografie und Design</b> eine zeitnahe Publikationsmöglichkeit für wissenschaftliche E-Books.</p>
                <p>Wir unterstützen <b>Open Access</b> als Publikationsmodell für die Verbreitung von Forschungsergebnissen und veröffentlichen sowohl <b>Erstpublikationen</b> ("goldener Weg") als auch <b>Zweitveröffentlichungen</b> ("grüner Weg"). Das kostenfreie Angebot richtet sich an Kunstwissenschaftlerinnen und Kunstwissenschaftler weltweit.</p>
                <p>Zum Einsatz kommt die Open-Source-Software <a href="https://pkp.sfu.ca/omp/" title="Webseite der Software Open Monograph Press">OMP (Open Monograph Press)</a> des <a href="https://pkp.sfu.ca/" title="Webseite von Public Knowledge Project">Public Knowledge Project (PKP)</a>.</p>
                <p><b>arthistoricum.net – ART-Books</b> ist die Open-Access-Publikationsplattform von <a href="http://www.arthistoricum.net/" title="arthistoricum.net">arthistoricum.net</a>, dem von der DFG geförderten <b>"Fachinformationsdienst Kunst, Fotografie, Design"</b> und wird von der Universitätsbibliothek Heidelberg verantwortet.</p>
<h5>arthistoricum.net – ART-Books ist  den folgenden Prinzipien verpflichtet:</h5>
          <ul class="standard">
            <li>Primäre Publikationsform ist die Online-Veröffentlichung in unterschiedlichen digitalen Formaten im Open Access.</li>
            <li>In Ergänzung zu den frei zugänglichen digitalen Formaten bietet <b>arthistoricum.net – ART-Books</b> die Veröffentlichung als Buch (Print-on-Demand) an, das kostenpflichtig über den Buchhandel bezogen werden kann.</li>
            <li>Veröffentlicht werden Monographien und Sammelbände aus den Fachbereichen Kunstgeschichte, Fotografie und Design, beginnend bei der Kunstgeschichte der Länder Europas und der von Europa beeinflussten Kunst in den USA, Kanada und Australien, zeitlich durchgehend von der frühchristlichen Epoche bis zur zeitgenössischen Kunst, ergänzt um Forschungen zur Fotografie, Gebrauchsgrafik und zum Design.</li>
            <li>Die Erfüllung wissenschaftlicher Qualitätsstandards ist das wichtigste Kritierium für eine Publikation in heiBOOKS. Diese sollte beispielsweise bei Dissertationen durch die Empfehlung der Gutachter oder bei wissenschaftlichen Reihen durch die Herausgeber sichergestellt werden.</li>
            <li>Bei <b>arthistoricum.net – ART-Books</b> veröffentlichte Titel erhalten eine DOI und eine eigene ISBN und sind somit dauerhaft referenzierbar. Buchreihen erhalten darüber hinaus eine ISSN.</li>
        </ul>
        
                     {{elif session.forced_language =='en': }}
<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>


{{pass}}

        </div>
    </div>
</div>

