{{extend 'layout.html'}}

<div id="main" class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>  {{if session.forced_language =='de': }}
                Profil
                {{elif session.forced_language =='en': }}
                 Profile
            {{pass}}
            </h3>

            
                {{if session.forced_language =='de': }}
                <p>Die Open-Access-Plattform <b>arthistoricum.net – ART-Books bietet</b> Wissenschaftlerinnen und Wissenschaftlern aus den Fachbereichen <b>Kunstgeschichte, Fotografie und Design</b> eine zeitnahe Publikationsmöglichkeit für wissenschaftliche E-Books.</p>
                <p>Wir unterstützen <b>Open Access</b> als Publikationsmodell für die Verbreitung von Forschungsergebnissen und veröffentlichen sowohl <b>Erstpublikationen</b> ("goldener Weg") als auch <b>Zweitveröffentlichungen</b> ("grüner Weg"). Das kostenfreie Angebot richtet sich an Kunstwissenschaftlerinnen und Kunstwissenschaftlerweltweit.</p>
                <p>Zum Einsatz kommt die Open-Source-Software <a href="https://pkp.sfu.ca/omp/" title="Webseite der Software Open Monograph Press">OMP (Open Monograph Press)</a> des <a href="https://pkp.sfu.ca/" title="Webseite von Public Knowledge Project">Public Knowledge Project (PKP)</a>.</p>
                <p>arthistoricum.net – ART-Books ist die Open-Access-Publikationsplattform von <a href="http://www.arthistoricum.net/" title="arthistoricum.net">arthistoricum.net</a>, dem von der DFG geförderten <b>“Fachinformationsdienst Kunst, Fotografie, Design”</b> und wird von der Universitätsbibliothek Heidelberg verantwortet.</p>
<h4>arthistoricum.net – ART-Books ist  den folgenden Prinzipien verpflichtet:</h4>
          <ul class="standard">
            <li>Primäre Publikationsform ist die Online-Veröffentlichung in unterschiedlichen digitalen Formaten im Open Access.</li>
            <li>In Ergänzung zu den frei zugänglichen digitalen Formaten bietet arthistoricum.net – ART-Books eine kostenpflichtige Print-on-Demand-Veröffentlichung, die über den Buchhandel bezogen werden kann.</li>
            <li>Veröffentlicht werden Monographien und Sammelbände aus den Fachbereichen Kunstgeschichte, Fotografie und Design, beginnend bei der Kunstgeschichte der Länder Europas und der von Europa beeinflussten Kunst in den USA, Kanada und Australien, zeitlich durchgehend von der frühchristlichen Epoche bis zur zeitgenössischen Kunst, ergänzt um Forschungen zur Fotografie, Gebrauchsgrafik und zum Design.</li>
            <li>Die Einhaltung wissenschaftlicher Qualitätsstandards sind wichtigstes Publikationskriterium und sollte z.B. bei Dissertationen durch die Empfehlung der Gutachter oder z.B. bei wissenschaftlichen Reihen durch die Herausgeber sicher gestellt werden.</li>
            <li>Bei arthistoricum.net – ART-Books veröffentlichte Titel erhalten eine DOI, eine eigene ISBN bzw. ISSN bei Buchreihen und sind somit dauerhaft referenzierbar.</li>
        </ul>
        
                     {{elif session.forced_language =='en': }}
                               <p>Die Open-Access-Plattform <b>arthistoricum.net – ART-Books bietet</b> Wissenschaftlerinnen und Wissenschaftlern aus den Fachbereichen <b>Kunstgeschichte, Fotografie und Design</b> eine zeitnahe Publikationsmöglichkeit für wissenschaftliche E-Books.</p>
                <p>Wir unterstützen <b>Open Access</b> als Publikationsmodell für die Verbreitung von Forschungsergebnissen und veröffentlichen sowohl <b>Erstpublikationen</b> ("goldener Weg") als auch <b>Zweitveröffentlichungen</b> ("grüner Weg"). Das kostenfreie Angebot richtet sich an Kunstwissenschaftlerinnen und Kunstwissenschaftlerweltweit.</p>
                <p>Zum Einsatz kommt die Open-Source-Software <a href="https://pkp.sfu.ca/omp/" title="Webseite der Software Open Monograph Press">OMP (Open Monograph Press)</a> des <a href="https://pkp.sfu.ca/" title="Webseite von Public Knowledge Project">Public Knowledge Project (PKP)</a>.</p>
                <p>arthistoricum.net – ART-Books ist die Open-Access-Publikationsplattform von <a href="http://www.arthistoricum.net/" title="arthistoricum.net">arthistoricum.net</a>, dem von der DFG geförderten <b>“Fachinformationsdienst Kunst, Fotografie, Design”</b> und wird von der Universitätsbibliothek Heidelberg verantwortet.</p>
<h4>arthistoricum.net – ART-Books ist  den folgenden Prinzipien verpflichtet:</h4>
          <ul class="standard">
            <li>Primäre Publikationsform ist die Online-Veröffentlichung in unterschiedlichen digitalen Formaten im Open Access.</li>
            <li>In Ergänzung zu den frei zugänglichen digitalen Formaten bietet arthistoricum.net – ART-Books eine kostenpflichtige Print-on-Demand-Veröffentlichung, die über den Buchhandel bezogen werden kann.</li>
            <li>Veröffentlicht werden Monographien und Sammelbände aus den Fachbereichen Kunstgeschichte, Fotografie und Design, beginnend bei der Kunstgeschichte der Länder Europas und der von Europa beeinflussten Kunst in den USA, Kanada und Australien, zeitlich durchgehend von der frühchristlichen Epoche bis zur zeitgenössischen Kunst, ergänzt um Forschungen zur Fotografie, Gebrauchsgrafik und zum Design.</li>
            <li>Die Einhaltung wissenschaftlicher Qualitätsstandards sind wichtigstes Publikationskriterium und sollte z.B. bei Dissertationen durch die Empfehlung der Gutachter oder z.B. bei wissenschaftlichen Reihen durch die Herausgeber sicher gestellt werden.</li>
            <li>Bei arthistoricum.net – ART-Books veröffentlichte Titel erhalten eine DOI, eine eigene ISBN bzw. ISSN bei Buchreihen und sind somit dauerhaft referenzierbar.</li>
        </ul>
 
{{pass}}

        </div>
    </div>
</div>

