{{extend 'layout.html'}}

<div id="main" class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>  {{if session.forced_language =='de': }}
                Profil
                {{elif session.forced_language =='en': }}
                 Profile
            {{pass}}
            </h3>

            
                {{if session.forced_language =='de': }}
                <p>Die Open-Access-Plattform <b>arthistoricum.net – ART-Books</b> bietet Wissenschaftlerinnen und Wissenschaftlern aus den Fachbereichen <b>Kunstgeschichte, Fotografie und Design</b> eine zeitnahe Publikationsmöglichkeit für wissenschaftliche E-Books.</p>
                <p>Wir unterstützen <b>Open Access</b> als Publikationsmodell für die Verbreitung von Forschungsergebnissen und veröffentlichen sowohl <b>Erstpublikationen</b> ("goldener Weg") als auch <b>Zweitveröffentlichungen</b> ("grüner Weg"). Das kostenfreie Angebot richtet sich an Kunstwissenschaftlerinnen und Kunstwissenschaftler weltweit.</p>
                <p>Zum Einsatz kommt die Open-Source-Software <a href="https://pkp.sfu.ca/omp/" title="Webseite der Software Open Monograph Press">OMP (Open Monograph Press)</a> des <a href="https://pkp.sfu.ca/" title="Webseite von Public Knowledge Project">Public Knowledge Project (PKP)</a>.</p>
                <p><b>arthistoricum.net – ART-Books</b> ist die Open-Access-Publikationsplattform von <a href="http://www.arthistoricum.net/" title="arthistoricum.net">arthistoricum.net</a>, dem von der DFG geförderten <b>"Fachinformationsdienst Kunst, Fotografie, Design"</b> und wird von der Universitätsbibliothek Heidelberg verantwortet.</p>
<h5>arthistoricum.net – ART-Books ist  den folgenden Prinzipien verpflichtet:</h5>
          <ul class="standard">
            <li>Primäre Publikationsform ist die Online-Veröffentlichung in unterschiedlichen digitalen Formaten im Open Access.</li>
            <li>In Ergänzung zu den frei zugänglichen digitalen Formaten bietet <b>arthistoricum.net – ART-Books</b> die Veröffentlichung als Buch (Print-on-Demand) an, das kostenpflichtig über den Buchhandel bezogen werden kann.</li>
            <li>Veröffentlicht werden Monographien und Sammelbände aus den Fachbereichen Kunstgeschichte, Fotografie und Design, beginnend bei der Kunstgeschichte der Länder Europas und der von Europa beeinflussten Kunst in den USA, Kanada und Australien, zeitlich durchgehend von der frühchristlichen Epoche bis zur zeitgenössischen Kunst, ergänzt um Forschungen zur Fotografie, Gebrauchsgrafik und zum Design.</li>
            <li>Die Erfüllung wissenschaftlicher Qualitätsstandards ist das wichtigste Kritierium für eine Publikation in <b>arthistoricum.net – ART-Books</b>. Diese sollte beispielsweise bei Dissertationen durch die Empfehlung der Gutachter oder bei wissenschaftlichen Reihen durch die Herausgeber sichergestellt werden.</li>
            <li>Bei <b>arthistoricum.net – ART-Books</b> veröffentlichte Titel erhalten eine DOI und eine eigene ISBN und sind somit dauerhaft referenzierbar. Buchreihen erhalten darüber hinaus eine ISSN.</li>
        </ul>
        
                     {{elif session.forced_language =='en': }}
<p>The Open Access platform <b>arthistoricum.net – ART-Books</b> offers researchers of the field of <b>Art History, Photgraphy and Design</b> a possibility to publish their research in time and free of charges.</p>
                <p>We support the <b>Open Access</b> publishing model for distributing research results and publish therefore <b>primary publications</b> (“gold”) as well as <b>secondary publications</b> (“green”).</p>
                <p>We are using the Open-Source-Software <a href="https://pkp.sfu.ca/omp/" title="Webseite der Software Open Monograph Press">OMP (Open Monograph Press)</a> by the  <a href="https://pkp.sfu.ca/" title="Webseite von Public Knowledge Project">Public Knowledge Project (PKP)</a>.</p>
                <p><b>arthistoricum.net – ART-Books</b> is an Open Access publication platform by <a href="http://www.arthistoricum.net/" title="arthistoricum.net">arthistoricum.net</a>, the DFG-funded <b>Specialised Information Service for Art, Photography, Design</b> which is maintained by Heidelberg University Library.</p>
                <h5>arthistoricum.net – ART-Books adheres to the following principles:</h5>
                <ul class="standard">
                    <li>Open Access online publication in different digital formats is the principal form of publication.</li>
                    <li>In addition to the freely available digital formats <b>arthistoricum.net – ART-Books</b> also offers a book publication (print on demand) that can be purchased from local or online booksellers.</li>
                    <li>We publish monographs as well as series from all research fields.</li>
                    <li>Compliance with academic quality standards is an important condition and should be guaranteed e.g. for dissertations by reviewers or for series by the series editors.</li>
                    <li>All titles published with <b>arthistoricum.net – ART-Books</b> have their own ISBN or ISSN (for series) as well as a DOI number and are thus clearly referenced.</li>
                </ul>



{{pass}}

        </div>
    </div>
</div>

