{{extend 'layout.html'}}

<div id="main" class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>  {{if session.forced_language =='de': }}
                Technik
                {{elif session.forced_language =='en': }}
                Technology
            {{pass}}
            </h3>

            <p>
                {{if session.forced_language =='de': }}
                <p>Als technische Plattform für die Veröffentlichung elektronischer Bücher kommt die Open-Source Software <a href="https://pkp.sfu.ca/omp/" title="Open Monograph Press">OMP (Open Monograph Press)</a> zum Einsatz, die vom <a href="https://pkp.sfu.ca/">Public Knowledge Project (PKP)</a> entwickelt wird.<br />Die UB Heidelberg, als Betreiber von <b>arthistoricum-net - ART-Books</b>, ist Teil der internationalen Entwicklergemeinschaft.</p>
            
			<h4>Statistik</h4>
			<p>Zur Erstellung der Aufrufstatistik wird ein Verfahren eingesetzt, das auf dem Webdienst <a class="extern" href="http://www.dini.de/projekte/oa-statistik/">Open-Access-Statistik</a> beruht. Die Voraggregation der Zahlen erfolgt dabei auf Grundlage pseudonymisierter IP-Adressen bei der Verbundzentrale des Gemeinsamen Bibliotheksverbunds (<a href="http://www.gbv.de/Verbundzentrale" class="extern">VZG/GBV</a>). Im Anschluss daran werden die Zahlen durch die UB Heidelberg aufbereitet. Zugriffe auf mehrere Dateien, die auf derselben Frontdoor verlinkt sind, werden hierfür summiert.</p>

            <p>Das Zählverfahren folgt dem international verbreiteten <a href="http://www.projectcounter.org/" class="extern">COUNTER Code of Practice</a>. Dementsprechend werden Zugriffe bekannter Suchmaschinen bzw. ihrer Webcrawler, sowie von Systemen mit suchmaschinenüblichem Abfrageverhalten nicht berücksichtigt. Außerdem müssen Zugriffe von derselben IP-Adresse (an die via Proxyserver mehrere Internetnutzer gekoppelt sein können) auf dasselbe Dokument eine festgelegte Mindestzeitspanne auseinanderliegen, damit sie getrennt gezählt werden.</p>
            <p>Bitte beachten Sie: aus technischen Gründen beginnt die Statistikauswertung auch bei Titeln, die vor dem 07.03.2016 erschienen sind, erst ab diesem Tag.</p>
			
{{elif session.forced_language =='en': }}
                <p>For managing the editorial workflow of electronic books we use the Open-Source Software <a title="Open Monograph Press" href="https://pkp.sfu.ca/omp/">OMP (Open Monograph Press)</a> developed by the <a href="https://pkp.sfu.ca/">Public Knowledge Project (PKP)</a>.<br>Heidelberg University Library as provider of <b>arthistoricum-net - ART-Books</b> is member of the international developer community.</p>
                
			<h4>Statistik</h4>
			<p>Zur Erstellung der Aufrufstatistik wird ein Verfahren eingesetzt, das auf dem Webdienst <a class="extern" href="http://www.dini.de/projekte/oa-statistik/">Open-Access-Statistik</a> beruht. Die Voraggregation der Zahlen erfolgt dabei auf Grundlage pseudonymisierter IP-Adressen bei der Verbundzentrale des Gemeinsamen Bibliotheksverbunds (<a href="http://www.gbv.de/Verbundzentrale" class="extern">VZG/GBV</a>). Im Anschluss daran werden die Zahlen durch die UB Heidelberg aufbereitet. Zugriffe auf mehrere Dateien, die auf derselben Frontdoor verlinkt sind, werden hierfür summiert.</p>

            <p>Das Zählverfahren folgt dem international verbreiteten <a href="http://www.projectcounter.org/" class="extern">COUNTER Code of Practice</a>. Dementsprechend werden Zugriffe bekannter Suchmaschinen bzw. ihrer Webcrawler, sowie von Systemen mit suchmaschinenüblichem Abfrageverhalten nicht berücksichtigt. Außerdem müssen Zugriffe von derselben IP-Adresse (an die via Proxyserver mehrere Internetnutzer gekoppelt sein können) auf dasselbe Dokument eine festgelegte Mindestzeitspanne auseinanderliegen, damit sie getrennt gezählt werden.</p>
            <p>Bitte beachten Sie: aus technischen Gründen beginnt die Statistikauswertung auch bei Titeln, die vor dem 07.03.2016 erschienen sind, erst ab diesem Tag.</p>
				{{pass}}

		    

            </p>

        </div>
    </div>
  </div>  
                    
