{{extend 'layout.html'}}

<div id="main" class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>  {{if session.forced_language =='de': }}
                Technik
                {{elif session.forced_language =='en': }}
                Technology
            {{pass}}
            </h3>

            <p>
                {{if session.forced_language =='de': }}
				<p><b>arthistoricum-net - ART-Books</b> setzt auf Open-Source-Software und beteiligt sich an der Entwicklung von innovativen Publikationstechnologien. Hierzu zählt die Entwicklung von Software genauso wie die Kooperation mit Partnern wie dem <a class="extern" href="https://pkp.sfu.ca" title="Homepage Public Knowledge Project">Public Knowledge Project (PKP)&nbsp;<i class="fa fa-external-link"></i></a> und die aktive Mitwirkung in internationalen und nationalen Anwendernetzwerken.</p>

				<h5>Backend</h5>
				<ul>
				  <li>Monographien und Sammelbände: <a href="https://pkp.sfu.ca/omp/" title="Homepage Open Monograph Press">Open Monograph Press (OMP)&nbsp;<i class="fa fa-external-link"></i></a></li>
				  <li>Datenbank: <a href="https://www.mysql.com" title="Homepage MySQL">Oracle MySQL</a>&nbsp;<i class="fa fa-external-link"></i></li>
				</ul>

				<h5>Frontend</h5>
				<ul>
				  <li>Python-basiertes Framework für Web-Applikationen  <a href="http://www.web2py.com" title="Homepage Web2py">Web2py&nbsp;<i class="fa fa-external-link"></i></a></li>
				  <li>HTML, CSS, responsives Design via <a href="http://getbootstrap.com" title="Homepage Bootstrap">Twitter Bootstrap&nbsp;<i class="fa fa-external-link"></i></a></li>
				  <li>Übergreifende Suche: <a href="http://lucene.apache.org/solr/" title="Homepage Apache Solr index">Apache Solr&nbsp;<i class="fa fa-external-link"></i></a></li>
				  <li>Online-Leseumgebung: <a href="https://github.com/elifesciences/lens" title="Homepage Github, Projekt Lens Viewer">eLife Lens&nbsp;<i class="fa fa-external-link"></i></a></li> 
				</ul>

				<h5>Schnittstellen</h5>
				<ul>
				  <li><a href="http://www.dini.de/projekte/oa-statistik/" title="Homepage OA Statistik">Open-Access-Statistik&nbsp;<i class="fa fa-external-link"></i></a></li> 
				  <li><a href="http://www.vgwort.de/startseite.html" title="Homepage VG Wort">VG Wort&nbsp;<i class="fa fa-external-link"></i></a></li>
				</ul>
            <!--		
                <p>Als technische Plattform für die Veröffentlichung elektronischer Bücher kommt die Open-Source Software <a href="https://pkp.sfu.ca/omp/" title="Open Monograph Press">OMP (Open Monograph Press)</a> zum Einsatz, die vom <a href="https://pkp.sfu.ca/">Public Knowledge Project (PKP)</a> entwickelt wird.<br />Die UB Heidelberg, als Betreiber von <b>arthistoricum-net - ART-Books</b>, ist Teil der internationalen Entwicklergemeinschaft.</p>

			<h4>Statistik</h4>
			<p>Zur Erstellung der Aufrufstatistik wird ein Verfahren eingesetzt, das auf dem Webdienst <a class="extern" href="http://www.dini.de/projekte/oa-statistik/">Open-Access-Statistik</a> beruht. Die Voraggregation der Zahlen erfolgt dabei auf Grundlage pseudonymisierter IP-Adressen bei der Verbundzentrale des Gemeinsamen Bibliotheksverbunds (<a href="http://www.gbv.de/Verbundzentrale" class="extern">VZG/GBV</a>). Im Anschluss daran werden die Zahlen durch die UB Heidelberg aufbereitet. Zugriffe auf mehrere Dateien, die auf derselben Frontdoor verlinkt sind, werden hierfür summiert.</p>

            <p>Das Zählverfahren folgt dem international verbreiteten <a href="http://www.projectcounter.org/" class="extern">COUNTER Code of Practice</a>. Dementsprechend werden Zugriffe bekannter Suchmaschinen bzw. ihrer Webcrawler, sowie von Systemen mit suchmaschinenüblichem Abfrageverhalten nicht berücksichtigt. Außerdem müssen Zugriffe von derselben IP-Adresse (an die via Proxyserver mehrere Internetnutzer gekoppelt sein können) auf dasselbe Dokument eine festgelegte Mindestzeitspanne auseinanderliegen, damit sie getrennt gezählt werden.</p>
            <p><strong>Bitte beachten Sie, dass bei Titeln mit einem Online-Erscheinungstermin vor dem 07.03.2016 die Statistikerfassung aus technischen Gründen erst an diesem Tag beginnt.</strong></p>
			-->
{{elif session.forced_language =='en': }}
                <p><b>arthistoricum-net - ART-Books</b> uses Open-Source-Software and participates in the development of innovative publication technology.  This includes software development as well as co-operation with partners such as the <a class="extern" href="https://pkp.sfu.ca" title="Homepage Public Knowledge Project">Public Knowledge Project (PKP)&nbsp;<i class="fa fa-external-link"></i></a> and active participation in national and international user networks.</p>

				<h5>Backend</h5>
				<ul>
				  <li>Monographs and collected volumes: <a href="https://pkp.sfu.ca/omp/" title="Homepage Open Monograph Press">Open Monograph Press (OMP)&nbsp;<i class="fa fa-external-link"></i></a></li>
				  <li>Database: <a href="https://www.mysql.com" title="Homepage MySQL">Oracle MySQL</a>&nbsp;<i class="fa fa-external-link"></i></li>
				</ul>


				<h5>Frontend</h5>
				<ul>
				  <li>Python-based framework for web applications <a href="http://www.web2py.com" title="Homepage Web2py">Web2py&nbsp;<i class="fa fa-external-link"></i></a></li>
				  <li>HTML, CSS, responsive design using <a href="http://getbootstrap.com" title="Homepage Bootstrap">Twitter Bootstrap&nbsp;<i class="fa fa-external-link"></i></a></li>
				  <li>Comprehensive searching: <a href="http://lucene.apache.org/solr/" title="Homepage Apache Solr index">Apache Solr&nbsp;<i class="fa fa-external-link"></i></a></li>
				  <li>Online reading environment: <a href="https://github.com/elifesciences/lens" title="Homepage Github, Projekt Lens Viewer">eLife Lens&nbsp;<i class="fa fa-external-link"></i></a></li> 
				</ul>

				<h5>Interfaces</h5>
				<ul>
				  <li><a href="http://www.dini.de/projekte/oa-statistik/" title="Homepage OA Statistik">Open-Access-Statistik&nbsp;<i class="fa fa-external-link"></i></a></li> 
				  <li><a href="http://www.vgwort.de/startseite.html" title="Homepage VG Wort">VG Wort&nbsp;<i class="fa fa-external-link"></i></a></li>
				</ul>
			<!--    
			<h4>Statistik</h4>
			<p>Zur Erstellung der Aufrufstatistik wird ein Verfahren eingesetzt, das auf dem Webdienst <a class="extern" href="http://www.dini.de/projekte/oa-statistik/">Open-Access-Statistik</a> beruht. Die Voraggregation der Zahlen erfolgt dabei auf Grundlage pseudonymisierter IP-Adressen bei der Verbundzentrale des Gemeinsamen Bibliotheksverbunds (<a href="http://www.gbv.de/Verbundzentrale" class="extern">VZG/GBV</a>). Im Anschluss daran werden die Zahlen durch die UB Heidelberg aufbereitet. Zugriffe auf mehrere Dateien, die auf derselben Frontdoor verlinkt sind, werden hierfür summiert.</p>

            <p>Das Zählverfahren folgt dem international verbreiteten <a href="http://www.projectcounter.org/" class="extern">COUNTER Code of Practice</a>. Dementsprechend werden Zugriffe bekannter Suchmaschinen bzw. ihrer Webcrawler, sowie von Systemen mit suchmaschinenüblichem Abfrageverhalten nicht berücksichtigt. Außerdem müssen Zugriffe von derselben IP-Adresse (an die via Proxyserver mehrere Internetnutzer gekoppelt sein können) auf dasselbe Dokument eine festgelegte Mindestzeitspanne auseinanderliegen, damit sie getrennt gezählt werden.</p>
            <p><strong>Bitte beachten Sie, dass bei Titeln mit einem Online-Erscheinungstermin vor dem 07.03.2016 die Statistikerfassung aus technischen Gründen erst an diesem Tag beginnt.</strong></p>
			-->
				{{pass}}

		    

            </p>

        </div>
    </div>
  </div>  
                    
