{{extend 'layout.html'}}

<div id="main" class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>  {{if session.forced_language =='de': }}
                „Das Bild als Ereignis e.V.“ <span style="font-weight:500">- Verein für kunstwissenschaftlichen Austausch und Dialog</span>    
                {{elif session.forced_language =='en': }}
                „Das Bild als Ereignis e.V.“ <span style="font-weight:500">- Verein für kunstwissenschaftlichen Austausch und Dialog</span> 
            {{pass}}
            </h3>

            <p>
                {{if session.forced_language =='de': }}

                <div id="infoBoxRechts" class="col-lg-3"><p>{{=IMG(_src=URL(myconf.take('web.application'),'static','images/editor/bild_als_ereignis_logo.png'),_width='230px')}}</p>
         
                <p><b>Kontakt</b><br>
                Das Bild als Ereignis e. V.<br>
                Hagenstraße 30<br>
                D-64625 Bensheim<br><br>
 
                Vertreten durch den Vorstand Johann Schulz, Laura Sobez, Dominic E. Delarue, Sabine Koßmann<br><br>
 
                Tel.: auf Anfrage<br>
                E-Mail: verein@bildalsereignis.de<br>
                <div style="width:25%; float:left;">Internet:</div><div style="width:75%; float:left;"><a href="http://www.bildalsereignis.de" title="Homepage">Homepage</a><br></div>
                <div style="width:25%; float:left;">&nbsp;</div><div style="width:75%; float:left;"><a href="https://www.facebook.com/pages/Das-Bild-als-Ereignis-eV/137134156350819?ref=hl" title="Facebookprofil">Facebookprofil</a></p></div>
                </div>
                <p>Der gemeinnützige Verein <b>Das Bild als Ereignis e. V.</b> wurde 2010 mit dem Ziel gegründet, den lebendigen Austausch zwischen Europäischer Kunstgeschichte, ihren akademischen Nachbardisziplinen und der kunstinteressierten Öffentlichkeit zu unterstützen und zu fördern. Er versteht sich als überregionaler Arbeitskreis, Kommunikationsplattform und Förderorgan für den wissenschaftlichen Nachwuchs und anderen künstlerisch engagierten Gruppen. Dabei spielt der Dialog zwischen etablierten und jungen Forschern ebenso eine wesentliche Rolle wie das anregende Gespräch zwischen Kunstinteressierten, Künstlern und Wissenschaftlern. Mit der Organisation von Tagungen, Kolloquien und Symposien, gemeinsamen Aktivitäten rund um Kunst, Architektur, Kunsttheorie und Philosophie sowie der Unterstützung und Konzeption von Publikationen will der Verein die reflektierte Auseinandersetzung mit Kunst anregen und bereichern.</p>
{{elif session.forced_language =='en': }}

 <div id="infoBoxRechts" class="col-lg-3"><p>{{=IMG(_src=URL(myconf.take('web.application'),'static','images/editor/bild_als_ereignis_logo.png'),_width='230px')}}</p>

                <p><b>Kontakt</b><br>
                Das Bild als Ereignis e. V.<br>
                Hagenstraße 30<br>
                D-64625 Bensheim<br><br>

                Represented by committee Johann Schulz, Laura Sobez, Dominic E. Delarue, Sabine Koßmann<br><br>

                Tel.: on request<br>
                E-Mail: verein@bildalsereignis.de<br>
                <div style="width:25%; float:left;">Internet:</div><div style="width:75%; float:left;"><a href="http://www.bildalsereignis.de" title="Homepage">Homepage</a><br></div>
                <div style="width:25%; float:left;">&nbsp;</div><div style="width:75%; float:left;"><a href="https://www.facebook.com/pages/Das-Bild-als-Ereignis-eV/137134156350819?ref=hl" title="Facebookprofil">Facebookprofil</a></p></div>
                </div>

                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>


                {{pass}}


            </p>

        </div>
    </div>
  </div>

