{{extend 'layout.html'}}
<script type="text/javascript" charset="utf-8">
    $(window).load(function() {
        $('.flexslider').flexslider();
    });
</script>
<div class="container">

    <!-- end header -->

    <section id="featured">

        <!-- start slider -->

        <div class="container">

            <div class="row">

                <div class="col-lg-12">

                    <!-- Slider -->

                    <div id="main-slider" class="flexslider">

                        <ul class="slides">                
                            <li>
                                <img id="hup-logo" src="{{=URL(myconf.take('web.application'),'static','images/press/slideshow/01_ebook_reader.jpg')}}" />
                            </li>
                        </ul>

                    </div>

                    <!-- end slider -->

                </div>

            </div>

        </div>

    </section>

    <section id="content">

        <div class="container">

        </div>

    </section>

</div>
