{{extend 'layout.html'}}
<script type="text/javascript" charset="utf-8">
    $(window).load(function() {
        $('.flexslider').flexslider();
    });
</script>
<div class="container">

    <!-- end header -->

    <section id="featured">

        <!-- start slider -->
<!--
        <div class="container">

            <div class="row">

                <div class="col-lg-12">


                    <div id="main-slider" class="flexslider">

                        <ul class="slides">                
                            <li>
                                <img id="hup-logo" src="{{=URL(myconf.take('web.application'),'static','images/press/slideshow/01_ebook_reader.jpg')}}" />
                            </li>
                        </ul>

                    </div>


                </div>

            </div>

        </div>
-->
    </section>

    <section id="content">

        <div class="container">
           <div class="row" style="height:40px;"></div>
            <div class="row">

                <div class="col-lg-12">

                    <div class="row">

                        <div class="col-lg-3">

                            <div class="box">
                                {{if session.forced_language =='de': }}                
                                <div class="box-gray aligncenter">

                                    <h4>Neuerscheinung</h4>

				   {{=IMG(_src=URL(myconf.take('web.application'),'static','monographs/49/simple/cover.jpg'),_width='145px')}}
                                </div>

                                <div class="box-bottom">

                                    {{=A(T('More'),_href=URL('catalog','book/49'))}}

                                </div>

                            {{elif session.forced_language =='en': }}
                        <div class="box-gray aligncenter">
   
   <h4>New Titles</h4>
				   {{=IMG(_src=URL(myconf.take('web.application'),'static','monographs/49/simple/cover.jpg'),_width='145px')}}
                                </div>

             <div class="box-bottom">

                  {{=A(T('More Information'),_href=URL('catalog','book/49'))}}

              </div>
               {{pass}}  
          </div>                                    
                     
      </div>

      <div class="col-lg-3">
      
          <div class="box">

              <div class="box-gray aligncenter">
              {{if session.forced_language =='de': }}  
                  <h4>Demnächst</h4>
                      {{=IMG(_src=URL(myconf.take('web.application'),'static','images/press/home/cover_chant.png'),_width='145px')}}
               </div>

               <div class="box-bottom">

                  {{=A(T('More'),_href=URL('partner','ap'))}}

               </div>
          {{elif session.forced_language =='en': }}
                <h4>Soon</h4>
                      {{=IMG(_src=URL(myconf.take('web.application'),'static','images/press/home/cover_chant.png'),_width='145px')}}
               </div>

               <div class="box-bottom">

                  {{=A(T('More Information'),_href=URL('partner','ap'))}}

               </div>
          
                {{pass}}  


          </div>

      </div>

      <div id="boxAktuelles" class="col-lg-6">

          <div class="box">
        <div class="box-gray aligncenter" style="overflow-y: scroll">

          {{if session.forced_language =='de': }}       
              <h4>Aktuelles</h4>
          {{elif session.forced_language =='en': }}
              <h4>News</h4>
          {{pass}}
          
          
              <div class="media">
                  <div class="media-left pull-left">
                       <img src="{{=URL(myconf.take('web.application'),'static','images/home/arthistoricum_logo_klein.png')}}" style="width: 50px;" />
                  </div>                        
                  <div class="media-body">      
                      <p class="media-heading">
        {{if session.forced_language =='de': }}  
            <h5>Neu in arthistoricum.net – ART-Books</h5>
        {{elif session.forced_language =='en': }}
            <h5>New in arthistoricum.net – ART-Books</h5> 
        {{pass}}          
                      </p>
                  <p class="boxText">
        {{if session.forced_language =='de': }}  
                              Wir freuen uns über unsere neue Kooperation mit dem gemeinnützigen Verein "<a href="{{=URL(myconf.take('web.application'),'partner','dbae.html')}}" title="Informationsseite zum Verein Das Bild als Ereignis">Das Bild als Ereignis e. V.</a>". In Kürze wird hier der zweite Band seiner Schriftenreihe mit dem Titel "Mediale Dimensionen von Reproduktion" als Open-Access-eBook erscheinen. 
               {{elif session.forced_language =='en': }}      
                              Wir freuen uns über unsere neue Kooperation mit dem gemeinnützigen Verein "<a href="{{=URL(myconf.take('web.application'),'partner','dbae.html')}}" title="Informationsseite zum Verein Das Bild als Ereignis">Das Bild als Ereignis e. V.</a>". In Kürze wird hier der zweite Band seiner Schriftenreihe mit dem Titel "Mediale Dimensionen von Reproduktion" als Open-Access-eBook erscheinen.
                          {{pass}}                                   
                                      </p>
                                    </div>
                                </div>          
          
          <div class="media">
                  <div class="media-left pull-left">
                       <img src="{{=URL(myconf.take('web.application'),'static','images/home/Open_access_logo.png')}}" style="width: 50px;" />
                  </div>                        
                  <div class="media-body">      
                      <p class="media-heading">
        {{if session.forced_language =='de': }}  
            <h5>open-access.net</h5>
        {{elif session.forced_language =='en': }}
            <h5>open-access.net</h5>        
        {{pass}}   
                      </p>
                  <p class="boxText">
{{if session.forced_language =='de': }}
                  Kennen Sie die Plattform <b><a href="https://www.open-access.net/startseite/" title="Homepage open-access.net">open-access.net</a></b>? Sie bietet umfassende Information über das Thema Open Access und praktische Umsetzungshilfen an. open-access.net macht Konzepte, rechtliche, organisatorische und technische Rahmenbedingungen, konkrete Erfahrungen bei der Umsetzung, Initiativen, Dienste, Dienstleistungsanbieter und Positionspapiere gut aufbereitet zugänglich.
        {{elif session.forced_language =='en': }}
                  Are you aware of the platform <b><a href="https://www.open-access.net/startseite/" title="Homepage open-access.net">open-access.net</a></b>? It offers detailed information on the subject of Open Access and a practical implementation guide. open-access.net provides well-edited, customized concepts, information on legal, organizational and technical framework conditions, shares concrete experiences with the realization, and introduces initiatives, services and position papers.
{{pass}}            
<!--<a href="http://open-access.net/community/open_access_tage/ " target="_blank">&nbsp;<i class="fa fa-external-link"></i></a>-->
                      </p>

                  </div>


              </div>
              

                                
                                </div>
                                
                                <!--<div class="media">
                                    <div class="media-left pull-left">
                                        <a href="#">
                                            <img src="{{=URL(myconf.take('web.application'),'static','images/press/home/cluster.jpg')}}" width="50px"/>
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <p class="media-heading"><strong>DFG-Projekt: Entwicklung eines Geschäftsmodells für Open-Access-Bücher</strong> </p>
                                        <p>Der Exzellenzcluster „Asien und Europa im globalen Kontext“ der Universität Heidelberg und die Universitätsbibliothek Heidelberg planen die Entwicklung eines innovativen Geschäftsmodells für die frei zugängliche Veröffentlichung wissenschaftlicher Bücher im Internet.
                                            <a href="http://www.asia-europe.uni-heidelberg.de/en/research/publishing/heidelberg-studies-in-transculturality-an-open-access-book-series.html"  target="_blank">&nbsp;<i class="fa fa-external-link"></i></a>
                                        </p>
                                    </div>
                                </div>-->
                                                                <div class="box-bottom">&nbsp;
   <!--{{if session.forced_language =='de': }}
                                    <a href="http://heiup.uni-heidelberg.de/#"><span style="color: #EFEFEF;">Mehr</span>
      {{elif session.forced_language =='en': }}
                                    <a href="http://heiup.uni-heidelberg.de/#"><span style="color: #EFEFEF;">More</span>
                                      {{pass}}-->         
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="row">

                <div class="col-lg-12">

                    <div class="row">

                        <div class="col-lg-3">

                            <div class="box">

                                <div class="box-gray aligncenter">
   {{if session.forced_language =='de': }}
                                    <h4>Reihe</h4>
   {{elif session.forced_language =='en': }}
                                    <h4>Series</h4>                                    
                                       {{pass}}                                    

                                    {{=IMG(_src=URL(myconf.take('web.application'),'static','monographs/26/simple/cover.jpg'),_width='145px')}}

                                </div>

                                <div class="box-bottom">
   {{if session.forced_language =='de': }}
                                    {{=A(T('More'),_href=URL('catalog','series/mps'))}}
      {{elif session.forced_language =='en': }}
                                    {{=A(T('More Information'),_href=URL('catalog','series/mps'))}}
                                      {{pass}}         
                                </div>

                            </div>

                        </div>

                        <div class="col-lg-3">

                            <div class="box">

                                <div class="box-gray aligncenter">
                                   {{if session.forced_language =='de': }}
                                    <h4>Reihe</h4>
                                   {{elif session.forced_language =='en': }}
                                    <h4>Series</h4>
                                   {{pass}}

                                   {{=IMG(_src=URL(myconf.take('web.application'),'static','images/series/serien_cover.png'),_width='145px')}}
                                

                                </div>

                                <div class="box-bottom">&nbsp;
                                {{if session.forced_language =='de': }}
                                {{=A(T('More'),_href=URL('series','eva_info'))}}
      {{elif session.forced_language =='en': }}
                                {{=A(T('More Information'),_href=URL('series','eva_info'))}}
                                {{pass}}
                                </div>

                            </div>

                        </div>

                        <div class="col-lg-6" id="boxAktuelles">

                        <div class="box">
                        <div class="box-gray aligncenter">
                        <h4>arthistoricum.net – ART-Books </h4>
                        <p class="boxText">
{{if session.forced_language =='de': }}
                         ist die Open-Access-Publikationsplattform von arthistoricum.net für wissenschaftliche E-Books aus den Fachbereichen Kunstgeschichte, Fotografie und Design.<br />
Wir unterstützen Open Access als Publikationsmodell für die Verbreitung von Forschungsergebnissen und veröffentlichen sowohl Erstpublikationen ("goldener Weg") als auch Zweitveröffentlichungen ("grüner Weg"). Das kostenfreie Angebot richtet sich an Kunstwissenschaftlerinnen und Kunstwissenschaftler weltweit.<br />
Zum Einsatz kommt die Open-Source-Software OMP des Public Knowledge Project (PKP).
{{elif session.forced_language =='en': }}
                         ist die Open-Access-Publikationsplattform von arthistoricum.net für wissenschaftliche E-Books aus den Fachbereichen Kunstgeschichte, Fotografie und Design.<br />
Wir unterstützen Open Access als Publikationsmodell für die Verbreitung von Forschungsergebnissen und veröffentlichen sowohl Erstpublikationen ("goldener Weg") als auch Zweitveröffentlichungen ("grüner Weg"). Das kostenfreie Angebot richtet sich an Kunstwissenschaftlerinnen und Kunstwissenschaftler weltweit.<br />
Zum Einsatz kommt die Open-Source-Software OMP des Public Knowledge Project (PKP).
{{pass}}

                        </p>
                        </div>
 
              <div class="box-bottom">&nbsp;</div>
                      </div>
                        </div>








                        </div>

                    </div>

                </div>

            </div>

        </div>

    </section>

</div>
