{{extend 'layout.html'}}
<script type="text/javascript" charset="utf-8">
    $(window).load(function() {
        $('.flexslider').flexslider();
    });
</script>
<div class="container">
  <!-- end header -->
  <section id="featured">
  </section>
  <section id="content">
    <div class="container">
      <div class="row" style="height:40px;">
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-3">
              <div class="box">
                <div class="box-gray aligncenter"><h4>{{=T('New Titles')}}</h4> 
                 {{=IMG(_src=URL('static','files/presses/2/monographs/315/simple/cover.jpg'),_style='width:145px',_class='bildrahmen',_alt='')}}
                </div>
                <div class="box-bottom"> 
                {{=A(T('More Information'),_href=URL('catalog','book/315'))}}  
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="box">
                <div class="box-gray aligncenter"><h4>{{=T('New Titles')}}</h4>
                {{=IMG(_src=URL('static','files/presses/2/monographs/299/simple/cover.jpg'),_style='width:145px',_class='bildrahmen',_alt='')}}          
                </div>
                <div class="box-bottom">
                  {{=A(T('More Information'),_href=URL('catalog','book/299'))}}
               </div>
              </div>
            </div>

            <div id="boxAktuelles" class="col-lg-6">
              <div class="box">
                <div class="box-gray aligncenter" style="overflow-y: scroll"><h4>{{=T('News')}}</h4>

                <div class="media">
                    <div class="media-left pull-left">
                      <img alt="" src="{{=URL('static','images/home/arthistoricum_logo_klein.png')}}" style="width: 50px;" />
                    </div>
                    <div class="media-body">
                      <p class="media-heading">12.12.2017</p>
                        <h5>{{=T('New')}}: 
                        {{if session.forced_language =='de': }} 
                        {{=A(T('Sigrid Ruby: Mit Macht verbunden. Bilder der Favoritin im Frankreich der Renaissance'),_href=URL('catalog','book/299'))}}
                        {{elif session.forced_language =='en': }} 
                        {{=A(T('Sigrid Ruby: Mit Macht verbunden. Bilder der Favoritin im Frankreich der Renaissance'),_href=URL('catalog','book/299'))}}
                        {{pass}}  
                        </h5>
                      <p class="boxText"> {{if session.forced_language =='de': }} 
Die Mätressen der französischen Könige prägen unsere Vorstellung vom Leben am frühneuzeitlichen Fürstenhof – ein Leben voll Glamour, Affären und Intrigen, animiert von schönen Frauen, die Macht und Einfluss hatten. In dieser Studie geht es um eine Präzisierung dieser Vorstellung aus kunstgeschichtlicher Perspektive. Untersucht werden Bilder der Favoritin, wie sie das Zeitalter der französischen Renaissance in unterschiedlichen Medien und Gattungen hervorbrachte. Im Zentrum stehen zwei historische Frauenfiguren, Anne de Pisseleu (1508-80?) und Diane de Poitiers (1500-1566).
 
 
                      {{elif session.forced_language =='en': }} 
The mistresses of the French Kings shape our impression of life within the royal court of the early modern times – a life full of glamour, affairs and intrigues, animated by beautiful women that possessed power and influence. This study focuses on the clarification of this impression from an art-historical perspective, and analyses depictions of the “beloved one” in different mediums and art genres throughout the period of the French renaissance. Two historical figures find themselves at the center of our attention, namely Anne de Pisseleu (1508-80?) and Diane de Poitiers (1500-1566).
 
                        {{pass}}
                      </p>
                    </div>
                  </div>
                
                <div class="media">
                    <div class="media-left pull-left">
                      <img alt="" src="{{=URL('static','images/home/arthistoricum_logo_klein.png')}}" style="width: 50px;" />
                    </div>
                    <div class="media-body">
                      <p class="media-heading">25.10.2017</p>
                        <h5>{{=T('New')}}: 
                        {{if session.forced_language =='de': }} 
                        {{=A(T('Henry Keazor (Hrsg.), Film Plakat Kunst. Dietrich Lehmann und der Heidelberger Filmclub der 50er Jahre'),_href=URL('catalog','book/299'))}}
                        {{elif session.forced_language =='en': }} 
                        {{=A(T('Henry Keazor (Hrsg.), Film Plakat Kunst. Dietrich Lehmann und der Heidelberger Filmclub der 50er Jahre'),_href=URL('catalog','book/299'))}}
                        {{pass}}  
                        </h5>
                      <p class="boxText"> {{if session.forced_language =='de': }} 
In den 50er Jahren schuf Dietrich Lehmann (1929-2014) handgemalte Filmplakate für den studentischen Filmclub Heidelberg, dessen Wirken über Heidelberg hinaus eine beachtliche Strahlkraft in das bundesrepublikanische Nachkriegsdeutschland hatte. Der die gleichnamige Ausstellung des Universitätsmuseums Heidelberg begleitende Katalog ordnet die Plakatschöpfungen Lehmanns innerhalb der Entwicklungsgeschichte des Filmplakats ein und setzt sich in Beiträgen mit der Geschichte des Heidelberger Filmclubs wie der Filmclubs in Deutschland generell auseinander. Darüber hinaus werden Hintergründe zur Kinogeschichte beleuchtet und die Persönlichkeit Dietrich Lehmanns vorgestellt.
 
 
                      {{elif session.forced_language =='en': }} 
In the 1950s the Dietrich Lehmann (1929-2014) did create a series of hand-painted film posters for the student film club at the university of Heidelberg. Hereby, the impressive effect this film club had did reach out way beyond Heidelberg into post-war Federal Germany. The catalogue, which accompanies the eponymous exhibition at the University Museum in Heidelberg, contextualises Lehmann’s posters within the history and the development of the genre of the film poster and discusses in articles as well as in the individual entries the history of the Heidelberg film club as well as that of the German film clubs in general. Moreover, the history of film and the personality of Dietrich Lehmann are examined.
 
                        {{pass}}
                      </p>
                    </div>
                  </div>
                
                <div class="media">
                    <div class="media-left pull-left">
                      <img alt="" src="{{=URL('static','images/home/arthistoricum_logo_klein.png')}}" style="width: 50px;" />
                    </div>
                    <div class="media-body">
                      <p class="media-heading">19.10.2017</p>
                        <h5>{{=T('New')}}: 
                        {{if session.forced_language =='de': }} 
                        {{=A(T('Michael Falser, Wilfried Lipp (Eds.), A Future for Our Past. The 40th anniversary of European Architectural Heritage Year (1975–2015)'),_href=URL('catalog','book/298'))}}
                        {{elif session.forced_language =='en': }} 
                        {{=A(T('Michael Falser, Wilfried Lipp (Eds.), A Future for Our Past. The 40th anniversary of European Architectural Heritage Year (1975–2015)'),_href=URL('catalog','book/298'))}}
                        {{pass}}  
                        </h5>
                      <p class="boxText"> {{if session.forced_language =='de': }} 
Unter dem Motto <i>Eine Zukunft für unsere Vergangenheit</i> war das Europäische Denkmalschutzjahr von 1975 die bisher bedeutendste und erfolgreichste Kampagne zur Bewahrung und Emporwertung des architektonischen Erbes in Europa. Die Programmatik und Ideen von 1975 sind nach wie vor virulent und fordern eine Neuinterpretation unter den Bedingungen der Gegenwart heraus. Zum 40. Jubiläum 2015 stellt diese Publikation mit über 40 internationalen Beiträgen über Europa hinaus die erste umfassende Würdigung der europäischen Kampagne von 1975 dar.  
 
                      {{elif session.forced_language =='en': }} 
Under the motto <i>A Future for Our Past</i>, the European Architectural Heritage Year of 1975 was the most important and successful campaign of its time for the preservation and valorisation of architectural heritage in Europe. Its programmatic approaches and conceptual ideas are of high importance for the present, and motivate new interpretations for the future. With more than 40 contributions this publication is the ﬁrst comprehensive appraisal of 1975 European Architectural Heritage Year for its 40th anniversary in 2015. 
                        {{pass}}
                      </p>
                    </div>
                  </div>


                <div class="media">
                    <div class="media-left pull-left">
                      <img alt="" src="{{=URL('static','images/home/arthistoricum_logo_klein.png')}}" style="width: 50px;" />
                    </div>
                    <div class="media-body">
                      <p class="media-heading">19.10.2017</p>
                        <h5>{{=T('New')}}: 
                        {{if session.forced_language =='de': }} 
                        {{=A(T('Birgit Franz, Gerhard Vinken (Eds.), Das Digitale und die Denkmalpflege. Bestandserfassung – Denkmalvermittlung – Datenarchivierung – Rekonstruktion verlorener Objekte'),_href=URL('catalog','book/263'))}}
                        {{elif session.forced_language =='en': }} 
                        {{=A(T('Birgit Franz, Gerhard Vinken (Eds.), Das Digitale und die Denkmalpflege. Bestandserfassung – Denkmalvermittlung – Datenarchivierung – Rekonstruktion verlorener Objekte'),_href=URL('catalog','book/263'))}}
                        {{pass}}  
                        </h5>
                      <p class="boxText"> {{if session.forced_language =='de': }} 
Die &bdquo;digitale Revolution&rdquo; ist längst in vollem Gange. Für die Denkmalpflege haben digitale Anwendungen neue Perspektiven geöffnet, etwa in der interaktiven Visualisierung verlorener Zustände, im Monitoring bedrohter Stätten und Artefakte oder in der komplexen Vernetzung heterogener Wissensbestände. Deutlicher werden inzwischen auch Grenzen und ungelöste Probleme im Einsatz digitaler Technologien, etwa was die Nachhaltigkeit der rapide wachsenden Datenmengen betrifft. 
 
                      {{elif session.forced_language =='en': }} 
The &ldquo;digitial revolution&rdquo; has already been in full progress now. Digital applications have opened new perspectives for historic preservation such as the interactive visualisation of bygone conditions, the monitoring of endangered sites and artefacts or the complex networking of heterogeneous bodies of knowledge. At the same time, limitations and unsolved problems of applying digital technologies become evident; for instance the sustainability of rapidly growing amounts of data has been recognized as a critical issue. 
                        {{pass}}
                      </p>
                    </div>
                  </div>



                <div class="media">
                    <div class="media-left pull-left">
                      <img alt="" src="{{=URL('static','images/home/arthistoricum_logo_klein.png')}}" style="width: 50px;" />
                    </div>
                    <div class="media-body">
                      <p class="media-heading">31.08.2017</p>
                        <h5>{{=T('New')}}: 
                        {{if session.forced_language =='de': }} 
                        <a href="http://books.ub.uni-heidelberg.de/arthistoricum/catalog/book/198">Marius Lausch, Sprechende Bilder. Architektur, Glasmalerei und Ikonographie der Kathedrale Saint-Étienne in Auxerre</a>
                        {{elif session.forced_language =='en': }} 
                        <a href="http://books.ub.uni-heidelberg.de/arthistoricum/catalog/book/198">Marius Lausch, Sprechende Bilder. Architektur, Glasmalerei und Ikonographie der Kathedrale Saint-Étienne in Auxerre</a>
                        {{pass}}  
                        </h5>

                      <p class="boxText"> {{if session.forced_language =='de': }} 
Es brauchte mehrere Generationen, um die Kathedrale Saint-Étienne von Auxerre zu vollenden, und dennoch weist der Bau eine bemerkenswerte Einheitlichkeit auf. Neben der Architektur verdienen vor allem die zahlreichen Bilderzyklen der Glasmalerei und die Skulpturen Beachtung. Diese „sprechenden Bilder“ sind nicht nur dekorative Elemente, sondern integrale Bestandteile der Bischofskirche. Nur im Zusammenspiel aller einzelnen Werke vermittelt die Kathedrale Saint-Étienne einen realistischen Eindruck von der Komplexität mittelalterlicher Sakralbauten und der Religiosität einer urbanen Gesellschaft des 13. Jahrhunderts.
 
                      {{elif session.forced_language =='en': }} 
It took generations for the Cathedral of Auxerre to be completed and yet the building shows a remarkable homogeneity. Along with the architecture, particularly the numerous cycles of images deserve recognition. These "talking Pictures" are not merely decorative elements but integral components of the bishop`s church. It is the interaction between many singular pieces of art by which the Cathedral Saint-Étienne conveys a realistic impression of the complexity of medieval sacral buildings and the religiousness of an urban society in the 13th century.   
                        {{pass}}
                      </p>
                    </div>
                  </div>


                <div class="media">
                    <div class="media-left pull-left">
                      <img alt="" src="{{=URL('static','images/home/arthistoricum_logo_klein.png')}}" style="width: 50px;" />
                    </div>
                    <div class="media-body">
                      <p class="media-heading">29.08.2017
                      </p>
                      <h5>{{=T('New')}}: 
                        {{if session.forced_language =='de': }} 
                        <a href="http://books.ub.uni-heidelberg.de/arthistoricum/catalog/book/293">Renaissance · Barock · Aufklärung. Kunst und Kultur vom 16. bis zum 18. Jahrhundert</a>, hrsg. von Daniel Hess und Dagmar Hirschfelder
                        {{elif session.forced_language =='en': }} 
                        <a href="http://books.ub.uni-heidelberg.de/arthistoricum/catalog/book/293">Renaissance · Barock · Aufklärung. Kunst und Kultur vom 16. bis zum 18. Jahrhundert</a>, hrsg. von Daniel Hess und Dagmar Hirschfelder 
                        {{pass}}  
                        </h5>

                      <p class="boxText"> {{if session.forced_language =='de': }} 
Der Band begleitet die im Germanischen Nationalmuseum 2010 neu eröffnete Dauerausstellung zur Kunst und Kulturgeschichte des 16. bis 18. Jh. im deutschen Sprachraum. Die Schausammlung erschließt mit rund 1.000 Exponaten in 33 Räumen zentrale Themen der Frühen Neuzeit, wie Sammeln und Repräsentieren, Antikenrezeption und Naturstudium, die Wechselwirkung von Kunst und Religion oder das sich wandelnde Bild vom Menschen. Zu diesen Leitthemen bietet die Publikation vertiefende Beiträge und einen wissenschaftlichen Katalog aller ausgestellten Objekte.Beharrlichkeit der lokalen Traditionen dennoch nicht unterschätzt werden. 
                      {{elif session.forced_language =='en': }} 
This title accompanies the permanent exhibition at the Germanisches Nationalmuseum on art and cultural history of the German-speaking world during the 16th to 18th centuries. The exhibition has been on display since 2010. It features about 1,000 exhibits in 33 rooms and addresses central themes of the early modern period such as collecting and presenting, the reception of antiquity and nature studies, the correlation between art and religion and the changing image of humanity. The complementing publication includes papers that deal with these key themes in a detailed manner. It also comprises a scientific catalogue of all exhibits.  
                        {{pass}}
                      </p>
                    </div>
                  </div>


                <div class="media">
                    <div class="media-left pull-left">
                      <img alt="" src="{{=URL('static','images/home/arthistoricum_logo_klein.png')}}" style="width: 50px;" />
                    </div>
                    <div class="media-body">
                      <p class="media-heading">29.08.2017</p>
                        <h5>{{=T('New')}}: 
                        {{if session.forced_language =='de': }} 
                        <a href="http://books.ub.uni-heidelberg.de/arthistoricum/catalog/book/212">Vom Streit zum Bild. Bildpolemik und andere Waffen der Künstler</a>, hrsg. von Doris H. Lehmann
                        {{elif session.forced_language =='en': }} 
                        <a href="http://books.ub.uni-heidelberg.de/arthistoricum/catalog/book/212">Vom Streit zum Bild. Bildpolemik und andere Waffen der Künstler</a>, hrsg. von Doris H. Lehmann 
                        {{pass}}  
                        </h5>

                      <p class="boxText"> {{if session.forced_language =='de': }} 
Wie stritten bildende Künstler und wie setzten sie dabei ihre Werke als Waffen ein? Ausgehend von dieser Frage zeigt der Sammelband des DFG-Projekts „Streitstrategien bildender Künstler in der Neuzeit“ exemplarisch, wie Maler, Graphiker und Bildhauer ihre Bilderfindungen im Kontext ihrer Auseinandersetzungen mit anderen Künstlern, Kritikern und Auftraggebern als eigenständiges Medium der Kommunikation, der Selbstpositionierung und -inszenierung einsetzten. Die Beiträge basieren auf den Vorträgen und Diskussionen der vom 4. bis 5. Dezember 2015 an der Universität Bonn veranstalteten internationalen Tagung „Vom Streit zum Bild – Bildpolemik und andere Waffen der Künstler“.
                      {{elif session.forced_language =='en': }} 
How do visual artists argue with one another and how do they use their works as weapons? This question was the subject of the congress 'From argument to image – visual polemics and other artists' weapons, organised by the DFG project 'The argumentative strategies of visual artists in the modern era'. The essays encourage a debate on the artistic argument as a phenomenon and the creative potential it unleashes. The examples of such clashes include attacks on rivals, critics and patrons. 
                        {{pass}}
                      </p>
                    </div>
                  </div>


                <div class="media">
                    <div class="media-left pull-left">
                      <img alt="" src="{{=URL('static','images/home/arthistoricum_logo_klein.png')}}" style="width: 50px;" />
                    </div>
                    <div class="media-body">
                      <p class="media-heading">29.06.2017</p>
                        <h5>{{=T('New')}}: 
                        {{if session.forced_language =='de': }} 
                        Versailles, hrsg. von Th. W. Gaehtgens, Markus A. Castor,  F. Bussmann und  Christophe Henry
                        {{elif session.forced_language =='en': }} 
                        Versailles, edited by Th. W. Gaehtgens, Markus A. Castor,  F. Bussmann and Christophe Henry 
                        {{pass}}  
                        </h5>
                      <p class="boxText"> {{if session.forced_language =='de': }} 
Den Auftakt der neuen Reihe &bdquo;Passages online&rdquo;, herausgegeben vom Deutschen Forum für Kunstgeschichte in Paris, bildet der Sammelband <a href="{{=URL('catalog','book/234')}}" title="Informationen über 'Versailles'">Versailles</a>. Er untersucht den Einfluss eines der brillantesten Repräsentationsleistungen der Frühen Neuzeit auf die europäischen Höfe des 17. und 18. Jahrhunderts. Das Versailler Schloss, ein &bdquo;Showroom&rdquo;, der die französischen Luxusgüter über die Grenzen hinaus bekannt und zum begehrten Gut machte, zog die Blicke aller Regenten der Zeit auf sich. Doch wenngleich von Künstlern und Kunsthandwerkern, die sich an den europäischen Höfen niederließen, zahlreiche Formen und Ideen übernommen wurden, darf die Beharrlichkeit der lokalen Traditionen dennoch nicht unterschätzt werden.
                      {{elif session.forced_language =='en': }} 
The new series &ldquo;Passages online&rdquo; starts with the collected volume <a href="{{=URL('catalog','book/234')}}" title="Information on collected volume 'Versailles'">Versailles</a> produced by the German Forum for Art History in Paris. It examines the influence of one of the most splendidly representative achievements of the early modern period upon the European courts of the 17th and 18th centuries.  The Palace of Versailles was a showroom which made French luxury items known, and desired, far beyond the borders of France, drawing the attention of all regents of the time, and although numerous forms and ideas were borrowed by the artists and craftsmen who settled in the various European courts, the persistence of local traditions should not be under-estimated.
                        {{pass}}
                      </p>
                    </div>
                  </div>


                <div class="media">
                    <div class="media-left pull-left">
                      <img alt="" src="{{=URL('static','images/home/arthistoricum_logo_klein.png')}}" style="width: 50px;" />
                    </div>
                    <div class="media-body">
                      <p class="media-heading">13.06.2017</p>
                        <h5>{{=T('New')}}: 
                        {{if session.forced_language =='de': }} 
                        Alle Konferenz-Bände EVA Berlin online!
                        {{elif session.forced_language =='en': }} 
                        All volumes of the Eva-Conferences online  
                        {{pass}}  
                        </h5>
                      <p class="boxText"> {{if session.forced_language =='de': }} 
Alle bisher erschienenen Bände der <a href="{{=URL('series','info/eva')}}" title="Informationen über die EVA-Konferenz-Bände'">EVA-Konferenzen</a> sind in ART-Books verfügbar. Die EVA-Konferenzen sind ein internationales Forum für Anwender, Entwickler und Vermittler elektronischer Dokumentations- und Kommunikationstechniken im Kulturbereich. Der Schwerpunkt der Berliner EVA-Konferenzen liegt auf aktuellen, praxisnahen und technologisch avancierten Projekten. Konferenz, Workshop und begleitende Ausstellung präsentieren erfolgreiche Umsetzungen und innovative Ansätze. Neue technische Potentiale des netzbasierten Informationsaustauschs, der elektronischen Dokumentation und der digitalen Reproduktion werden ebenso thematisiert wie die methodische Orientierung oder Lizensierungsfragen. 
                      {{elif session.forced_language =='en': }} 
All volumes of the <a href="{{=URL('series','info/eva')}}" title="Information on EVA-Conference volumes'">Eva-Conferences</a> are on ART-Books.
The EVA-Conferences are an international forum for users, developers and other stakeholders in electronic documentation and communication technologies for the cultural sector. With venues in Berlin, Florence, London, Saint Petersburg and Jerusalem, the conferences present ambitious digitization projects dealing with cultural heritage, network-based research and mediation collaborations as well as information technology services for museums, libraries and archives. 
                        {{pass}}
                      </p>
                    </div>
                  </div>

				  <div class="media">
                    <div class="media-left pull-left">
                      <img alt="" src="{{=URL('static','images/home/arthistoricum_logo_klein.png')}}" style="width: 50px;" />
                    </div>
                    <div class="media-body">
                      <p class="media-heading">30.05.2017</p>
                        <h5>{{=T('New')}}: Das Phänomen Skatesticker. Bildrezeptionen und Kunstadaptionen in der Skateboardszene</h5>
                      
                      <p class="boxText"> {{if session.forced_language =='de': }} 
<a href="{{=URL('catalog','book/244')}}" title="Informationen über 'Das Phänomen Skatesticker'">Das Phänomen Skatsticker</a> beschäftigt sich mit grafisch gestalteten Aufklebern, die von Skatelabels – den Herstellern von Skateboards und Zubehör – distribuiert werden. Ursprünglich zu reinen Werbezwecken produziert, haben sich Skatesticker als Symbole der Szene etabliert.Die vorliegende Arbeit verfolgt einen bildwissenschaftlich orientierten Forschungsansatz, der es ermöglicht, die komplexen – oftmals bildende Kunst adaptierenden – Bildmotive dieser Grafikdesignobjekte und ihre zunehmend autonomisierten Funktionen als visuelle Medien einer Szene zu analysieren und anzuerkennen.
                      {{elif session.forced_language =='en': }} 
<a href="{{=URL('catalog','book/244')}}" title="Information on 'Das Phänomen Skatesticker'">Das Phänomen Skatesticker</a> focuses on graphically designed stickers distributed by skate labels (manufacturers of skateboards and accessories). Originally, they were produced for advertising purposes only, but have now become icons for the scene. Our visual research approach allows us to analyse and recognise the complex image motifs, which often adapt the visual arts, in these graphic design items and their increasingly autonomous function as visual media for a scene. 
                        {{pass}}
                      </p>
                    </div>
                  </div>

				  <div class="media">
                    <div class="media-left pull-left">
                      <img alt="" src="{{=URL('static','images/home/arthistoricum_logo_klein.png')}}" style="width: 50px;" />
                    </div>
                    <div class="media-body">
                      <p class="media-heading">26.05.2017</p>
                        <h5>{{=T('New')}}: Kunstrecht. Normen, Gesetze und Vorschriften</h5>
                
                      <p class="boxText"> {{if session.forced_language =='de': }} 
Im ständig wachsenden Kunstmarkt hat sich das Kunstrecht zu einer eigenständigen Disziplin entwickelt und nimmt heute einen wichtigen Platz in der Praxis ein. Das neue Kulturgüterschutzgesetz zeigt dies exemplarisch auf. <a href="{{=URL('catalog','book/181')}}" title="Informationen über 'Kunstrecht: Normen, Gesetze und Vorschriften'">Kunstrecht. Normen, Gesetze und Vorschriften</a> von N. Kemle vereint in einem Band die anwendbaren deutschen Gesetze, europäischen Richtlinien und Verordnungen, internationale Übereinkommen, angefangen von den Washington Principles bis zu UNIDROIT, sowie die ethischen Grundsätze der einzelnen Kunsthandelsverbände. 
                      {{elif session.forced_language =='en': }} Art law has evolved into being an independent and important discipline within the constantly growing art market. The new German Kulturgutschutzgesetz (Act to Protect German Cultural Property) exemplarily shows this growing importance.
<a href="{{=URL('catalog','book/181')}}" title="Information on 'Kunstrecht: Normen, Gesetze und Vorschriften'">Kunstrecht. Normen, Gesetze und Vorschriften </a> by N. Kemle combines both applicable German legislation, european guidelines and regulations, international conventions (e.g. the Washington Principles, UNIDROIT) and ethical principles of different art trade associations in one volume. 
                        {{pass}}
                      </p>
                    </div>
                  </div>
				
				  <div class="media">
                    <div class="media-left pull-left">
                      <img alt="" src="{{=URL('static','images/home/arthistoricum_logo_klein.png')}}" style="width: 50px;" />
                    </div>
                    <div class="media-body">
                      <p class="media-heading">05.05.2017</p>
                        <h5>{{=T('New')}}: Mimetische Praktiken in der neueren Architektur</h5>

                      <p class="boxText"> {{if session.forced_language =='de': }} 
Der  <a href="{{=URL('catalog','book/221')}}" title="Informationen über 'Mimetische Praktiken in der neueren Architektur'">Tagungsband</a> versammelt die im Jahr 2016 auf der Konferenz „Ähnlichkeit: Prozesse und Formen“ gehaltenen Vorträge, die durch zwei Artikel der Herausgeberinnen ergänzt werden. Der Fokus der Tagung lag auf aktuellen Forschungen zu Praktiken der Ähnlichkeitserzeugung in der neueren Architektur und wurde von Teilprojekten der DFG-SNF-Forschergruppe „Medien und Mimesis“ organisiert. 
                      {{elif session.forced_language =='en': }} In 2016, the convention "Resemblance: Processes and Forms" was held at the library of the Werner Oechslin foundation in Einsiedeln. This <a href="{{=URL('catalog','book/221')}}" title="Information on 'Mimetische Praktiken in der neueren Architektur'">volume</a> is a collection of papers contributed to the convention and two additional articles by the editors. The focus was set on researching the methods of generating similarity in recent architecture and was organised by the projects encompassed by the DFG-SNF-research group "Media and Mimesis."
                        {{pass}}
                      </p>
                    </div>
                  </div>
                
                  <div class="media">
                    <div class="media-left pull-left">
                      <img alt="" src="{{=URL('static','images/home/arthistoricum_logo_klein.png')}}" style="width: 50px;" />
                    </div>
                    <div class="media-body">
                      <p class="media-heading">12.01.2017</p>
                        {{if session.forced_language =='de': }} 
                        <h5>{{=T('New')}}: Einsichten in flüchtige Leben</h5>
                        {{elif session.forced_language =='en': }} 
                        <h5>{{=T('New')}}: Glances into Fugitive Lives</h5>
                        {{pass}}
                      
                      <p class="boxText"> {{if session.forced_language =='de': }} 
Ausgangspunkt der <a href="{{=URL('catalog','book/164')}}" title="Informationen über 'Einsichten in flüchtige Leben'">Publikation</a> ist die Präsentation daHEIM: Einsichten in flüchtige Leben, die das Museum Europäischer Kulturen 2016/17 in Zusammenarbeit mit der Künstlerin barbara caveng und der Initiative KUNSTASYL in Berlin realisiert hat. Vor dem Hintergrund der Situation von ZuwanderInnen durch Flucht in Europa seit 2015 stellt sie Erfahrungen und Träume der ProtagonistInnen aus einem Wohnheim in Berlin-Spandau dar. Zwölf internationale AutorInnen beschreiben individuelle Migrationserfahrungen von 2016 rückblickend bis ins 19. Jahrhundert.  
                      {{elif session.forced_language =='en': }} The starting point of this <a href="{{=URL('catalog','book/165')}}" title="Information on 'Glances into Fugitive Lives'">publication</a> is the presentation daHEIM: Glances into Fugitive Lives realized in Berlin by the Museum Europäischer Kulturen with the artist barbara caveng and the initiative KUNSTASYL in 2016/17. Against the background of the situation of immigrants fleeing to Europe since 2015, it highlights the experiences and dreams of its protagonists from a residential hostel in the Berlin district of Spandau. Twelve authors from Europe, North and South America describe individual migration experiences, looking back as far as the 19th century from 2016. 
                        {{pass}}
                      </p>
                    </div>
                  </div>
                                  
                  <div class="media">
                    <div class="media-left pull-left">
                      <img alt="" src="{{=URL('static','images/home/arthistoricum_logo_klein.png')}}" style="width: 50px;" />
                    </div>
					          <div class="media-body">
                      <p class="media-heading">21.10.2016</p>
                      {{if session.forced_language =='de': }}
                      <h5>Veranstaltungsreihe Open Access am Mittag: Publizieren an der Universität Heidelberg</h5>
                      {{elif session.forced_language =='en': }} 
                      <h5>Series of events Open Access at noon: Publishing with the Heidelberg University</h5>
                      {{pass}} 

                      <p class="boxText">{{if session.forced_language =='de': }}Anlässlich der Open-Access-Woche 2016 vom 24.10. bis 30.10. lädt die UB Sie in Ihrer Mittagspause dazu ein, sich über die <a href="http://www.ub.uni-heidelberg.de/service/openaccess/Welcome.html" title="Informationen über die Publikationsmöglichkeiten im Open Access an der Universität Heidelberg">vielfältigen Publikationsmöglichkeiten im Open Access</a>, die die Uni Heidelberg bereitstellt, zu informieren. Beginn: 13 Uhr im <a href="http://www.ub.uni-heidelberg.de/cgi-bin/ub3d.cgi?bereich=Handschriftenlesesaal&zweig=&sprache=de" title="Lageplan: Handschriftenlesesaal der UB Heidelberg">Handschriftenlesesaal (Rundzimmer)</a> der UB. [<a href="http://www.ub.uni-heidelberg.de/bilder/oa/oa-woche_plakat_A4.pdf">&rsaquo;&rsaquo;Veranstaltungsübersicht</a>]
                      {{elif session.forced_language =='en': }}                     
                      On occasion of the open acces week, 24-30 October 2016, the University Library invites you in your lunch break to inform you about the <a href="http://www.ub.uni-heidelberg.de/Englisch/service/openaccess/Welcome.html" title="Information on Open Access publishing options at Heidelberg University">various publishing options</a> Heidelberg University offers. Start: 1 pm in the <a href="http://www.ub.uni-heidelberg.de/cgi-bin/ub3d.cgi?bereich=Handschriftenlesesaal&zweig=altstadt&sprache=en" title="site plan manuscript reading room of Heidelberg University Library">manuscript reading room (round chamber)</a> of the library.           
                      {{pass}}
                      </p>
                    </div>
				  </div>
                  
                  <div class="media">
                    <div class="media-left pull-left">
                      <img alt="" src="{{=URL('static','images/home/arthistoricum_logo_klein.png')}}" style="width: 50px;" />
                    </div>
                    <div class="media-body">
                      <p class="media-heading">30.08.2016</p>
                        
                        {{if session.forced_language =='de': }} 
                        <h5>{{=T('New')}}: Le Chant du cygne. Die Gazette des Beaux-Arts und die französische Reproduktionsgraphik in der zweiten Hälfte des 19. Jahrhunderts</h5>
                        {{elif session.forced_language =='en': }} 
                        <h5>{{=T('New')}}: Le Chant du cygne. Die Gazette des Beaux-Arts und die französische Reproduktionsgraphik in der zweiten Hälfte des 19. Jahrhunderts</h5>
                        {{pass}}
                      
                      <p class="boxText"> {{if session.forced_language =='de': }} 
Die vorliegende <a href="{{=URL('catalog','book/149')}}" title="Informationen über 'Le Chant du cygne'">Untersuchung der französischen Reproduktionsgraphik</a> basiert auf der 1859 gegründeten Gazette des Beaux-Arts, einer der wichtigsten Kunstzeitschriften des 19. Jahrhunderts. Bis 1927 wurden dort Reproduktionsgraphiken und bis 1933 Originalgraphiken publiziert, die auch Gegenstand zahlreicher Artikel waren. In diesen geht es vor allem um die Erwartungen, die an druckgraphische Reproduktionen gestellt wurden. 
                      {{elif session.forced_language =='en': }} This <a href="{{=URL('catalog','book/149')}}" title="Information on 'Le Chant du cygne'">study of French reproduction</a> prints is based on the Gazette des Beaux-Arts, an art magazine founded in 1859 and one of the most important of its kind in the nineteenth century. Reproduction prints were published in it until 1927, and original works of printmaking until 1933; printmaking was also the subject of numerous articles.
                        {{pass}}
                      </p>
                    </div>
                  </div>
                  <div class="media">
                    <div class="media-left pull-left">
                      <img alt="" src="{{=URL('static','images/home/arthistoricum_logo_klein.png')}}" style="width: 50px;" />
                    </div>
                    <div class="media-body">
                      <p class="media-heading">12.08.2016</p>
                        {{if session.forced_language =='de': }} 
                        <h5>{{=T('New')}}: Casting. Ein analoger Weg ins Zeitalter der Digitalisierung?</h5>
                        {{elif session.forced_language =='en': }} 
                        <h5>{{=T('New')}}: Casting. A way to embrace the digital age in analogue fashion?</h5>
                        {{pass}}

                      <p class="boxText"> {{if session.forced_language =='de': }} Die Gipsformerei der Staatlichen Museen zu Berlin feiert 2019 ihr zweihundertjähriges Bestehen. Das ist ein Anlass, um u. a. zu diskutieren, wie sich eine Institution, deren Fokus auf der traditionellen handwerklichen Fertigung liegt, gegenüber technischen Innovationen behaupten kann. Die <a href="{{=URL('catalog','book/95')}}" title="Informationen zu 'Casting. Ein analoger Weg ins Zeitalter der Digitalisierung?">Publikation</a> widmet sich dieser Frage und bietet darüber hinaus einen interessanten Querschnitt zur aktuellen Forschungsdebatte.
                      {{elif session.forced_language =='en': }} In 2019 the Gipsformerei will be celebrating its 200th anniversary which is a welcome opportunity for us to address the following question: How can an institution whose core activity lies in traditional handcrafted production hold its own in the face of technical innovation? The <a href="{{=URL('catalog','book/95')}}" title="Information on Casting. A way to embrace the digital age in analogue fashion?">publication</a> addresses that question and adds an interesting cross-section on the current research debate.
                        {{pass}}
                      </p>
                    </div>
                  </div>
                  <div class="media">
                    <div class="media-left pull-left">
                      <img alt="" src="{{=URL('static','images/home/arthistoricum_logo_klein.png')}}" style="width: 50px;" />
                    </div>
                    <div class="media-body">
                      <p class="media-heading">11.08.2016</p>
                        <h5>{{=T('New')}}: EVA Berlin - Elektronische Medien & Kunst, Kultur, Historie</h5>
                      
                      <p class="boxText"> {{if session.forced_language =='de': }} Die bislang fünfzehn gedruckt erschienenen 
                        <a href="{{=URL('series','info/eva')}}" title="EVA-Berlin-Konferenzbände">EVA-Berlin-Konferenzbände</a> werden sukzessive online im OPEN ACCESS bereit gestellt. Die EVA-Konferenzen sind ein internationales Forum für Anwender, Entwickler und Vermittler elektronischer Dokumentations- und Kommunikationstechniken im Kulturbereich. {{elif session.forced_language =='en': }} Fifteen volumes of 
                        <a href="{{=URL('series','info/eva')}}" title="EVA-Conference papers">EVA-Conference papers</a> have been published so far in print and are successively made available online and in Open Access. The EVA-Conferences are an international forum for users, developers and other stakeholders in electronic documentation and communication technologies for the cultural sector.  {{pass}}
                      </p>
                    </div>
                  </div>
                  <div class="media">
                    <div class="media-left pull-left">
                      <img alt="" src="{{=URL('static','images/home/arthistoricum_logo_klein.png')}}" style="width: 50px;" />
                    </div>
                    <div class="media-body">
                      <h5>{{=T('New in')}} arthistoricum.net – ART-Books</h5>
                      <p class="boxText"> {{if session.forced_language =='de': }} Wir freuen uns über unsere neue Kooperation mit dem gemeinnützigen Verein "
                        <a href="{{=URL('partner','index/dbae')}}" title="Informationsseite zum Verein Das Bild als Ereignis">Das Bild als Ereignis e. V.</a>". In Kürze wird hier der zweite Band seiner Schriftenreihe mit dem Titel "Mediale Dimensionen von Reproduktion" als Open-Access-eBook erscheinen. {{elif session.forced_language =='en': }} Wir freuen uns über unsere neue Kooperation mit dem gemeinnützigen Verein "
                        <a href="{{=URL('partner','index/dbae')}}" title="Informationsseite zum Verein Das Bild als Ereignis">Das Bild als Ereignis e. V.</a>". In Kürze wird hier der zweite Band seiner Schriftenreihe mit dem Titel "Mediale Dimensionen von Reproduktion" als Open-Access-eBook erscheinen. {{pass}}
                      </p>
                    </div>
                  </div>
                  <div class="media">
                    <div class="media-left pull-left">
                      <img alt="" src="{{=URL('static','images/home/Open_access_logo.png')}}" style="width: 50px;" />
                    </div>
                    <div class="media-body">
                      <h5>open-access.net</h5>
                      <p class="boxText">{{if session.forced_language =='de': }} Kennen Sie die Plattform <b>
                          <a href="https://www.open-access.net/startseite/" title="Homepage open-access.net">open-access.net</a></b>? Sie bietet umfassende Information über das Thema Open Access und praktische Umsetzungshilfen an. open-access.net macht Konzepte, rechtliche, organisatorische und technische Rahmenbedingungen, konkrete Erfahrungen bei der Umsetzung, Initiativen, Dienste, Dienstleistungsanbieter und Positionspapiere gut aufbereitet zugänglich. {{elif session.forced_language =='en': }} Are you aware of the platform <b>
                          <a href="https://www.open-access.net/startseite/" title="Homepage open-access.net">open-access.net</a></b>? It offers detailed information on the subject of Open Access and a practical implementation guide. open-access.net provides well-edited, customized concepts, information on legal, organizational and technical framework conditions, shares concrete experiences with the realization, and introduces initiatives, services and position papers. {{pass}} 
                        <!--<a href="http://open-access.net/community/open_access_tage/ " target="_blank">&nbsp;<i class="fa fa-external-link"></i></a>-->
                      </p>
                    </div>
                  </div>
                </div>
                <div class="box-bottom">&nbsp; 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-3">
            <div class="box">
                <div class="box-gray aligncenter"><h4>{{=T('New Titles')}}</h4> 
                 {{=IMG(_src=URL('static','files/presses/2/monographs/298/simple/cover.jpg'),_style='width:145px',_class='bildrahmen',_alt='')}}
                </div>
                <div class="box-bottom"> 
                  {{=A(T('More Information'),_href=URL('catalog','book/298'))}}
                </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="box">
                <div class="box-gray aligncenter"><h4>{{=T('Soon')}}</h4>   
                 {{=IMG(_src=URL('static','images/partner/cover_schoene.jpg'),_style='width:145px',_class='bildrahmen',_alt='')}}
                </div>
                
            </div>
          </div>
          <div class="col-lg-6 boxAktuelles">
            <div class="box">
              <div class="box-gray aligncenter"><h4>arthistoricum.net – ART-Books </h4>
                <p class="boxText">{{if session.forced_language =='de': }} ist die Open-Access-Publikationsplattform von 
                  <a href="http://www.arthistoricum.net/" title="arthistoricum.net - Fachinformationsdienst Kunst, Fotografie, Design">arthistoricum.net</a> für wissenschaftliche E-Books aus den Fachbereichen Kunstgeschichte, Fotografie und Design.<br /> Wir unterstützen Open Access als Publikationsmodell für die Verbreitung von Forschungsergebnissen und veröffentlichen sowohl Erstpublikationen ("goldener Weg") als auch Zweitveröffentlichungen ("grüner Weg"). Das kostenfreie Angebot richtet sich an Kunstwissenschaftlerinnen und Kunstwissenschaftler weltweit.<br /> Zum Einsatz kommt die Open-Source-Software OMP des Public Knowledge Project (PKP). {{elif session.forced_language =='en': }} is the Open Access publication platform by 
                  <a href="http://www.arthistoricum.net/" title="arthistoricum.net - Fachinformationsdienst Kunst, Fotografie, Design">arthistoricum.net</a>  for scientific ebooks on history of art.
We support the Open Access publishing model for distributing research results and publish therefore primary publications (“gold”) as well as secondary publications (“green”). The service is free of charge and aimed at academics from all over the world.<br />
We are using the Open-Source-Software OMP (Open Monograph Press) by the Public Knowledge Project (PKP). {{pass}}
                </p>
              </div>
              <div class="box-bottom">&nbsp;
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
