{{extend 'layout.html'}}
<script type="text/javascript" charset="utf-8">
    $(window).load(function() {
        $('.flexslider').flexslider();
    });
</script>
<div class="container">
  <!-- end header -->
  <section id="featured">
  </section>
  <section id="content">
    <div class="container">
      <div class="row" style="height:40px;">
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-3">
              <div class="box">
                <div class="box-gray aligncenter"><h4>{{=T('New Titles')}}</h4> {{=IMG(_src=URL('static','images/press/home/cover_chant.png'),_width='145px', _class='bildrahmen')}}
                </div>
                <div class="box-bottom"> {{=A(T('More Information'),_href=URL('catalog','book/149'))}}
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="box">
                <div class="box-gray aligncenter"><h4>{{=T('New Titles')}}</h4>{{=IMG(_src=URL('static','files/presses/2/monographs/95/simple/cover.jpg'),_width='145px', _class='bildrahmen')}}
                </div>
                <div class="box-bottom"> {{=A(T('More Information'),_href=URL('catalog','book/95'))}}
                </div>
              </div>
            </div>

            <div id="boxAktuelles" class="col-lg-6">
              <div class="box">
                <div class="box-gray aligncenter" style="overflow-y: scroll"><h4>{{=T('News')}}</h4>
                  <div class="media">
                    <div class="media-left pull-left">
                      <img alt="" src="{{=URL('static','images/home/arthistoricum_logo_klein.png')}}" style="width: 50px;" />
                    </div>
					<div class="media-body">
                      <p class="media-heading">21.10.2016<br>
                      {{if session.forced_language =='de': }} <h5>Veranstaltungsreihe Open Access am Mittag: Publizieren an der Universität Heidelberg</h5>{{elif session.forced_language =='en': }} <h5>Series of events Open Access at noon: Publishing with the Heidelberg University</h5>{{pass}}</p> 

                      <p class="boxText">{{if session.forced_language =='de': }}Anlässlich der Open-Access-Woche 2016 vom 24.10. bis 30.10. lädt die UB Sie in Ihrer Mittagspause dazu ein, sich über die <a href="http://www.ub.uni-heidelberg.de/service/openaccess/Welcome.html" title="Informationen über die Publikationsmöglichkeiten im Open Access an der Universität Heidelberg">vielfältigen Publikationsmöglichkeiten im Open Access</a>, die die Uni Heidelberg bereitstellt, zu informieren. Beginn: 13 Uhr im <a href="http://www.ub.uni-heidelberg.de/cgi-bin/ub3d.cgi?bereich=Handschriftenlesesaal&zweig=&sprache=de" title="Lageplan: Handschriftenlesesaal der UB Heidelberg">Handschriftenlesesaal (Rundzimmer)</a> der UB. [<a href="http://www.ub.uni-heidelberg.de/bilder/oa/oa-woche_plakat_A4.pdf">&rsaquo;&rsaquo;Veranstaltungsübersicht</a>]
                      {{elif session.forced_language =='en': }}                     
                      On occasion of the open acces week, 24-30 October 2016, the University Library invites you in your lunch break to inform you about the <a href="http://www.ub.uni-heidelberg.de/Englisch/service/openaccess/Welcome.html" title="Information on Open Access publishing options at Heidelberg University">various publishing options</a> Heidelberg University offers. Start: 1 pm in the <a href="http://www.ub.uni-heidelberg.de/cgi-bin/ub3d.cgi?bereich=Handschriftenlesesaal&zweig=altstadt&sprache=en" title="site plan manuscript reading room of Heidelberg University Library">manuscript reading room (round chamber)</a> of the library.           
                      {{pass}}
                      </p>
                    </div>
				  </div>
                  
                  <div class="media">
                    <div class="media-left pull-left">
                      <img src="{{=URL('static','images/home/arthistoricum_logo_klein.png')}}" style="width: 50px;" />
                    </div>
                    <div class="media-body">
                      <p class="media-heading">30.08.2016
                        <br>
                        {{if session.forced_language =='de': }} 
                        <h5>{{=T('New')}}: Le Chant du cygne. Die Gazette des Beaux-Arts und die französische Reproduktionsgraphik in der zweiten Hälfte des 19. Jahrhunderts</h5>
                        {{elif session.forced_language =='en': }} 
                        <h5>{{=T('New')}}: Le Chant du cygne. Die Gazette des Beaux-Arts und die französische Reproduktionsgraphik in der zweiten Hälfte des 19. Jahrhunderts</h5>
                        {{pass}}
                      </p>
                      <p class="boxText"> {{if session.forced_language =='de': }} 
Die vorliegende <a href="{{=URL('catalog','book/149')}}" title="Informationen über 'Le Chant du cygne'">Untersuchung der französischen Reproduktionsgraphik</a> basiert auf der 1859 gegründeten Gazette des Beaux-Arts, einer der wichtigsten Kunstzeitschriften des 19. Jahrhunderts. Bis 1927 wurden dort Reproduktionsgraphiken und bis 1933 Originalgraphiken publiziert, die auch Gegenstand zahlreicher Artikel waren. In diesen geht es vor allem um die Erwartungen, die an druckgraphische Reproduktionen gestellt wurden. 
                      {{elif session.forced_language =='en': }} This <a href="{{=URL('catalog','book/149')}}" title="Information on 'Le Chant du cygne'">study of French reproduction</a> prints is based on the Gazette des Beaux-Arts, an art magazine founded in 1859 and one of the most important of its kind in the nineteenth century. Reproduction prints were published in it until 1927, and original works of printmaking until 1933; printmaking was also the subject of numerous articles.
                        {{pass}}
                      </p>
                    </div>
                  </div>
                  <div class="media">
                    <div class="media-left pull-left">
                      <img src="{{=URL('static','images/home/arthistoricum_logo_klein.png')}}" style="width: 50px;" />
                    </div>
                    <div class="media-body">
                      <p class="media-heading">12.08.2016
                        <br>
                        {{if session.forced_language =='de': }} 
                        <h5>{{=T('New')}}: Casting. Ein analoger Weg ins Zeitalter der Digitalisierung?</h5>
                        {{elif session.forced_language =='en': }} 
                        <h5>{{=T('New')}}: Casting. A way to embrace the digital age in analogue fashion?</h5>
                        {{pass}}
                      </p>
                      <p class="boxText"> {{if session.forced_language =='de': }} Die Gipsformerei der Staatlichen Museen zu Berlin feiert 2019 ihr zweihundertjähriges Bestehen. Das ist ein Anlass, um u. a. zu diskutieren, wie sich eine Institution, deren Fokus auf der traditionellen handwerklichen Fertigung liegt, gegenüber technischen Innovationen behaupten kann. Die <a href="{{=URL('catalog','book/95')}}" title="Informationen zu 'Casting. Ein analoger Weg ins Zeitalter der Digitalisierung?">Publikation</a> widmet sich dieser Frage und bietet darüber hinaus einen interessanten Querschnitt zur aktuellen Forschungsdebatte.
                      {{elif session.forced_language =='en': }} In 2019 the Gipsformerei will be celebrating its 200th anniversary which is a welcome opportunity for us to address the following question: How can an institution whose core activity lies in traditional handcrafted production hold its own in the face of technical innovation? The <a href="{{=URL('catalog','book/95')}}" title="Information on Casting. A way to embrace the digital age in analogue fashion?">publication</a> addresses that question and adds an interesting cross-section on the current research debate.
                        {{pass}}
                      </p>
                    </div>
                  </div>
                  <div class="media">
                    <div class="media-left pull-left">
                      <img src="{{=URL('static','images/home/arthistoricum_logo_klein.png')}}" style="width: 50px;" />
                    </div>
                    <div class="media-body">
                      <p class="media-heading">11.08.2016
                        <br><h5>{{=T('New')}}: EVA Berlin - Elektronische Medien & Kunst, Kultur, Historie</h5>
                      </p>
                      <p class="boxText"> {{if session.forced_language =='de': }} Die bislang fünfzehn gedruckt erschienenen 
                        <a href="{{=URL('series','info/eva')}}" title="EVA-Berlin-Konferenzbände">EVA-Berlin-Konferenzbände</a> werden sukzessive online im OPEN ACCESS bereit gestellt. Die EVA-Konferenzen sind ein internationales Forum für Anwender, Entwickler und Vermittler elektronischer Dokumentations- und Kommunikationstechniken im Kulturbereich. {{elif session.forced_language =='en': }} Fifteen volumes of 
                        <a href="{{=URL('series','info/eva')}}" title="EVA-Conference papers">EVA-Conference papers</a> have been published so far in print and are successively made available online and in Open Access. The EVA-Conferences are an international forum for users, developers and other stakeholders in electronic documentation and communication technologies for the cultural sector.  {{pass}}
                      </p>
                    </div>
                  </div>
                  <div class="media">
                    <div class="media-left pull-left">
                      <img src="{{=URL('static','images/home/arthistoricum_logo_klein.png')}}" style="width: 50px;" />
                    </div>
                    <div class="media-body">
                      <p class="media-heading"><h5>{{=T('New in')}} arthistoricum.net – ART-Books</h5>
                      </p>
                      <p class="boxText"> {{if session.forced_language =='de': }} Wir freuen uns über unsere neue Kooperation mit dem gemeinnützigen Verein "
                        <a href="{{=URL('partner','index/dbae')}}" title="Informationsseite zum Verein Das Bild als Ereignis">Das Bild als Ereignis e. V.</a>". In Kürze wird hier der zweite Band seiner Schriftenreihe mit dem Titel "Mediale Dimensionen von Reproduktion" als Open-Access-eBook erscheinen. {{elif session.forced_language =='en': }} Wir freuen uns über unsere neue Kooperation mit dem gemeinnützigen Verein "
                        <a href="{{=URL('partner','index/dbae')}}" title="Informationsseite zum Verein Das Bild als Ereignis">Das Bild als Ereignis e. V.</a>". In Kürze wird hier der zweite Band seiner Schriftenreihe mit dem Titel "Mediale Dimensionen von Reproduktion" als Open-Access-eBook erscheinen. {{pass}}
                      </p>
                    </div>
                  </div>
                  <div class="media">
                    <div class="media-left pull-left">
                      <img src="{{=URL('static','images/home/Open_access_logo.png')}}" style="width: 50px;" />
                    </div>
                    <div class="media-body">
                      <p class="media-heading"><h5>open-access.net</h5>
                      </p>
                      <p class="boxText">{{if session.forced_language =='de': }} Kennen Sie die Plattform <b>
                          <a href="https://www.open-access.net/startseite/" title="Homepage open-access.net">open-access.net</a></b>? Sie bietet umfassende Information über das Thema Open Access und praktische Umsetzungshilfen an. open-access.net macht Konzepte, rechtliche, organisatorische und technische Rahmenbedingungen, konkrete Erfahrungen bei der Umsetzung, Initiativen, Dienste, Dienstleistungsanbieter und Positionspapiere gut aufbereitet zugänglich. {{elif session.forced_language =='en': }} Are you aware of the platform <b>
                          <a href="https://www.open-access.net/startseite/" title="Homepage open-access.net">open-access.net</a></b>? It offers detailed information on the subject of Open Access and a practical implementation guide. open-access.net provides well-edited, customized concepts, information on legal, organizational and technical framework conditions, shares concrete experiences with the realization, and introduces initiatives, services and position papers. {{pass}} 
                        <!--<a href="http://open-access.net/community/open_access_tage/ " target="_blank">&nbsp;<i class="fa fa-external-link"></i></a>-->
                      </p>
                    </div>
                  </div>
                </div>
                <div class="box-bottom">&nbsp; 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-3">
            <div class="box">
              <div class="box-gray aligncenter"><h4>{{=T('Soon')}}</h4> {{=IMG(_src=URL('static','images/partner/cover_mimesis.jpg'),_width='145px', _class='bildrahmen')}}
              </div>
              <div class="box-bottom"> {{=A(T('More Information'),_href=URL('partner','index/mimesis'))}}
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="box">
              <div class="box-gray aligncenter"><h4>{{=T('Series ##sg')}}</h4> {{=IMG(_src=URL('static','files/presses/2/monographs/157/simple/cover.png'),_width='145px', _class='bildrahmen')}}
              </div>
              <div class="box-bottom"> {{=A(T('More Information'),_href=URL('series','info/eva'))}}
              </div>
            </div>
          </div>
          <div class="col-lg-6" id="boxAktuelles">
            <div class="box">
              <div class="box-gray aligncenter"><h4>arthistoricum.net – ART-Books </h4>
                <p class="boxText">{{if session.forced_language =='de': }} ist die Open-Access-Publikationsplattform von 
                  <a href="http://www.arthistoricum.net/" title="arthistoricum.net - Fachinformationsdienst Kunst, Fotografie, Design">arthistoricum.net</a> für wissenschaftliche E-Books aus den Fachbereichen Kunstgeschichte, Fotografie und Design.<br /> Wir unterstützen Open Access als Publikationsmodell für die Verbreitung von Forschungsergebnissen und veröffentlichen sowohl Erstpublikationen ("goldener Weg") als auch Zweitveröffentlichungen ("grüner Weg"). Das kostenfreie Angebot richtet sich an Kunstwissenschaftlerinnen und Kunstwissenschaftler weltweit.<br /> Zum Einsatz kommt die Open-Source-Software OMP des Public Knowledge Project (PKP). {{elif session.forced_language =='en': }} is the Open Access publication platform by 
                  <a href="http://www.arthistoricum.net/" title="arthistoricum.net - Fachinformationsdienst Kunst, Fotografie, Design">arthistoricum.net</a>  for scientific ebooks on history of art.
We support the Open Access publishing model for distributing research results and publish therefore primary publications (“gold”) as well as secondary publications (“green”). The service is free of charge and provides academics from all over the world.<br />
We are using the Open-Source-Software OMP (Open Monograph Press) by the Public Knowledge Project (PKP). {{pass}}
                </p>
              </div>
              <div class="box-bottom">&nbsp;
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
