{{extend 'layout.html'}}

<div id="main" class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>  {{if session.forced_language =='de': }}
                ad picturam Fachverlag für kunstwissenschaftliche Literatur e. K.   
                {{elif session.forced_language =='en': }}
                ad picturam Fachverlag für kunstwissenschaftliche Literatur e. K.
            {{pass}}
            </h3>
        </div>
            
                {{if session.forced_language =='de': }}

        <div class="col-lg-9">                
                <p>Als kunstwissenschaftlicher Fachverlag hat sich <b>ad picturam</b> auf Dissertationen, Habilitationen, Werk- und Künstlermonographien, Tagungsbände, Aufsatzsammlungen und sonstige Publikationen mit wissenschaftlichem Anspruch aus allen Bereichen der bildenden Kunst und Architektur spezialisiert. In enger Zusammenarbeit mit den Autoren und Herausgebern entwickelt der Verlag individuelle Buchkonzepte und legt dabei großen Wert auf ein sinnvolles, ansprechendes Layout sowie auf eine hohe Qualität der Abbildungen. Darüber hinaus bietet <b>ad picturam</b> ein professionelles (stilistisches und inhaltliches) Lektorat.</p>
                <p>Seit 2016 betreut und gestaltet <b>ad picturam</b> auch Online-Publikationen, die frei zugänglich auf der Verlags-Homepage oder einem anderen Server (z. B. auf <b>arthistoricum.net - ART-Books</b> oder der Homepage eines SFBs oder DFG-Projektes) veröffentlicht werden können. Ergänzend wird eine kleine, digital gedruckte Auflage empfohlen (hybride Publikation).</p>
                <hr>

                <h4>Bereits erschienen</h4>
				<div class="row">
                <div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/1072/simple/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/1072/simple/cover.jpg'),_width='80px', _class='bildrahmen')}}</a>
                </div>
                <div class="col-lg-9">
                <b>David Nelting und Valeska von Rosen (Hrsg.)</b><br>                 
                <b><a href="{{=URL('catalog','book/1072')}}">Gattungsmischungen – Hybridisierungen – Amalgamierungen</a><br>
				Perspektiven auf das Verhältnis von Traditionen und Novationen in Bild, Text und Musik des Barock</b>
                </div>
                </div> 
				
                <div class="row">
                <div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/697/simple/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/697/simple/cover.jpg'),_width='80px', _class='bildrahmen')}}</a>
                </div>
                <div class="col-lg-9">
                <b>Elisabeth Oy-Marra , Irina Schmiedel (Hrsg.)</b><br>                 
                <b><a href="{{=URL('catalog','book/697')}}">Zeigen – Überzeugen – Beweisen</a><br>
				Methoden der Wissensproduktion in Kunstliteratur, Kennerschaft und Sammlungspraxis der Frühen Neuzeit</b>
                </div>
                </div> 


                <div class="row">
                <div class="col-lg-2"><a href="{{=URL('static','images/partner/cover_raband.jpg')}}">{{=IMG(_src=URL('static','images/partner/cover_raband.jpg'),_width='80px', _class='bildrahmen')}}</a>
                </div>
                <div class="col-lg-9">
                <b>Ivo Raband</b><br>                 
                <b>{{=A('Vergängliche Kunst und fortwährende Macht',_href=URL('catalog','book/449'))}}<br>
				Die <i>Blijde Inkomst</i> für Erzherzog Ernst von Österreich in Brüssel und Antwerpen, 1594</b>
                </div>
                </div> 

                <div class="row">
                <div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/486/simple/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/486/simple/cover.jpg'),_width='80px', _class='bildrahmen')}}</a>
                </div>
                <div class="col-lg-9">
                <b>Marlen Schneider, Ulrike Kern (Hrsg.)</b><br>                 
                <b>{{=A('Imitatio – Aemulatio – Superatio. Bildpolitiken in transkultureller Perspektive',_href=URL('catalog','book/486'))}}<br>
				Thomas Kirchner zum 65. Geburtstag</b>
                </div>
                </div> 
                
                
                <div class="row">
                <div class="col-lg-2"><a href="{{=URL('static','images/partner/cover_streit.jpg')}}">{{=IMG(_src=URL('static','images/partner/cover_streit.jpg'),_width='80px', _class='bildrahmen')}}</a>
                </div>
                <div class="col-lg-9">
                <b>Doris H. Lehmann (Hg.)</b><br>                 
                <b>{{=A('Vom Streit zum Bild',_href=URL('catalog','book/212'))}}<br>
				Bildpolemik und andere Waffen der Künstler</b>
                </div>
                </div>  

                <div class="row">
                <div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/149/simple/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/149/simple/cover.jpg'),_width='80px', _class='bildrahmen')}}</a>
                </div>
                <div class="col-lg-9">
                <b>Juliane Betz</b><br>                 
                <b>{{=A('Le Chant du cygne',_href=URL('catalog','book/149'))}}<br>
				Die Gazette des Beaux-Arts und die französische Reproduktionsgraphik in der zweiten Hälfte des 19. Jahrhunderts</b>
                </div>
                </div>     

				<h4>Erscheinen 2022</h4>
                <div class="row">
                <div class="col-lg-2"><a href="{{=URL('static','images/catalog/cover_lehmann.jpg')}}">{{=IMG(_src=URL('static','images/catalog/cover_lehmann.jpg'),_width='80px', _class='bildrahmen')}}</a>
                </div>
                <div class="col-lg-9">
                <b>Doris H. Lehmann</b><br>                 
                <b>Streitstrategien bildender Künstler in der Neuzeit</b><br>
				<a href="http://www.ad-picturam.de/Streitstrategien/" title="Ad Picturam">Weitere Informationen</a>
                </div>
                </div>  

  

                <div class="row">
                <div class="col-lg-2"><a href="{{=URL('static','images/catalog/cover_stoltz.jpg')}}">{{=IMG(_src=URL('static','images/catalog/cover_stoltz.jpg'),_width='80px', _class='bildrahmen')}}</a></div>
                <div class="col-lg-9">
                <b>Barbara Stoltz</b><br>                 
                <b>Theorie der Druckgraphik in der Kunstliteratur des 16. und 17. Jahrhunderts</b><br>
				<a href="http://www.ad-picturam.de/Theorie_Druckgraphik/" title="Ad Picturam">Weitere Informationen</a>
                </div>
                </div>
				
 
        </div>        
                
                
      <div class="col-lg-3">
        <div id="infoBoxRechts">
        <p>{{=IMG(_src=URL('static','images/partner/ad_picturam_logo.png'),_width='230px')}}</p>
               
            <p><b>Kontakt</b><br>
            ad picturam<br>
            Fachverlag für kunstwissenschaftliche<br />
            Literatur e. K.<br>
            In den Sauermatten 6a<br>
            D-79249 Merzhausen<br><br>
            Tel.: +49 (0)761 48911235  <br>
            E-Mail: info@ad-picturam.de<br>
            Internet: <a href="http://www.ad-picturam.de/" title="Homepage">ad picturam</a></p>
        </div>                
      </div>
                
{{elif session.forced_language =='en': }}

        <div class="col-lg-9">                
                <p>Als kunstwissenschaftlicher Fachverlag hat sich <b>ad picturam</b> auf Dissertationen, Habilitationen, Werk- und Künstlermonographien, Tagungsbände, Aufsatzsammlungen und sonstige Publikationen mit wissenschaftlichem Anspruch aus allen Bereichen der bildenden Kunst und Architektur spezialisiert. In enger Zusammenarbeit mit den Autoren und Herausgebern entwickelt der Verlag individuelle Buchkonzepte und legt dabei großen Wert auf ein sinnvolles, ansprechendes Layout sowie auf eine hohe Qualität der Abbildungen. Darüber hinaus bietet <b>ad picturam</b> ein professionelles (stilistisches und inhaltliches) Lektorat.</p>
                <p>Seit 2016 betreut und gestaltet <b>ad picturam</b> auch Online-Publikationen, die frei zugänglich auf der Verlags-Homepage oder einem anderen Server (z.B. auf <b>arthistoricum.net - ART-Books</b> oder der Homepage eines SFBs oder DFG-Projektes) veröffentlicht werden können. Ergänzend wird eine kleine, digital gedruckte Auflage empfohlen (hybride Publikation).</p>
                <hr>
                <h4>Publications</h4>
				
                <div class="row">
                <div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/1072/simple/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/1072/simple/cover.jpg'),_width='80px', _class='bildrahmen')}}</a>
                </div>
                <div class="col-lg-9">
                <b>David Nelting und Valeska von Rosen (Eds.)</b><br>                 
                <b><a href="{{=URL('catalog','book/1072')}}">Gattungsmischungen – Hybridisierungen – Amalgamierungen</a><br>
				Perspektiven auf das Verhältnis von Traditionen und Novationen in Bild, Text und Musik des Barock</b>
                </div>
                </div> 

                <div class="row">
                <div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/697/simple/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/697/simple/cover.jpg'),_width='80px', _class='bildrahmen')}}</a>
                </div>
                <div class="col-lg-9">
                <b>Elisabeth Oy-Marra , Irina Schmiedel (Eds.)</b><br>                 
                <b><a href="{{=URL('catalog','book/697')}}">Zeigen – Überzeugen – Beweisen</a><br>
				Methoden der Wissensproduktion in Kunstliteratur, Kennerschaft und Sammlungspraxis der Frühen Neuzeit</b>
                </div>
                </div> 

				
				<div class="row">
                <div class="col-lg-2"><a href="{{=URL('static','images/partner/cover_raband.jpg')}}">{{=IMG(_src=URL('static','images/partner/cover_raband.jpg'),_width='80px', _class='bildrahmen')}}</a>
                </div>
                <div class="col-lg-9">
                <b>Ivo Raband</b><br>                 
                <b>{{=A('Vergängliche Kunst und fortwährende Macht',_href=URL('catalog','book/449'))}}<br>
				Die <i>Blijde Inkomst</i> für Erzherzog Ernst von Österreich in Brüssel und Antwerpen, 1594</b>
                </div>
                </div>         


                <div class="row">
                <div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/486/simple/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/486/simple/cover.jpg'),_width='80px', _class='bildrahmen')}}</a>
                </div>
                <div class="col-lg-9">
                <b>Marlen Schneider, Ulrike Kern (Hrsg.)</b><br>                 
                <b>{{=A('Imitatio – Aemulatio – Superatio. Bildpolitiken in transkultureller Perspektive',_href=URL('catalog','book/486'))}}<br>
				Thomas Kirchner zum 65. Geburtstag</b>
                </div>
                </div> 
				
  		        <div class="row">
                <div class="col-lg-2"><a href="{{=URL('static','images/partner/cover_streit.jpg')}}">{{=IMG(_src=URL('static','images/partner/cover_streit.jpg'),_width='80px',_class='bildrahmen')}}</a>
                </div>
                <div class="col-lg-9">
                <b>Doris H. Lehmann (Hg.)</b><br>                 
                <b>{{=A('Vom Streit zum Bild',_href=URL('catalog','book/212'))}}<br>
				Bildpolemik und andere Waffen der Künstler</b>
                </div>
                </div>  

                <div class="row">
                <div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/149/simple/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/149/simple/cover.jpg'),_width='80px',_class='bildrahmen')}}</a>
                </div>
                <div class="col-lg-9">
                <b>Juliane Betz</b><br>                 
                <b>{{=A('Le Chant du cygne',_href=URL('catalog','book/149'))}}<br>
				Die Gazette des Beaux-Arts und die französische Reproduktionsgraphik in der zweiten Hälfte des 19. Jahrhunderts</b>
                </div>
                </div>  

                <h4>Coming in 2022</h4>
                <div class="row">
                <div class="col-lg-2"><a href="{{=URL('static','images/catalog/cover_lehmann.jpg')}}">{{=IMG(_src=URL('static','images/catalog/cover_lehmann.jpg'),_width='80px',_class='bildrahmen')}}</a>
                </div>
                <div class="col-lg-9">
                <b>Doris H. Lehmann</b><br>                 
                <b>Streitstrategien bildender Künstler in der Neuzeit</b><br>
				<a href="http://www.ad-picturam.de/Streitstrategien/" title="Ad Picturam">More Information</a>
                </div>
                </div>  

                <div class="row">
				<div class="col-lg-2"><a href="{{=URL('static','images/catalog/cover_stoltz.jpg')}}">{{=IMG(_src=URL('static','images/catalog/cover_stoltz.jpg'),_width='80px',_class='bildrahmen')}}</a>
                </div>
                <div class="col-lg-9">
                <b>Barbara Stoltz</b><br>                 
                <b>Theorie der Druckgraphik in der Kunstliteratur des 16. und 17. Jahrhunderts</b><br>
				<a href="http://www.ad-picturam.de/Theorie_Druckgraphik/" title="Ad Picturam">More Information</a>
                </div>
                </div>				
        </div>        
                
                
      <div class="col-lg-3">
        <div id="infoBoxRechts">
        <p>{{=IMG(_src=URL('static','images/partner/ad_picturam_logo.png'),_width='230px')}}</p>
               
                      <p><b>Kontakt</b><br>
                      ad picturam<br>
                      Fachverlag für kunstwissenschaftliche<br />Literatur e. K.<br>
                      In den Sauermatten 6a<br>
                      D-79249 Merzhausen<br><br>
                      Tel.: +49 (0)761 48911235  <br>
                      E-Mail: info@ad-picturam.de<br>
                      Internet: <a href="http://www.ad-picturam.de/" title="Homepage">ad picturam</a></p>
        </div>                
      </div>

                {{pass}}





    </div>
  </div>

