{{extend 'layout.html'}}

<div id="main" class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>  {{if session.forced_language =='de': }}
                ad picturam Fachverlag für kunstwissenschaftliche Literatur e. K.   
                {{elif session.forced_language =='en': }}
                ad picturam Fachverlag für kunstwissenschaftliche Literatur e. K.
            {{pass}}
            </h3>
        </div>
            
                {{if session.forced_language =='de': }}

        <div class="col-lg-9">                
                <p>Als kunstwissenschaftlicher Fachverlag hat sich <b>ad picturam</b> auf Dissertationen, Habilitationen, Werk- und Künstlermonographien, Tagungsbände, Aufsatzsammlungen und sonstige Publikationen mit wissenschaftlichem Anspruch aus allen Bereichen der bildenden Kunst und Architektur spezialisiert. In enger Zusammenarbeit mit den Autoren und Herausgebern entwickelt der Verlag individuelle Buchkonzepte und legt dabei großen Wert auf ein sinnvolles, ansprechendes Layout sowie auf eine hohe Qualität der Abbildungen. Darüber hinaus bietet <b>ad picturam</b> ein professionelles (stilistisches und inhaltliches) Lektorat.</p>
                <p>Seit 2016 betreut und gestaltet <b>ad picturam</b> auch Online-Publikationen, die frei zugänglich auf der Verlags-Homepage oder einem anderen Server (z. B. auf <b>arthistoricum.net - ART-Books</b> oder der Homepage eines SFBs oder DFG-Projektes) veröffentlicht werden können. Ergänzend wird eine kleine, digital gedruckte Auflage empfohlen (hybride Publikation).</p>
                <hr>

                
                <div class="row">
                <div class="col-lg-2"><a href="{{=URL('static','images/partner/cover_streit.jpg')}}">{{=IMG(_src=URL('static','images/partner/cover_streit.jpg'),_width='80px', _class='bildrahmen')}}</a>
                </div>
                <div class="col-lg-9">
                <b>Doris H. Lehmann (Hg.)</b><br>                 
                {{=A('Vom Streit zum Bild. Bildpolemik und andere Waffen der Künstler',_href=URL('catalog','book/212'))}}<br>
                ISBN: 978-3-942919-04-3, Hardcover, Fadenheftung, 25 x 19 cm, 221 Seiten, 86 Abbildungen<br>
                </div>
                </div>  

                <div class="row">
                <div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/149/simpel/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/149/simpel/cover.jpg'),_width='80px', _class='bildrahmen')}}</a>
                </div>
                <div class="col-lg-9">
                <b>Juliane Betz</b><br>                 
                {{=A('Le Chant du cygne. Die Gazette des Beaux-Arts und die französische Reproduktionsgraphik in der zweiten Hälfte des 19. Jahrhunderts',_href=URL('catalog','book/149'))}}<br>
                ISBN: 978-3-942919-03-6, Hardcover, 360 Seiten, 165 Abbildungen
                </div>
                </div>                
 
        </div>        
                
                
      <div class="col-lg-3">
        <div id="infoBoxRechts">
        <p>{{=IMG(_src=URL('static','images/partner/ad_picturam_logo.png'),_width='230px')}}</p>
               
                      <p><b>Kontakt</b><br>
                      ad picturam<br>
                      Fachverlag für kunstwissenschaftliche<br />Literatur e. K.<br>
                      In den Sauermatten 6a<br>
                      D-79249 Merzhausen<br><br>
                      Tel.: +49 (0)761 48911235  <br>
                      E-Mail: info@ad-picturam.de<br>
                      Internet: <a href="http://www.ad-picturam.de/" title="Homepage">ad picturam</a></p>
        </div>                
      </div>
                
{{elif session.forced_language =='en': }}

        <div class="col-lg-9">                
                <p>Als kunstwissenschaftlicher Fachverlag hat sich <b>ad picturam</b> auf Dissertationen, Habilitationen, Werk- und Künstlermonographien, Tagungsbände, Aufsatzsammlungen und sonstige Publikationen mit wissenschaftlichem Anspruch aus allen Bereichen der bildenden Kunst und Architektur spezialisiert. In enger Zusammenarbeit mit den Autoren und Herausgebern entwickelt der Verlag individuelle Buchkonzepte und legt dabei großen Wert auf ein sinnvolles, ansprechendes Layout sowie auf eine hohe Qualität der Abbildungen. Darüber hinaus bietet <b>ad picturam</b> ein professionelles (stilistisches und inhaltliches) Lektorat.</p>
                <p>Seit 2016 betreut und gestaltet <b>ad picturam</b> auch Online-Publikationen, die frei zugänglich auf der Verlags-Homepage oder einem anderen Server (z. B. auf <b>arthistoricum.net - ART-Books</b> oder der Homepage eines SFBs oder DFG-Projektes) veröffentlicht werden können. Ergänzend wird eine kleine, digital gedruckte Auflage empfohlen (hybride Publikation).</p>
                <hr>
                <!--<p>Im <b>August 2016</b> erscheint als Printausgabe bei <b>ad picturam</b>  und als eBook bei <b>arthistoricum.net.-ART-Books</b>:</p>-->
                <div class="row">
                <div class="col-lg-2"><a href="{{=URL('static','images/partner/cover_streit.jpg')}}">{{=IMG(_src=URL('static','images/partner/cover_streit.jpg'),_width='80px', _class='bildrahmen')}}</a>
                </div>
                <div class="col-lg-9">
                <b>Doris H. Lehmann (Hg.)</b><br>                 
                {{=A('Vom Streit zum Bild. Bildpolemik und andere Waffen der Künstler',_href=URL('catalog','book/212'))}}<br>
                ISBN: 978-3-942919-04-3, Hardcover, Fadenheftung, 25 x 19 cm, ca. 180 Seiten, ca. 100 Abbildungen<br>
                </div>
                </div>  

                <div class="row">
                <div class="col-lg-2"><a href="{{=URL('static','images/press/home/cover_chant.png')}}">{{=IMG(_src=URL('static','images/press/home/cover_chant.png'),_width='80px', _class='bildrahmen')}}</a>
                </div>
                <div class="col-lg-9">
                <b>Juliane Betz</b><br>                 
                {{=A('Le Chant du cygne. Die Gazette des Beaux-Arts und die französische Reproduktionsgraphik in der zweiten Hälfte des 19. Jahrhunderts',_href=URL('catalog','book/149'))}}<br>
                ISBN: 978-3-942919-03-6, Hardcover, 360 Seiten, 165 Abbildungen
                </div>
                </div>     
        </div>        
                
                
      <div class="col-lg-3">
        <div id="infoBoxRechts">
        <p>{{=IMG(_src=URL('static','images/partner/ad_picturam_logo.png'),_width='230px')}}</p>
               
                      <p><b>Kontakt</b><br>
                      ad picturam<br>
                      Fachverlag für kunstwissenschaftliche<br />Literatur e. K.<br>
                      In den Sauermatten 6a<br>
                      D-79249 Merzhausen<br><br>
                      Tel.: +49 (0)761 48911235  <br>
                      E-Mail: info@ad-picturam.de<br>
                      Internet: <a href="http://www.ad-picturam.de/" title="Homepage">ad picturam</a></p>
        </div>                
      </div>

                {{pass}}





    </div>
  </div>

