{{extend 'layout.html'}}

<div id="main" class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>  {{if session.forced_language =='de': }}
                ad picturam Fachverlag für kunstwissenschaftliche Literatur e. K.   
                {{elif session.forced_language =='en': }}
                ad picturam Fachverlag für kunstwissenschaftliche Literatur e. K.
            {{pass}}
            </h3>
        </div>
            
                {{if session.forced_language =='de': }}

        <div class="col-lg-9">                
                <p>Als kunstwissenschaftlicher Fachverlag hat sich <b>ad picturam</b> auf Dissertationen, Habilitationen, Werk- und Künstlermonographien, Tagungsbände, Aufsatzsammlungen und sonstige Publikationen mit wissenschaftlichem Anspruch aus allen Bereichen der bildenden Kunst und Architektur spezialisiert. In enger Zusammenarbeit mit den Autoren und Herausgebern entwickelt der Verlag individuelle Buchkonzepte und legt dabei großen Wert auf ein sinnvolles, ansprechendes Layout sowie auf eine hohe Qualität der Abbildungen. Darüber hinaus bietet <b>ad picturam</b> ein professionelles (stilistisches und inhaltliches) Lektorat.</p>
                <p>Seit 2016 betreut und gestaltet <b>ad picturam</b> auch Online-Publikationen, die frei zugänglich auf der Verlags-Homepage oder einem anderen Server (z. B. auf <b>arthistoricum.net - ART-Books</b> oder der Homepage eines SFBs oder DFG-Projektes) veröffentlicht werden können. Ergänzend wird eine kleine, digital gedruckte Auflage empfohlen (hybride Publikation).</p>
                <hr>
                <!--<p>Im <b>August 2016</b> erscheint als Printausgabe bei <b>ad picturam</b>  und als eBook bei <b>arthistoricum.net.-ART-Books</b>:</p>-->
                <div class="row">
                <div class="col-lg-2"><a href="{{=URL('static','images/press/home/cover_chant.png')}}">{{=IMG(_src=URL('static','images/press/home/cover_chant.png'),_width='80px', _class='bildrahmen')}}</a>
                </div>
                <div class="col-lg-9">
                <b>Juliane Betz</b><br>                 
                {{=A('Le Chant du cygne. Die Gazette des Beaux-Arts und die französische Reproduktionsgraphik in der zweiten Hälfte des 19. Jahrhunderts',_href=URL('catalog','book/149'))}}<br>
                ISBN: 978-3-942919-03-6, Hardcover, 360 Seiten, 165 Abbildungen
                 <!--<p>In seinem Artikel über den Salon des Beaux-Arts von 1881 unterschied der Kritiker Jules Buisson zwischen den Druckgraphiken der großen       Kupferstecher des 17. und 18. Jahrhunderts, die er als »Chant du Triomphe« titulierte, und jenen des ausklingenden 19. Jahrhunderts, die er als »Chant du Cygne« charakterisierte. Die Bezeichnung als »Schwanengesang« deutet unmissverständlich darauf hin, dass der als durchaus kunstvoll wahrgenommenen Gattung der Reproduktionsgraphik die Ablösung durch photographische Verfahren bevorstand.</p>
                 <p>Die vorliegende Untersuchung der französischen Reproduktionsgraphik basiert auf der 1859 gegründeten Gazette des Beaux-Arts, einer der wichtigsten Kunstzeitschriften des 19. Jahrhunderts. Bis 1927 wurden dort Reproduktionsgraphiken und bis 1933 Originalgraphiken publiziert, die auch Gegenstand zahlreicher Artikel waren. In diesen geht es vor allem um die Erwartungen, die an druckgraphische Reproduktionen gestellt wurden, um die Beurteilung einzelner Blätter und Graphiker sowie um die Frage, ob und warum angesichts photographischer Reproduktionsmöglichkeiten die ›bloße‹ Wiedergabe von Gemälden oder auch Skulpturen im Medium der Druckgraphik als eigenständige Kunst zu betrachten sei.</p>
                 <p>Aus den rund 1450 Tafeln, die die Gazette bis zum Jahr 1900 regelmäßig veröffentlichte, wurden 64 Reproduktionsgraphiken ausgewählt. Die Untersuchung dieser und weiterer Beispiele veranschaulicht, dass es während des gut fünfzig Jahre dauernden Übergangs von der manuellen zur photographischen Kunstreproduktion zwei wesentliche Tendenzen in der stilistischen Entwicklung gab: Zunächst orientierten sich die Graphiker an Reproduktionsstichen der vorangegangenen Jahrhunderte und an der Malerradierung, die ab den 1840er Jahren wieder auflebte. Später entwickelten einige von ihnen eine deutlich durch die Photographie beeinflusste Reproduktionsweise.</p>
                 <p>Die Publikation enthält ca. 160 Abbildungen sowie einen ausführlichen Katalogteil.</p>-->
                </div>
                </div>
                
                <div class="row">
                <div class="col-lg-2"><a href="{{=URL('static','images/partner/cover_streit.jpg')}}">{{=IMG(_src=URL('static','images/partner/cover_streit.jpg'),_width='80px', _class='bildrahmen')}}</a>
                </div>
                <div class="col-lg-9">
                <b>Doris H. Lehmann (Hg.)</b><br>                 
                Vom Streit zum Bild. Bildpolemik und andere Waffen der Künstler<br>
                ISBN: 978-3-942919-04-3, Hardcover, Fadenheftung, 25 x 19 cm, ca. 180 Seiten, ca. 100 Abbildungen<br>
                <b>Erscheinungstermin: April 2017</b><br>
                Mit Beiträgen von Helen Barr, Giuseppe Capriotti, Cristina Fontcuberta i Famadas, Ekaterini Kepetzis, Petra Kunzelmann, Doris H. Lehmann und Charlotte Mende<br>
                 <br>
                 <p>Wie stritten bildende Künstler miteinander und wie setzten sie dabei ihre Werke als Waffe ein? Wie konnten sie ihren Kritikern und Feinden zeigen, was sie von ihrem Kunsturteil hielten und – wenn möglich ohne Worte – dafür sorgen, dass ihr Publikum dies auch verstand? Wie konnten sie ferner ignorante Auftraggeber bestrafen und ungestraft beleidigen? Und was passierte, wenn ein Künstler emotional überreagierte und durch irrationales Handeln Toleranzgrenzen überschritt? Oder wenn ein Gegner antwortete?</p> 
                 <p>Diesen und anderen Fragen widmet sich der Sammelband des DFG-Projekts „Streitstrategien bildender Künstler in der Neuzeit“, der auf der vom 4. bis 5. Dezember 2015 an der Universität Bonn veranstalteten internationalen Tagung „Vom Streit zum Bild – Bildpolemik und andere Waffen der Künstler“ basiert. Im Zentrum der Diskussionen stehen hier Streitfälle, in denen Künstler ihre Werke als Medium einer Auseinandersetzung instrumentalisierten und inszenierten. Jenseits der bereits intensiv erforschten Aspekte Paragone, Agon, Aemulatio und der Künstler als Verbrecher widmet sich dieser Sammelband damit dem Phänomen des Künstlerstreits unter Berücksichtigung des durch Kontroversen freigesetzten kreativen Potentials, seinen bildsprachlichen Traditionen und Innovationen. Das behandelte Spektrum von Fallstudien umfasst im Schwerpunkt Beispiele des 16. Jahrhunderts und reicht bis in die Gegenwart.</p>
                </div>
                </div>  
 
        </div>        
                
                
      <div class="col-lg-3">
        <div id="infoBoxRechts">
        <p>{{=IMG(_src=URL('static','images/partner/ad_picturam_logo.png'),_width='230px')}}</p>
               
                      <p><b>Kontakt</b><br>
                      ad picturam<br>
                      Fachverlag für kunstwissenschaftliche<br />Literatur e. K.<br>
                      In den Sauermatten 6a<br>
                      D-79249 Merzhausen<br><br>
                      Tel.: +49 (0)761 48911235  <br>
                      E-Mail: info@ad-picturam.de<br>
                      Internet: <a href="http://www.ad-picturam.de/" title="Homepage">ad picturam</a></p>
        </div>                
      </div>
                
{{elif session.forced_language =='en': }}

        <div class="col-lg-9">                
                <p>Als kunstwissenschaftlicher Fachverlag hat sich <b>ad picturam</b> auf Dissertationen, Habilitationen, Werk- und Künstlermonographien, Tagungsbände, Aufsatzsammlungen und sonstige Publikationen mit wissenschaftlichem Anspruch aus allen Bereichen der bildenden Kunst und Architektur spezialisiert. In enger Zusammenarbeit mit den Autoren und Herausgebern entwickelt der Verlag individuelle Buchkonzepte und legt dabei großen Wert auf ein sinnvolles, ansprechendes Layout sowie auf eine hohe Qualität der Abbildungen. Darüber hinaus bietet <b>ad picturam</b> ein professionelles (stilistisches und inhaltliches) Lektorat.</p>
                <p>Seit 2016 betreut und gestaltet <b>ad picturam</b> auch Online-Publikationen, die frei zugänglich auf der Verlags-Homepage oder einem anderen Server (z. B. auf <b>arthistoricum.net - ART-Books</b> oder der Homepage eines SFBs oder DFG-Projektes) veröffentlicht werden können. Ergänzend wird eine kleine, digital gedruckte Auflage empfohlen (hybride Publikation).</p>
                <hr>
                <!--<p>Im <b>August 2016</b> erscheint als Printausgabe bei <b>ad picturam</b>  und als eBook bei <b>arthistoricum.net.-ART-Books</b>:</p>-->
                <div class="row">
                <div class="col-lg-2"><a href="{{=URL('static','images/press/home/cover_chant.png')}}">{{=IMG(_src=URL('static','images/press/home/cover_chant.png'),_width='80px', _class='bildrahmen')}}</a>
                </div>
                <div class="col-lg-9">
                <b>Juliane Betz</b><br>                 
                {{=A('Le Chant du cygne. Die Gazette des Beaux-Arts und die französische Reproduktionsgraphik in der zweiten Hälfte des 19. Jahrhunderts',_href=URL('catalog','book/149'))}}<br>
                ISBN: 978-3-942919-03-6, Hardcover, 360 Seiten, 165 Abbildungen
                 <!--<p>In seinem Artikel über den Salon des Beaux-Arts von 1881 unterschied der Kritiker Jules Buisson zwischen den Druckgraphiken der großen       Kupferstecher des 17. und 18. Jahrhunderts, die er als »Chant du Triomphe« titulierte, und jenen des ausklingenden 19. Jahrhunderts, die er als »Chant du Cygne« charakterisierte. Die Bezeichnung als »Schwanengesang« deutet unmissverständlich darauf hin, dass der als durchaus kunstvoll wahrgenommenen Gattung der Reproduktionsgraphik die Ablösung durch photographische Verfahren bevorstand.</p>
                 <p>Die vorliegende Untersuchung der französischen Reproduktionsgraphik basiert auf der 1859 gegründeten Gazette des Beaux-Arts, einer der wichtigsten Kunstzeitschriften des 19. Jahrhunderts. Bis 1927 wurden dort Reproduktionsgraphiken und bis 1933 Originalgraphiken publiziert, die auch Gegenstand zahlreicher Artikel waren. In diesen geht es vor allem um die Erwartungen, die an druckgraphische Reproduktionen gestellt wurden, um die Beurteilung einzelner Blätter und Graphiker sowie um die Frage, ob und warum angesichts photographischer Reproduktionsmöglichkeiten die ›bloße‹ Wiedergabe von Gemälden oder auch Skulpturen im Medium der Druckgraphik als eigenständige Kunst zu betrachten sei.</p>
                 <p>Aus den rund 1450 Tafeln, die die Gazette bis zum Jahr 1900 regelmäßig veröffentlichte, wurden 64 Reproduktionsgraphiken ausgewählt. Die Untersuchung dieser und weiterer Beispiele veranschaulicht, dass es während des gut fünfzig Jahre dauernden Übergangs von der manuellen zur photographischen Kunstreproduktion zwei wesentliche Tendenzen in der stilistischen Entwicklung gab: Zunächst orientierten sich die Graphiker an Reproduktionsstichen der vorangegangenen Jahrhunderte und an der Malerradierung, die ab den 1840er Jahren wieder auflebte. Später entwickelten einige von ihnen eine deutlich durch die Photographie beeinflusste Reproduktionsweise.</p>
                 <p>Die Publikation enthält ca. 160 Abbildungen sowie einen ausführlichen Katalogteil.</p> -->
                </div>
                </div>
                
                
                <div class="row">
                <div class="col-lg-2"><a href="{{=URL('static','images/partner/cover_streit.jpg')}}">{{=IMG(_src=URL('static','images/partner/cover_streit.jpg'),_width='80px', _class='bildrahmen')}}</a>
                </div>
                <div class="col-lg-9">
                <b>Doris H. Lehmann (Hg.)</b><br>                 
                Vom Streit zum Bild. Bildpolemik und andere Waffen der Künstler<br>
                ISBN: 978-3-942919-04-3, Hardcover, Fadenheftung, 25 x 19 cm, ca. 180 Seiten, ca. 100 Abbildungen<br>
                <b>Erscheinungstermin: April 2017</b><br>
                Mit Beiträgen von Helen Barr, Giuseppe Capriotti, Cristina Fontcuberta i Famadas, Ekaterini Kepetzis, Petra Kunzelmann, Doris H. Lehmann und Charlotte Mende<br>
                <br>
                 <p>Wie stritten bildende Künstler miteinander und wie setzten sie dabei ihre Werke als Waffe ein? Wie konnten sie ihren Kritikern und Feinden zeigen, was sie von ihrem Kunsturteil hielten und – wenn möglich ohne Worte – dafür sorgen, dass ihr Publikum dies auch verstand? Wie konnten sie ferner ignorante Auftraggeber bestrafen und ungestraft beleidigen? Und was passierte, wenn ein Künstler emotional überreagierte und durch irrationales Handeln Toleranzgrenzen überschritt? Oder wenn ein Gegner antwortete?</p> 
                 <p>Diesen und anderen Fragen widmet sich der Sammelband des DFG-Projekts „Streitstrategien bildender Künstler in der Neuzeit“, der auf der vom 4. bis 5. Dezember 2015 an der Universität Bonn veranstalteten internationalen Tagung „Vom Streit zum Bild – Bildpolemik und andere Waffen der Künstler“ basiert. Im Zentrum der Diskussionen stehen hier Streitfälle, in denen Künstler ihre Werke als Medium einer Auseinandersetzung instrumentalisierten und inszenierten. Jenseits der bereits intensiv erforschten Aspekte Paragone, Agon, Aemulatio und der Künstler als Verbrecher widmet sich dieser Sammelband damit dem Phänomen des Künstlerstreits unter Berücksichtigung des durch Kontroversen freigesetzten kreativen Potentials, seinen bildsprachlichen Traditionen und Innovationen. Das behandelte Spektrum von Fallstudien umfasst im Schwerpunkt Beispiele des 16. Jahrhunderts und reicht bis in die Gegenwart.</p>
                </div>
                </div>                

        </div>        
                
                
      <div class="col-lg-3">
        <div id="infoBoxRechts">
        <p>{{=IMG(_src=URL('static','images/partner/ad_picturam_logo.png'),_width='230px')}}</p>
               
                      <p><b>Kontakt</b><br>
                      ad picturam<br>
                      Fachverlag für kunstwissenschaftliche<br />Literatur e. K.<br>
                      In den Sauermatten 6a<br>
                      D-79249 Merzhausen<br><br>
                      Tel.: +49 (0)761 48911235  <br>
                      E-Mail: info@ad-picturam.de<br>
                      Internet: <a href="http://www.ad-picturam.de/" title="Homepage">ad picturam</a></p>
        </div>                
      </div>

                {{pass}}





    </div>
  </div>

