{{extend 'layout.html'}}

<div id="main" class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>  {{if session.forced_language =='de': }}
                Deutsches Forum für Kunstgeschichte Paris (DFK Paris)  
                {{elif session.forced_language =='en': }}
                Deutsches Forum für Kunstgeschichte Paris (DFK Paris)
            {{pass}}
            </h3>
        </div>    

                {{if session.forced_language =='de': }}
<div class="col-lg-9">
<p>Das <a href="https://dfk-paris.org/de" title="Link zur Homepage Deutsches Forum für Kunstgeschichte Paris">Deutsche Forum für Kunstgeschichte Paris</a> (DFK Paris) ist ein unabhängiges kunsthistorisches Forschungsinstitut der Max Weber Stiftung – Deutsche Geisteswissenschaftliche Institute im Ausland und gehört der International Association of Research Institutes in the History of Art (RIHA) an. Im Herzen der französischen Hauptstadt gelegen und aus Mitteln des Bundesministeriums für Bildung und Forschung finanziert, versteht sich das DFK Paris als ein „Forum“, ein Ort des Austausches für Kunsthistorikerinnen und Kunsthistoriker der ganzen Welt. Die Wissenschaftstraditionen des französisch- und deutschsprachigen Raumes treten hier in einen fruchtbaren Dialog mit internationalen Positionen und werden zum Ausgangspunkt innovativer und interdisziplinärer Forschungen zur Kunst.</p>

<p>Das DFK Paris fühlt sich der Möglichkeit des Open Access verpflichtet, um die Ergebnisse dieser Forschung schneller und leichter einer internationalen wissenschaftlichen Öffentlichkeit zugänglich machen zu können.</p>

<p>Die bereits existierenden Reihen der "Passages" und "Passerelles" ergänzt nun die Reihe der "Passages online", die insbesondere Ergebnisse wissenschaftlicher Kolloquien und der Jahresthemen digital zur Verfügung stellt. Zugänglich sind diese Publikationen sowohl als Online-Ressource auf <b>arthistoricum.net &ndash; ART-Books</b>, über die Plattform der Max Weber Stiftung perspectivia.net sowie  über die Webseite des DFK Paris und den <a href="http://aleph.mpg.de/F?func=file&amp;file_name=find-b&amp;local_base=kub01" title="Homepage kubikat-Verbundkatalog">kubikat-Verbundkatalog</a>.</p>

<hr>
                <h4>Bereits erschienen</h4>
				<div class="row">
					<div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/733/simple/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/733/simple/cover.jpg'),_style='width:80px', _class='bildrahmen')}}</a>
					</div>
					<div class="col-lg-9">
					<p><b>Birgit Ulrike Münch, Wiebke Windorf (Hrsg.) </b><br>
                    <a href="{{=URL('catalog','book/733')}}">Transformer le monument funéraire. Möglichkeitsräume künstlerischer Überbietung des französischen Monuments im 18. und 19. Jahrhundert</a><br />
					Passages online, Band 7</p>	
					<p>In deutscher und englischer Sprache</p>                    				
					</div>
                </div>

				<div class="row">
					<div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/613/simple/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/613/simple/cover.jpg'),_style='width:80px', _class='bildrahmen')}}</a>
					</div>
					<div class="col-lg-9">
					<p><b>Elke Seibert , Agathe Cabau , Markus A. Castor (Hrsg.) </b><br>
                    <a href="{{=URL('catalog','book/613')}}">Discovering/Uncovering the Modernity of Prehistory</a><br />
					Passages online, Band 5</p>	
					<p>In englischer Sprache</p>                    				
					</div>
                </div>   

                <div class="row">
					<div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/612/simple/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/612/simple/cover.jpg'),_style='width:80px', _class='bildrahmen')}}</a>
					</div>
					<div class="col-lg-9">
					<p><b>Julia Drost, Fabrice Flahutez, Martin Schieder (Hrsg.)</b><br>
                    <a href="{{=URL('catalog','book/612')}}">Le surréalisme et l’argent</a><br />
					Passages online, Band 4</p>	
					<p>In französischer Sprache</p>                    				
					</div>
                </div> 

				
                <div class="row">
					<div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/485/simple/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/485/simple/cover.jpg'),_style='width:80px', _class='bildrahmen')}}</a>
					</div>
					<div class="col-lg-9">
					<p><b>Julia Drost, Fabrice Flahutez, Anne Helmreich, Martin Schieder (Hrsg.)</b><br>
                    <a href="{{=URL('catalog','book/485')}}">Networking Surrealism in the USA. Agents, Artists, and the Market</a><br />
					Passages online, Band 3</p>	
					<p>In englischer Sprache</p>                    				
					</div>
                </div>   
				<div class="row">
					<div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/324/simple/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/324/simple/cover.jpg'),_width='80px', _class='bildrahmen')}}</a>
					</div>
					<div class="col-lg-9">
					<p><b>Thomas Kirchner, Laurence Bertrand Dorléac, Déborah Laks, Nele Putz (Hrsg.) </b><br>
          <a href="{{=URL('catalog','book/324')}}">Les Arts à Paris après la Libération<br />Temps et Temporalités</a><br />
					Passages online, Band 2</p>					
					<p>In französischer Sprache</p>
					</div>
                </div>
                <div class="row">
					<div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/234/simple/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/234/simple/cover.jpg'),_width='80px', _class='bildrahmen')}}</a>
					</div>
					<div class="col-lg-9">
					<p><b>Thomas W. Gaehtgens, Markus A. Castor, Frédéric Bussmann, Christophe Henry (Hrsg.)</b><br>
          <a href="{{=URL('catalog','book/234')}}">Versailles et l’Europe.<br />L’appartement monarchique et princier, architecture, décor, cérémonial</a><br />
					Passages online, Band 1</p>					
					<p>In französischer Sprache</p>
					</div>
                </div>
				

				
				<!--                <h4>Erscheint 2019</h4>-->

<hr>
<p>Weitere Publikationen des Deutschen Forums für Kunstgeschichte (DFK) Paris auf arthistoricum.net:<br />
<a href="http://journals.ub.uni-heidelberg.de/index.php/dfkjb/index" title="Link zum Journal">Deutsches Forum für Kunstgeschichte (DFK Paris): Jahresbericht / Rapport annuel</a><br />
Zahlreiche Aufsätze von Mitarbeiterinnen und Mitarbeitern des DFK finden Sie auch auf <a href="http://archiv.ub.uni-heidelberg.de/artdok/view/collections/c-10.html" title="Link zu ART-DOK">ART-Dok</a>.</p>
</div>        
        
<div class="col-lg-3">
  <div id="infoBoxRechts">
  <p>{{=IMG(_src=URL('static','images/partner/dfk_logo.png'),_width='194px')}}
  </p>
    <br>
    <p><b>Kontakt</b>
      <br>Deutsches Forum für Kunstgeschichte Paris
	  <br>Centre allemand d’histoire de l‘art Paris
	  <br>45, rue des Petits Champs
      <br>F-75001 Paris
      <br>
      <br>Elektronische Publikationen (Passages online)
      <br>Dr. Markus A. Castor
	  <br>Internet: <a href="https://dfk-paris.org/" title="Link zur Homepage">www.dfk-paris.org</a>
	</p>
  </div>
</div>
        
{{elif session.forced_language =='en': }}

                <div class="col-lg-9">
                <p>The <a href="https://dfk-paris.org/de" title="Link zur Homepage">German Forum for Art History, Paris</a> (DFK Paris) is an independent art history research institute belonging to the Max Weber Stiftung, which represents  German humanities institutes abroad.  Its aim is to act as a place for subject-specific  exchange, where the scientific traditions of France and the German speaking areas can enter into fruitful dialogue with international perspectives.  This forms the basis for interdisciplinary research into the art of both countries within their global context.</p>
                <p>The German Forum for Art History, Paris fully supports the principle of Open Access, in order to make the results of its research quickly and easily available to an international readership.</p>
                <p>Two publication series, “Passagen” and “Passerelles” are now joined by “Passages online”, which presents in digital form the results of scientific meetings and annual topics of interest. These publications are accessible in several ways:  among the online resources found on <b>arthistoricum.net &ndash; ART-Books</b>, via the platform of the Max Weber Stiftung, perspectivia.net; alternatively, via the internet site of the DFK Paris, and the kubikat union catalogue.<br />
                Additionally, it is also possible to acquire some volumes in printed form.
                </p>
<hr>
                <h4>Published</h4>
				<div class="row">
					<div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/733/simple/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/733/simple/cover.jpg'),_style='width:80px', _class='bildrahmen')}}</a>
					</div>
					<div class="col-lg-9">
					<p><b>Birgit Ulrike Münch, Wiebke Windorf (Eds.) </b><br>
                    <a href="{{=URL('catalog','book/733')}}">Transformer le monument funéraire. Möglichkeitsräume künstlerischer Überbietung des französischen Monuments im 18. und 19. Jahrhundert</a><br />
					Passages online, Volume 7</p>	
					<p>In German</p>                    				
					</div>
                </div>                
				<div class="row">
					<div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/613/simple/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/613/simple/cover.jpg'),_style='width:80px', _class='bildrahmen')}}</a>
					</div>
					<div class="col-lg-9">
					<p><b>Elke Seibert , Agathe Cabau , Markus A. Castor (Hrsg.) </b><br>
                    <a href="{{=URL('catalog','book/613')}}">Discovering/Uncovering the Modernity of Prehistory</a><br />
					Passages online, Band 5</p>	
					<p>In English</p>                    				
					</div>
                </div>
                <div class="row">
					<div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/612/simple/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/612/simple/cover.jpg'),_style='width:80px', _class='bildrahmen')}}</a>
					</div>
					<div class="col-lg-9">
					<p><b>Julia Drost, Fabrice Flahutez, Martin Schieder (Eds.)</b><br>
                    <a href="{{=URL('catalog','book/612')}}">Le surréalisme et l’argent</a><br />
					Passages online, Volume 4</p>	
					<p>In French</p>                    				
					</div>
                </div>                
                <div class="row">
					<div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/485/simple/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/485/simple/cover.jpg'),_style='width:80px', _class='bildrahmen')}}</a>
					</div>
					<div class="col-lg-9">
					<p><b>Julia Drost, Fabrice Flahutez, Anne Helmreich, Martin Schieder (Eds.)</b><br>
                    <a href="{{=URL('catalog','book/485')}}">Networking Surrealism in the USA. Agents, Artists, and the Market</a><br />
					Passages online, Volume 3</p>	
					<p>In English</p>                    				
					</div>
                </div>  
				<div class="row">
					<div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/324/simple/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/324/simple/cover.jpg'),_width='80px', _class='bildrahmen')}}</a>
					</div>
					<div class="col-lg-9">
					<p><b>Thomas Kirchner, Laurence Bertrand Dorléac, Déborah Laks, Nele Putz (Eds.) </b><br>
          <a href="{{=URL('catalog','book/324')}}">Les Arts à Paris après la Libération<br />Temps et Temporalités</a><br />
					Passages online, Volume 2</p>					
					<p>In French</p>
					</div>
                </div>                                
				<div class="row">
					<div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/234/simple/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/234/simple/cover.jpg'),_width='80px', _class='bildrahmen')}}</a>
					</div>
					<div class="col-lg-9">
					<p><b>Thomas W. Gaehtgens, Markus A. Castor, Frédéric Bussmann, Christophe Henry  (Eds.)</b><br>
          <a href="{{=URL('catalog','book/234')}}">Versailles et l’Europe.<br />L’appartement monarchique et princier, architecture, décor, cérémonial</a><br />
					Paris & Heidelberg 2017<br />
					Passages online, Volume 1</p>					
					<p>In French</p>
					</div>
                </div>

				<!--<h4>Will be published in 2019</h4>-->

<hr>
<p>Find out more about other publications by the Deutsche Forum für Kunstgeschichte (DFK) Paris on arthistoricum.net:<br />
<a href="http://journals.ub.uni-heidelberg.de/index.php/dfkjb/index" title="Link to the journal">Deutsches Forum für Kunstgeschichte (DFK Paris): Jahresbericht / Rapport annuel</a><br />
Numerous essays by staff members of the DFK can be found on <a href="http://archiv.ub.uni-heidelberg.de/artdok/view/collections/c-10.html" title="Link to ART-DOK">ART-Dok</a>.</p>
</div>        
        
<div class="col-lg-3">
  <div id="infoBoxRechts">
  <p>{{=IMG(_src=URL('static','images/partner/dfk_logo.png'),_width='194px')}}
  </p>
    <br>
    <p><b>Contact</b>
      <br>Deutsches Forum für Kunstgeschichte Paris
	  <br>Centre allemand d’histoire de l‘art Paris
	  <br>45, rue des Petits Champs
      <br>F-75001 Paris
      <br>
      <br>Electronic Publications (Passages online)
      <br>Dr. Markus A. Castor
	  <br>Internet: <a href="https://dfk-paris.org/" title="Link zur Homepage">www.dfk-paris.org</a>
	</p>
  </div>
</div>


{{pass}}


            

    </div>
  </div>

