{{extend 'layout.html'}}

<div id="main" class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>  {{if session.forced_language =='de': }}
                Deutsches Forum für Kunstgeschichte Paris (DFK Paris)  
                {{elif session.forced_language =='en': }}
                Deutsches Forum für Kunstgeschichte Paris (DFK Paris)
            {{pass}}
            </h3>
        </div>    

                {{if session.forced_language =='de': }}
<div class="col-lg-9">
<p>Das <a href="https://dfk-paris.org/de" title="Link zur Homepage">Deutsche Forum für Kunstgeschichte Paris</a> (DFK Paris) ist ein unabhängiges kunsthistorisches Forschungsinstitut der Max Weber Stiftung – Deutsche Geisteswissenschaftliche Institute im Ausland. Es versteht sich als Ort des fachlichen Austausches,  an dem die Wissenschaftstraditionen Frankreichs und des deutschsprachigen Raums in einen fruchtbaren Dialog mit internationalen Positionen treten und zum Ausgangspunkt interdisziplinärer Forschungen zur Kunst der beiden Länder in ihrem globalen Kontext werden.</p>
<p>Das DFK Paris fühlt sich der Möglichkeit des Open Access verpflichtet, um die Ergebnisse dieser Forschung schneller und leichter einer internationalen Öffentlichkeit zugänglich machen zu können.</p>
<p>Die bereits existierenden Reihen der "Passagen" und "Passerelles" ergänzt nun die Reihe der "Passages online", die insbesondere Ergebnisse wissenschaftlicher Kolloquien und Jahresthemen digital zur Verfügung stellt. Zugänglich sind diese Publikationen sowohl als Online-Ressource auf <b>arthistoricum.net &ndash; ART-Books</b>, über die Plattform der Max Weber Stiftung perspectivia.net sowie auch auf der Internetseite des DFK Paris und dem kubikat-Verbundkatalog.<br />
Darüber hinaus besteht bei einzelnen Bänden die Möglichkeit, diese in einer gedruckten Ausgabe zu erwerben.</p>

<hr>
				<div class="row">
					<div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/234/simple/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/234/simple/cover.jpg'),_width='80px', _class='bildrahmen')}}</a>
					</div>
					<div class="col-lg-9">
					<p><b>Thomas W. Gaehtgens, Markus A. Castor, Frédéric Bussmann, Christophe Henry (Hrsg.)</b><br>
          <a href="{{=URL('catalog','book/234')}}">Versailles et l’Europe.<br />L’appartement monarchique et princier, architecture, décor, cérémonial</a><br />
					Passages online, Band 1</p>					
					<p>Der vorliegende Band untersucht den Einfluss eines der brillantesten Repräsentationsleistungen der Frühen Neuzeit auf die europäischen Höfe des 17. und 18. Jahrhunderts. Das Versailler Schloss, ein „Showroom“, der die französischen Luxusgüter über die Grenzen hinaus bekannt und zum begehrten Gut machte, zog die Blicke aller Regenten der Zeit auf sich. Doch wenngleich von Künstlern und Kunsthandwerkern, die sich an den europäischen Höfen niederließen, zahlreiche Formen und Ideen übernommen wurden, darf die Beharrlichkeit der lokalen Traditionen dennoch nicht unterschätzt werden.</p>
					<p>In französischer Sprache</p>
					</div>
                </div>
<hr>
<p>Weitere Publikationen des Deutschen Forums für Kunstgeschichte (DFK) Paris auf arthistoricum.net:<br />
<a href="http://journals.ub.uni-heidelberg.de/index.php/dfkjb/index" title="Link zum Journal">Deutsches Forum für Kunstgeschichte (DFK Paris): Jahresbericht / Rapport annuel</a><br />
Zahlreiche Aufsätze von Mitarbeiterinnen und Mitarbeitern des DFK finden Sie auch auf <a href="http://archiv.ub.uni-heidelberg.de/artdok/view/collections/c-10.html" title="Link zu ART-DOK">ART-Dok</a>.</p>
</div>        
        
<div class="col-lg-3">
  <div id="infoBoxRechts">
  <p>{{=IMG(_src=URL('static','images/partner/dfk_logo.png'),_width='194px')}}
  </p>
    <br>
    <p><b>Kontakt</b>
      <br>Deutsches Forum für Kunstgeschichte
	  <br>Centre allemand d’histoire de l‘art
	  <br>45, rue des Petits Champs
      <br>F-75001 Paris
      <br>
      <br>Elektronische Publikationen (Passages online)
      <br>Dr. Markus A. Castor
      <br>Katharina Thurmair, M.A.
	  <br>
	  <br>Internet: <a href="https://dfk-paris.org/" title="Link zur Homepage">www.dfk-paris.org</a>
	</p>
  </div>
</div>
        
{{elif session.forced_language =='en': }}

<div class="col-lg-9">
<p>The <a href="https://dfk-paris.org/de" title="Link zur Homepage">German Forum for Art History, Paris</a> (DFK Paris) is an independent art history research institute belonging to the Max Weber Stiftung, which represents  German humanities institutes abroad.  Its aim is to act as a place for subject-specific  exchange, where the scientific traditions of France and the German speaking areas can enter into fruitful dialogue with international perspectives.  This forms the basis for interdisciplinary research into the art of both countries within their global context.</p>
<p>The German Forum for Art History, Paris fully supports the principle of Open Access, in order to make the results of its research quickly and easily available to an international readership.</p>
<p>Two publication series, “Passagen” and “Passerelles” are now joined by “Passages online”, which presents in digital form the results of scientific meetings and annual topics of interest. These publications are accessible in several ways:  among the online resources found on <b>arthistoricum.net &ndash; ART-Books</b>, via the platform of the Max Weber Stiftung, perspectivia.net; alternatively, via the internet site of the DFK Paris, and the kubikat union catalogue.<br />
Additionally, it is also possible to acquire some volumes in printed form.
</p>
<hr>
				<div class="row">
					<div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/234/simple/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/234/simple/cover.jpg'),_width='80px', _class='bildrahmen')}}</a>
					</div>
					<div class="col-lg-9">
					<p><b>Thomas W. Gaehtgens, Markus A. Castor, Frédéric Bussmann, Christophe Henry  (Hrsg.)</b><br>
          <a href="{{=URL('catalog','book/234')}}">Versailles et l’Europe.<br />L’appartement monarchique et princier, architecture, décor, cérémonial</a><br />
					Paris & Heidelberg 2017<br />
					Passages online, Volume 1</p>					
					<p>The volume presented here examines the influence of one of the most splendidly representative achievements of the early modern period upon the European courts of the 17th and 18th centuries. The Palace of Versailles was a showroom which made French luxury items known, and desired, far beyond the borders of France, drawing the attention of all regents of the time, and although numerous forms and ideas were borrowed by the artists and craftsmen who settled in the various European courts, the persistence of local traditions should not be under-estimated.</p>
					<p>In French</p>
					</div>
                </div>
<hr>
<p>Find out more about other publications by the Deutsche Forum für Kunstgeschichte (DFK) Paris on arthistoricum.net:<br />
<a href="http://journals.ub.uni-heidelberg.de/index.php/dfkjb/index" title="Link to the journal">Deutsches Forum für Kunstgeschichte (DFK Paris): Jahresbericht / Rapport annuel</a><br />
Numerous essays by staff members of the DFK can be found on <a href="http://archiv.ub.uni-heidelberg.de/artdok/view/collections/c-10.html" title="Link to ART-DOK">ART-Dok</a>.</p>
</div>        
        
<div class="col-lg-3">
  <div id="infoBoxRechts">
  <p>{{=IMG(_src=URL('static','images/partner/dfk_logo.png'),_width='194px')}}
  </p>
    <br>
    <p><b>Contact</b>
      <br>Deutsches Forum für Kunstgeschichte
	  <br>Centre allemand d’histoire de l‘art
	  <br>45, rue des Petits Champs
      <br>F-75001 Paris
      <br>
      <br>Electronic Publications (Passages online)
      <br>Dr. Markus A. Castor
      <br>Katharina Thurmair, M.A.
	  <br>
	  <br>Internet: <a href="https://dfk-paris.org/" title="Link zur Homepage">www.dfk-paris.org</a>
	</p>
  </div>
</div>


{{pass}}


            

    </div>
  </div>

