{{extend 'layout.html'}}

<div id="main" class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>  {{if session.forced_language =='de': }}
                Germanisches Nationalmuseum  
                {{elif session.forced_language =='en': }}
                Germanisches Nationalmuseum  
            {{pass}}
            </h3>
        </div>    

                {{if session.forced_language =='de': }}
<div class="col-lg-9">
<p>Das <a href="http://www.gnm.de/" title="Homepage">Germanische Nationalmuseum</a> gilt als das größte Museum deutscher Kunst und Kultur. Rund 1,35 Millionen Objekte sind auf 23 Sammlungsbereiche verteilt. Sie geben Zeugnis von 200.000 Jahren deutscher Kulturgeschichte. Das Museum zeichnet sich in besonderem Maße durch gattungsübergreifende Objektforschung aus.  Ein weiteres Hauptaugenmerk des Museums liegt auf der Untersuchung der kulturellen Zusammenhänge, in denen die Werke stehen.
</p>
<p>Als Teil der Leibniz-Gemeinschaft hat sich das Germanische Nationalmuseum zu Open Access verpflichtet. Über <b>arthistoricum.net &ndash; ART-Books</b> werden  insbesondere im Rahmen von Tagungen erzielte Forschungsergebnisse der Wissenschaft vollumfänglich und kostenlos zur Verfügung gestellt.
</p>
<hr>
<p>Publikationen des Germanischen Nationalmuseums Nürnberg:</p>
<hr>
<p>Weitere Angebote des Germanischen Nationalmuseums auf arthistoricum.net finden Sie auf <a href="http://archiv.ub.uni-heidelberg.de/artdok/view/collections/c-5.html" title="Link zu ART-DOK">ART-Dok</a> und auf <a href="http://journals.ub.uni-heidelberg.de/index.php/ojs" title="Link zu heiJournals">heiJournals</a> mit den folgenden Titeln:<br />
<a href="http://journals.ub.uni-heidelberg.de/index.php/kulturgut/" title="Link zur Zeitschrift">KulturGut</a><br />
<a href="http://journals.ub.uni-heidelberg.de/index.php/ma/index" title="Link zur Zeitschrift">MonatsAnzeiger</a><br />
<a href="http://journals.ub.uni-heidelberg.de/index.php/azvzgnm/index" title="Link zur Zeitschrift">Anzeiger für Kunde der deutschen Vorzeit : Organ d. Germanischen Museums</a><br />
<a href="http://journals.ub.uni-heidelberg.de/index.php/mittgnm/index" title="Link zur Zeitschrift">Mitteilungen aus dem Germanischen Nationalmuseum</a>
</p>

</div>        
        
<div class="col-lg-3">
  <div id="infoBoxRechts">
  <p>{{=IMG(_src=URL('static','images/partner/gnm_logo.gif'),_width='194px')}}
  </p>
    <br>
    <p><b>Kontakt</b>
      <br>Germanisches Nationalmuseum Nürnberg
      <br>Verlag
      <br>Kornmarkt 1
      <br>D-90403 Nürnberg
      <br>
      <br>Tel.: +49  911 1331165
      <br>(Mo&ndash;Fr, 11.00&ndash;16.00 Uhr)
      <br>Internet: 
      <a href="http://www.gnm.de/" title="Homepage">www.gnm.de</a>
  </div>
</div>
        
{{elif session.forced_language =='en': }}

<div class="col-lg-9">
<p>Das <a href="http://www.gnm.de/" title="Homepage">Germanische Nationalmuseum</a> gilt als das größte Museum deutscher Kunst und Kultur. Rund 1,35 Millionen Objekte sind auf 23 Sammlungsbereiche verteilt. Sie geben Zeugnis von 200.000 Jahren deutscher Kulturgeschichte. Das Museum zeichnet sich in besonderem Maße durch gattungsübergreifende Objektforschung aus.  Ein weiteres Hauptaugenmerk des Museums liegt auf der Untersuchung der kulturellen Zusammenhänge, in denen die Werke stehen.
</p>
<p>Als Teil der Leibniz-Gemeinschaft hat sich das Germanische Nationalmuseum zu Open Access verpflichtet. Über <b>arthistoricum.net &ndash; ART-Books</b> werden  insbesondere im Rahmen von Tagungen erzielte Forschungsergebnisse der Wissenschaft vollumfänglich und kostenlos zur Verfügung gestellt.
</p>
<hr>
<p>Publikationen des Germanischen Nationalmuseums Nürnberg:</p>
<hr>
<p>Weitere Angebote des Germanischen Nationalmuseums auf arthistoricum.net finden Sie auf <a href="http://archiv.ub.uni-heidelberg.de/artdok/view/collections/c-5.html" title="Link zu ART-DOK">ART-Dok</a> und auf <a href="http://journals.ub.uni-heidelberg.de/index.php/ojs" title="Link zu heiJournals">heiJournals</a> mit den folgenden Titeln:<br />
<a href="http://journals.ub.uni-heidelberg.de/index.php/kulturgut/" title="Link zur Zeitschrift">KulturGut</a><br />
<a href="http://journals.ub.uni-heidelberg.de/index.php/ma/index" title="Link zur Zeitschrift">MonatsAnzeiger</a><br />
<a href="http://journals.ub.uni-heidelberg.de/index.php/azvzgnm/index" title="Link zur Zeitschrift">Anzeiger für Kunde der deutschen Vorzeit : Organ d. Germanischen Museums</a><br />
<a href="http://journals.ub.uni-heidelberg.de/index.php/mittgnm/index" title="Link zur Zeitschrift">Mitteilungen aus dem Germanischen Nationalmuseum</a>
</div>        
        
        
<div class="col-lg-3">
  <div id="infoBoxRechts">
  <p>{{=IMG(_src=URL('static','images/partner/gnm_logo.gif'),_width='194px')}}
  </p>
    <br>
    <p><b>Contakt</b>
      <br>Germanisches Nationalmuseum Nürnberg
      <br>Verlag
      <br>Kornmarkt 1
      <br>D-90403 Nürnberg
      <br>
      <br>Tel.: +49  911 1331165
      <br>(Mo&ndash;Fr, 11.00&ndash;16.00 Uhr)
      <br>Internet: 
      <a href="http://www.gnm.de/" title="Homepage">www.gnm.de</a>
  </div>
</div>


{{pass}}


            

    </div>
  </div>

