{{extend 'layout.html'}}

<div id="main" class="container">

    <div class="row">
        <div class="col-lg-12">
            <h3>  {{if session.forced_language =='de': }}
                  Dietrich Reimer Verlag
                {{elif session.forced_language =='en': }}
                  Dietrich Reimer Verlag
            {{pass}}
            </h3>
        </div>
            
                {{if session.forced_language =='de': }}

        <div class="col-lg-9">                
                <p>Der Dietrich Reimer Verlag ist ein wissenschaftlicher Buchverlag mit den Schwerpunkten Kunstgeschichte, Ethnologie, Architektur und Archäologie. Eine Reihe mit Architekturführern zu verschiedenen deutschen Städten und eine Studienbibliothek, in der Einführungsbände sowie zahlreiche Standard- und Nachschlagewerke herausgegeben werden, sprechen sowohl ein akademisches Publikum als auch interessierte Laien an. Der Dietrich Reimer Verlag bildet gemeinsam mit dem Gebr. Mann Verlag eine GmbH. </p>
                <p>Der Verlag wurde 1845 von Dietrich Arnold Reimer gegründet mit der Maxime, nur ernsthafte und brauchbare Bücher auf den Markt zu bringen. Das Programm umfasst heute Monografien, Tagungsbände und Zeitschriften. Neben umfänglicher Beratung bietet der Verlag ein Lektorat und einen internationalen Vertrieb.</p>
                <p>Seit 2018 besteht auch die Möglichkeit, Werke frei zugänglich als Open Access zu veröffentlichen, z. B. auf arthistoricum.net – ART-Books oder auf der Homepage eines SFBs oder DFG-Projektes. Ergänzend können kleine Auflagen im Digitaldruck oder als Print on Demand angeboten werden.</p>  
        </div>        
                
                
      <div class="col-lg-3">
        <div id="infoBoxRechts">
        <p>{{=IMG(_src=URL('static','images/partner/reimer_logo.png'),_width='150px')}}</p>
                      <p style="padding-top: 1em;"><b>Kontakt</b><br>
                      Reimer Verlag<br>
                      Beate Behrens/Verlagsleitung<br>
                      Berliner Str. 53<br>
                      10713 Berlin<br><br>
                      Tel.: +49 30 700 13 88 0 <br>
                      E-Mail: behrens@reimer-verlag.de<br>
                      Internet: <a href="http://www.reimer-mann-verlag.de/reimer/" title="Homepage Reimer Verlag">Dietrich Reimer Verlag</a></p>
        </div>                
      </div>
	  <hr>

                <h4>Bereits erschienen</h4>
                <div class="row">
                <div class="col-lg-2"><a href="{{=URL('static','images/catalog/cover_schoenheit.jpg')}}">{{=IMG(_src=URL('static','images/catalog/cover_schoenheit.jpg'),_width='80px', _class='bildrahmen')}}</a>
                </div>
                <div class="col-lg-9">
                <b>Romana Sammern, Julia Saviello (Hg.)</b><br>                 
                <b>Schönheit — Der Körper als Kunstprodukt</b><br>
                ISBN: 978-3-496015-93-2, Paperback, 374 Seiten<br>
                </div>
                </div>
                
                <div class="row">
                <div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/445/simple/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/445/simple/cover.jpg'),_width='80px', _class='bildrahmen')}}</a>
				</div>
                <div class="col-lg-9">
                <b>Thomas W. Gaehtgens, Uwe Fleckner (Hrsg.) <br />
				{{=A('Historienmalerei',_href=URL('catalog','book/445'))}}</b>
                </div>
         </div>  
                
{{elif session.forced_language =='en': }}

        <div class="col-lg-9">                
                <p>More Informationen coming soon</p> 
        </div>        
                
                
      <div class="col-lg-3">
        <div id="infoBoxRechts">
        <p>{{=IMG(_src=URL('static','images/partner/reimer_logo.png'),_width='150px')}}</p>
                      <p style="padding-top: 1em;"><b>Contact</b><br>
                      Reimer Verlag<br>
                      Beate Behrens/Verlagsleitung<br>
                      Berliner Str. 53<br>
                      10713 Berlin<br><br>
                      Tel.: +49 30 700 13 88 0<br>
                      E-Mail: behrens@reimer-verlag.de<br>
                      Internet: <a href="http://www.reimer-mann-verlag.de/reimer/" title="Homepage Reimer Verlag">Dietrich Reimer Verlag</a></p>
        </div>                
      </div>
	  <hr>

                <h4>Already Published</h4>
                <div class="row">
                <div class="col-lg-2"><a href="{{=URL('static','images/catalog/cover_schoenheit.jpg')}}">{{=IMG(_src=URL('static','images/catalog/cover_schoenheit.jpg'),_width='80px', _class='bildrahmen')}}</a>
                </div>
                <div class="col-lg-9">
                <b>Romana Sammern, Julia Saviello (Hg.)</b><br>                 
                <b>Schönheit — Der Körper als Kunstprodukt</b><br>
                ISBN: 978-3-496015-93-2, Paperback, 374 Seiten<br>
                </div>
                </div>
                
                <div class="row">
                <div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/445/simple/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/445/simple/cover.jpg'),_width='80px', _class='bildrahmen')}}</a>
				</div>
                <div class="col-lg-9">
                <b>Thomas W. Gaehtgens, Uwe Fleckner (Hrsg.) <br />
				{{=A('Historienmalerei',_href=URL('catalog','book/445'))}}</b>
                </div>
         </div>
                
                {{pass}}





    </div>
  </div>

