{{extend 'layout.html'}}

<div id="main" class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>  {{if session.forced_language =='de': }}
                Sandstein Verlag  
                {{elif session.forced_language =='en': }}
                Sandstein Verlag
            {{pass}}
            </h3>
        </div>
            
                {{if session.forced_language =='de': }}

        <div class="col-lg-9">                
                <p>Sandstein wurde 1990 aus der Wendezeit heraus gegründet, um gesellschaftliche Debatten anzustoßen und zu begleiten. Als unabhängiger Verlag verbindet er heute einen kritischen Geist mit anspruchsvollem Design. Dabei leitet ihn die Leidenschaft, kulturhistorischen, künstlerischen und kunsthistorischen Themen eine möglichst perfekte Form zu geben: schön, lesbar, aufregend und informativ.</p>
				<hr>

                <h4>Bereits erschienen</h4>
                <div class="row">	
                    <div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/1204/simple/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/1204/simple/cover.jpg'),_width='80px', _class='bildrahmen')}}</a>
                    </div>
                    <div class="col-lg-9">
                       <b>Julia Trinkert und Philipp Zitzlsperger (Hrsg.)<br /><a href="{{=URL('catalog','book/1204')}}" title="Parvenue. Bürgerlicher Aufstieg im Spiegel der Objektkultur im 18. Jahrhundert">Parvenue. Bürgerlicher Aufstieg im Spiegel der Objektkultur im 18. Jahrhundert</a></b>
                    </div>
                 </div>
                <div class="row">
                <div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/809/simple/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/809/simple/cover.jpg'),_width='80px',_class='bildrahmen')}}</a>
                </div>
                <div class="col-lg-9">
                <b>Staatliche Kunstsammlungen Dresden (Hrsg.)</b><br>                 
                <b>{{=A('Bibliographie Grünes Gewölbe 1800 bis 2020',_href=URL('catalog','book/809'))}}</b><br>
                ISBN 978-3-948466-97-8 (PDF)<br>
                </div>
                </div>
                <div class="row">
                <div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/864/simple/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/864/simple/cover.jpg'),_width='80px',_class='bildrahmen')}}</a>
                </div>
                <div class="col-lg-9">
                <b>Staatliche Kunstsammlungen Dresden, Ulrike Weinhold und Theresa Witting (Hrsg.)</b><br>                 
                <b>{{=A('Farbfassungen auf Gold und Silber / Paints on Gold and Silver',_href=URL('catalog','book/864'))}}</b><br>
                ISBN 978-3-948466-92-3 (PDF)<br>
                </div>
                </div>

                <div class="row">
                <div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/749/simple/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/749/simple/cover.jpg'),_width='80px',_class='bildrahmen')}}</a>
                </div>
                <div class="col-lg-9">
                <b>Staatliche Kunstsammlungen Dresden (Hrsg.)</b><br>                 
                <b>{{=A('Aufzeichnungen des Prof. Barvitius über seine Reise nach Dresden, Berlin u. München / Quellenband',_href=URL('catalog','book/749'))}}</b><br>
                Online-Edition einer Schlüsselquelle zur deutsch-böhmischen Museumsgeschichte des späten 19. Jahrhunderts<br>
                ISBN 978-3-948466-68-8 (PDF)<br>
                </div>
                </div>
                <div class="row">
                <div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/668/simple/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/668/simple/cover.jpg'),_width='80px',_class='bildrahmen')}}</a>
                </div>
                <div class="col-lg-9">
                <b>Katja Lembke (Hrsg.)</b><br>                 
                <b>{{=A('best of',_href=URL('catalog','book/668'))}}<br>
				111 Geschichten aus dem Weltenmuseum</b><br>
                ISBN 978-3-95498-277-6<br>
                </div>
                </div> 
                <div class="row">
                <div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/693/simple/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/693/simple/cover.jpg'),_width='80px',_class='bildrahmen')}}</a>
                </div>
                <div class="col-lg-9">
                <b>Katja Lembke (Ed.)</b><br>                 
                <b>{{=A('best of',_href=URL('catalog','book/693'))}}<br>
				111 Stories from the WeltenMuseum</b><br>
                ISBN 978-3-948466-40-4 (PDF)<br>
                </div>
                </div>				
 
        </div>        
                
                
      <div class="col-lg-3">
        <div id="infoBoxRechts">
        <p>{{=IMG(_src=URL('static','images/partner/sandstein_logo.gif'),_width='230px')}}</p>
               
            <p><b>Kontakt</b><br>
                  Sandstein Verlag<br>
				  Goetheallee 6<br>
				  D-01309 Dresden<br>
				  Tel.: 0351 44078-0<br>
				  Fax: 0351 44078-12<br>
				  E-Mail: verlag@sandstein.de<br>
				  Internet: <a href="http://www.sandstein-verlag.de" title="Homepage">Sandstein Verlag</a></p>
        </div>                
      </div>
                
{{elif session.forced_language =='en': }}

        <div class="col-lg-9">                
                <p>Sandstein wurde 1990 aus der Wendezeit heraus gegründet, um gesellschaftliche Debatten anzustoßen und zu begleiten. Als unabhängiger Verlag verbindet er heute einen kritischen Geist mit anspruchsvollem Design. Dabei leitet ihn die Leidenschaft, kulturhistorischen, künstlerischen und kunsthistorischen Themen eine möglichst perfekte Form zu geben: schön, lesbar, aufregend und informativ.</p>
				<hr>
                <h4>Publications</h4>
                <div class="row">
                <div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/809/simple/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/809/simple/cover.jpg'),_width='80px',_class='bildrahmen')}}</a>
                </div>
                <div class="col-lg-9">
                <b>Staatliche Kunstsammlungen Dresden (Hrsg.)</b><br>                 
                <b>{{=A('Bibliographie Grünes Gewölbe 1800 bis 2020',_href=URL('catalog','book/809'))}}</b><br>
                ISBN 978-3-948466-97-8 (PDF)<br>
                </div>
                </div>                
                <div class="row">
                <div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/749/simple/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/749/simple/cover.jpg'),_width='80px',_class='bildrahmen')}}</a>
                </div>
                <div class="col-lg-9">           
                <b>Staatliche Kunstsammlungen Dresden (Hrsg.)</b><br>                 
                <b>{{=A('Aufzeichnungen des Prof. Barvitius über seine Reise nach Dresden, Berlin u. München / Quellenband',_href=URL('catalog','book/749'))}}</b><br>
                Online-Edition einer Schlüsselquelle zur deutsch-böhmischen Museumsgeschichte des späten 19. Jahrhunderts<br>
                ISBN 978-3-948466-68-8 (PDF)<br>
                </div> 
                </div>  
                <div class="row">             
                <div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/668/simple/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/668/simple/cover.jpg'),_width='80px',_class='bildrahmen')}}</a>
                </div>
                <div class="col-lg-9">
                <b>Katja Lembke (Hrsg.)</b><br>                 
                <b>{{=A('best of',_href=URL('catalog','book/668'))}}<br>
				111 Geschichten aus dem Weltenmuseum</b><br>
                ISBN 978-3-95498-277-6<br>
                </div>
                </div>
                <div class="row">
                <div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/693/simple/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/693/simple/cover.jpg'),_width='80px',_class='bildrahmen')}}</a>
                </div>
                <div class="col-lg-9">
                <b>Katja Lembke (Ed.)</b><br>                 
                <b>{{=A('best of',_href=URL('catalog','book/693'))}}<br>
				111 Stories from the WeltenMuseum</b><br>
                ISBN 978-3-948466-40-4 (PDF)<br>
                </div>
                </div>                 				
			
        </div>        
                
                
      <div class="col-lg-3">
        <div id="infoBoxRechts">
        <p>{{=IMG(_src=URL('static','images/partner/sandstein_logo.gif'),_width='230px')}}</p>
               
                      <p><b>Contact</b><br>
                      Sandstein Verlag<br>
					  Goetheallee 6<br>
					  D-01309 Dresden<br>
					  Tel.: 0351 44078-0<br>
					  Fax: 0351 44078-12<br>
					  E-Mail: verlag@sandstein.de<br>
					  Internet: <a href="http://www.sandstein-verlag.de" title="Homepage">Sandstein Verlag</a></p>
        </div>                
      </div>

                {{pass}}





    </div>
  </div>

