{{extend 'layout.html'}}

<div id="main" class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>  {{if session.forced_language =='de': }}
                Schweizerisches Institut für Kunstwissenschaft (SIK-ISEA),<br>Zürich / Lausanne 
                {{elif session.forced_language =='en': }}
                Schweizerisches Institut für Kunstwissenschaft (SIK-ISEA),<br>Zürich / Lausanne
            {{pass}}
            </h3>
        </div>    

        
<div class="col-lg-9">
{{if session.forced_language =='de': }}
<p>Das 1951 gegründete <a href="https://www.sik-isea.ch/de-ch/" title="Homepage ">Schweizerische Institut für Kunstwissenschaft (SIK-ISEA)</a>  mit Hauptsitz in Zürich sowie Büros in der französisch- und in der italienischsprachigen Schweiz ist ein kunstwissenschaftliches und kunsttechnologisches Kompetenzzentrum von nationaler wie internationaler Ausrichtung. Als gemeinnützige Stiftung geniesst SIK-ISEA den Status eines autonomen und nicht-profitorientierten Forschungsinstituts, das zum einen über Beiträge der öffentlichen Hand und zum anderen über kompetitiv eingeworbene Forschungsmittel, Zuwendungen von Stiftungen und Gönnerinnen oder Gönnern sowie Erlöse aus Dienstleistungen finanziert wird. Schwerpunkte seiner Aktivitäten sind Forschung, Dokumentation, Wissensvermittlung und Dienstleistung im Bereich der bildenden Kunst, wobei das Kunstschaffen in der Schweiz vom Mittelalter bis zur Gegenwart das Kerngebiet bildet.</p>

<p>Durch seine Forschungstätigkeit steht SIK-ISEA in regem Austausch mit Universitäten, Fachhochschulen, Museen und namhaften Sachverständigen. Es ist Mitglied der Schweizerischen Akademie der Geistes- und Sozialwissenschaften (SAGW), des Schweizerischen Nationalkomitees des Internationalen Museumsrates (ICOM Schweiz) und Gründungsmitglied der International Association of Research Institutes in the History of Art (RIHA).</p>

<p>SIK-ISEA sieht es als seine Aufgabe an, wissenschaftliche Publikationen und forschungsrelevante Daten im Open Access rasch einer internationalen Öffentlichkeit zugänglich zu machen.</p>

<hr>
<h4>Bereits erschienen</h4>
Reihe: <a href="{{=URL('catalog','series/sik_isea')}}">outlines</a>
<hr>
<p>Weitere Publikationen des Schweizerischen Instituts für Kunstwissenschaft (SIK-ISEA) auf arthistoricum.net:<br />
<a href="http://journals.ub.uni-heidelberg.de/index.php/sikisea/index" title="Link zum Journal">Jahresbericht SIK-ISEA / Schweizerisches Institut für Kunstwissenschaft</a></p>

	{{elif session.forced_language =='en': }}

<p>Das 1951 gegründete <a href="https://www.sik-isea.ch/de-ch/" title="Homepage ">Schweizerische Institut für Kunstwissenschaft (SIK-ISEA)</a>  mit Hauptsitz in Zürich sowie Büros in der französisch- und in der italienischsprachigen Schweiz ist ein kunstwissenschaftliches und kunsttechnologisches Kompetenzzentrum von nationaler wie internationaler Ausrichtung. Als gemeinnützige Stiftung geniesst SIK-ISEA den Status eines autonomen und nicht-profitorientierten Forschungsinstituts, das zum einen über Beiträge der öffentlichen Hand und zum anderen über kompetitiv eingeworbene Forschungsmittel, Zuwendungen von Stiftungen und Gönnerinnen oder Gönnern sowie Erlöse aus Dienstleistungen finanziert wird. Schwerpunkte seiner Aktivitäten sind Forschung, Dokumentation, Wissensvermittlung und Dienstleistung im Bereich der bildenden Kunst, wobei das Kunstschaffen in der Schweiz vom Mittelalter bis zur Gegenwart das Kerngebiet bildet.</p>

<p>Durch seine Forschungstätigkeit steht SIK-ISEA in regem Austausch mit Universitäten, Fachhochschulen, Museen und namhaften Sachverständigen. Es ist Mitglied der Schweizerischen Akademie der Geistes- und Sozialwissenschaften (SAGW), des Schweizerischen Nationalkomitees des Internationalen Museumsrates (ICOM Schweiz) und Gründungsmitglied der International Association of Research Institutes in the History of Art (RIHA).</p>

<p>SIK-ISEA sieht es als seine Aufgabe an, wissenschaftliche Publikationen und forschungsrelevante Daten im Open Access rasch einer internationalen Öffentlichkeit zugänglich zu machen.</p>
<hr>
<h4>Bereits erschienen</h4>
Reihe: <a href="{{=URL('catalog','series/sik_isea')}}">outlines</a>
<hr>
<p>Weitere Publikationen des Schweizerischen Instituts für Kunstwissenschaft (SIK-ISEA) auf arthistoricum.net:<br />
<a href="http://journals.ub.uni-heidelberg.de/index.php/sikisea/index" title="Link zum Journal">Jahresbericht SIK-ISEA / Schweizerisches Institut für Kunstwissenschaft</a></p>

{{pass}}

<!--<hr>
<div class="row">
<div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/428/simple/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/428/simple/cover.jpg'),_width='80px', _class='bildrahmen')}}</a> 
  </div>
<div class="col-lg-9">
<b>ICOM Deutschland (Hrsg.)</b>
    <br>{{=A('Difficult Issues',_href=URL('catalog','book/428'))}} Proceedings of the ICOM international conference 2017, 2017 
  </div>
</div>  -->

</div>        
        
<div class="col-lg-3">
  <div id="infoBoxRechts">
  <p>{{=IMG(_src=URL('static','images/partner/sik-isea_logo.png'),_width='215px')}}</p>
  {{if session.forced_language =='de': }}
    <p><b>Kontakt</b><br>
      SIK-ISEA<br>
      Zollikerstrasse 32<br>
      Postfach<br>
      CH-8032 Zürich<br>
      E-Mail: <a href="mailto:sik@sik-isea.ch">sik@sik-isea.ch</a><br><br>
	  Internet: <a href="https://www.sik-isea.ch/de-ch/" title="Homepage SIK ISEA">Homepage SIK ISEA</a><br>
	  <br>Elektronische Publikationen
      <br><a href="mailto:katharina.ammann@sik-isea.ch">Dr. Katharina Ammann</a>
      <br><a href="mailto:regula.kraehenbuehl@sik-isea.ch">lic. phil. Regula Krähenbühl</a>
      
    </p>
	{{elif session.forced_language =='en': }}
	<p><b>Contact</b><br>
      SIK-ISEA<br>
      Zollikerstrasse 32<br>
      Postfach<br>
      CH-8032 Zürich<br>
      Email: <a href="mailto:sik@sik-isea.ch">sik@sik-isea.ch</a><br>
      Internet: <a href="https://www.sik-isea.ch/de-ch/" title="Homepage SIK ISEA">Homepage SIK ISEA</a>    <br>
	  <br>Electronic Publications 
      <br><a href="mailto:katharina.ammann@sik-isea.ch">Dr. Katharina Ammann</a>
      <br><a href="mailto:regula.kraehenbuehl@sik-isea.ch">lic. phil. Regula Krähenbühl</a></p>
	{{pass}}
  </div>
</div>
        
           

    </div>
  </div>

