{{extend 'layout.html'}}

<div id="main" class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>  {{if session.forced_language =='de': }}
                Staatliche Kunstsammlungen Dresden (SKD)  
                {{elif session.forced_language =='en': }}
                Staatliche Kunstsammlungen Dresden (SKD)  
            {{pass}}
            </h3>
        </div>
    </div>    
   <div class="row">                 
  {{if session.forced_language =='de': }}

  <div class="col-lg-9">
  <p>Die <b><a href="https://www.skd.museum/" title="Homepage der Staatlichen Kunstsammlungen Dresden">Staatlichen Kunstsammlungen Dresden (SKD)</a></b> bestehen aus insgesamt 14 Museen, die eine große thematische Vielfalt bieten. Ursprung der Museen ist die Sammlung der sächsischen Kurfürsten und polnischen Könige. Historische Quellen belegen die Gründung der fürstlichen Kunstkammer durch Kurfürst August (1526–1586) im Jahre 1560. Durch das Mäzenatentum Augusts des Starken (1670–1733) und seines Sohnes König August III. (1696–1763) entwickelte sich Dresden zu einer führenden Kulturmetropole mit systematisch angelegten Kunstkabinetten, die den Kern der SKD bilden.
  </p>
  
  <p>Über <b>arthistoricum.net – ART-Books</b> werden Publikationen der Staatlichen Kunstsammlungen Dresden online zur Verfügung gestellt.</p>
  
  
  
  <p>Einen Schwerpunkt bilden bislang die Veröffentlichungen des 1728 unter August dem Starken gegründeten <a href="https://mathematisch-physikalischer-salon.skd.museum/" title="Homepage Mathematisch-Physikalischer Salon Dresden">Mathematisch-Physikalische Salon</a> als Museum historischer wissenschaftlicher Instrumente: {{=A(T('"Veröffentlichungen des Staatlichen Mathematisch-Physikalischen Salons"'),_href=URL('series','info/vmps'))}} sowie 
    <a href="{{=URL('catalog','index')}}" title="Staatl. Kunstsammlungen Dresden: Kataloge des Mathematisch-Physikalischen Salons">„Staatl. Kunstsammlungen Dresden: Kataloge des Mathematisch-Physikalischen Salons“</a>.</p>
  <hr>
  
  <div class="row">
    <div class="col-lg-9">
    <h4>Bereits erschienen</h4>
    </div>
  </div>  
                  <div class="row">
                  <div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/499/simple/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/499/simple/cover.jpg'),_width='80px', _class='bildrahmen')}}</a>
                  </div>
                  <div class="col-lg-9">
                  <b>Ruth Sonja Simonis </b><br>                 
                  <b>{{=A('Microstructures of global trade',_href=URL('catalog','book/499'))}}</b><br>
                  ISBN: 978-3-947449-64-4, Softcover
                  </div>
                  </div> 


                  <div class="row">
                  <div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/26/simple/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/26/simple/cover.jpg'),_width='80px', _class='bildrahmen')}}</a>
                  </div>
                  <div class="col-lg-9">
                  <b>Klaus Schillinger</b><br>                 
                  <b><a href="{{=URL('catalog','book/26')}}">Rechengeräte</a></b><br />
                  Aus der Sammlung des Mathematisch-Physikalischen Salons 
                  </div>
                  </div>


                  <div class="row">
                  <div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/24/simple/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/24/simple/cover.jpg'),_width='80px', _class='bildrahmen')}}</a>
                  </div>
                  <div class="col-lg-9">
                  <b>Wolfram Dolz</b><br>                 
                  <b><a href="{{=URL('catalog','book/24')}}">Erd- und Himmelsgloben</a></b><br />
                  Sammlungskatalog
                  </div>
                  </div>


                  <div class="row">
                  <div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/14/simple/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/14/simple/cover.jpg'),_width='80px', _class='bildrahmen')}}</a>
                  </div>
                  <div class="col-lg-9">
                  <b>Klaus Schillinger</b><br>                 
                  <b><a href="{{=URL('catalog','book/14')}}">Solare Brenngeräte</a></b><br />
                  Katalog
                  </div>
                  </div>



                  <div class="row">
                  <div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/15/simple/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/15/simple/cover.jpg'),_width='80px', _class='bildrahmen')}}</a>
                  </div>
                  <div class="col-lg-9">
                  <b>Klaus Schillinger</b><br>                 
                  <b><a href="{{=URL('catalog','book/15')}}">Zeicheninstrumente</a></b><br />
                  Katalog
                  </div>
                  </div>


                  <div class="row">
                  <div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/25/simple/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/25/simple/cover.jpg'),_width='80px', _class='bildrahmen')}}</a>
                  </div>
                  <div class="col-lg-9">
                  <b>Joachim Schardin</b><br>                 
                  <b><a href="{{=URL('catalog','book/25')}}">Kunst- und Automatenuhren</a></b><br />
                  Katalog der Großuhrensammlung
                  </div>
                  </div>
  
                  <div class="row">
                  <div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/13/simple/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/13/simple/cover.jpg'),_width='80px', _class='bildrahmen')}}</a>
                  </div>
                  <div class="col-lg-9">
                  <b>Helmut Schramm</b><br>                 
                  <b><a href="{{=URL('catalog','book/13')}}">Astronomische Instrumente</a></b><br />
                  Kataloge
                  </div>
                  </div> 
  
  
                  <div class="row">
                  <div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/76/simple/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/76/simple/cover.jpg'),_width='80px', _class='bildrahmen')}}</a>
                  </div>
                  <div class="col-lg-9">
                  <b>Forschungsstelle Dresden</b><br>                 
                  <b>{{=A('Veröffentlichungen des Mathematisch-Physikalischen Salons',_href=URL('series','info/vmps'))}}</b><br />
                  Reihe                               
                  </div>
                  </div>                                                            
  </div>  


   
  <div class="col-lg-3">
    <div id="infoBoxRechts">
      <p>{{=IMG(_src=URL('static','images/partner/skd_logo.png'),_width='230px')}}
      </p>
      <br>
      <p><b>Kontakt</b>
        <br>Staatliche Kunstsammlungen Dresden
        <br>Residenzschloss
        <br>Taschenberg 2
        <br>D-01067 Dresden
        <br>
        <br>Tel.: +49 351 4914 2000
        <br>E-Mail: besucherservice@skd.museum
        <br>Internet: 
        <a href="https://www.skd.museum/" title="Homepage">www.skd.museum</a>
      </p>
    </div>
  </div>
         
{{elif session.forced_language =='en': }}

<div class="col-lg-9">
<p>Die <b><a href="https://www.skd.museum/" title="Homepage der Staatlichen Kunstsammlungen Dresden">Staatlichen Kunstsammlungen Dresden (SKD)</a></b> bestehen aus insgesamt 14 Museen, die eine große thematische Vielfalt bieten. Ursprung der Museen ist die Sammlung der sächsischen Kurfürsten und polnischen Könige. Historische Quellen belegen die Gründung der fürstlichen Kunstkammer durch Kurfürst August (1526–1586) im Jahre 1560. Durch das Mäzenatentum Augusts des Starken (1670–1733) und seines Sohnes König August III. (1696–1763) entwickelte sich Dresden zu einer führenden Kulturmetropole mit systematisch angelegten Kunstkabinetten, die den Kern der SKD bilden.
</p>

<p>Über <b>arthistoricum.net – ART-Books</b> werden Publikationen der Staatlichen Kunstsammlungen Dresden online zur Verfügung gestellt.</p>

<p>Einen Schwerpunkt bilden bislang die Veröffentlichungen des 1728 unter August dem Starken gegründeten <a href="https://mathematisch-physikalischer-salon.skd.museum/" title="Homepage Mathematisch-Physikalischer Salon Dresden">Mathematisch-Physikalische Salon</a> als Museum historischer wissenschaftlicher Instrumente: {{=A(T('"Veröffentlichungen des Staatlichen Mathematisch-Physikalischen Salons"'),_href=URL('series','info/vmps'))}} sowie 
  <a href="{{=URL('catalog','index')}}" title="Staatl. Kunstsammlungen Dresden: Kataloge des Mathematisch-Physikalischen Salons">„Staatl. Kunstsammlungen Dresden: Kataloge des Mathematisch-Physikalischen Salons“</a>.</p>


                <h4>Publications</h4>
                <div class="row">
                <div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/499/simple/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/499/simple/cover.jpg'),_width='80px', _class='bildrahmen')}}</a>
                </div>
                <div class="col-lg-9">
                <b>Ruth Sonja Simonis </b><br>                 
                <b>{{=A('Microstructures of global trade',_href=URL('catalog','book/499'))}}</b><br>
                ISBN: 978-3-947449-64-4, Softcover
                </div>
                </div> 
                
                  <div class="row">
                  <div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/26/simple/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/26/simple/cover.jpg'),_width='80px', _class='bildrahmen')}}</a>
                  </div>
                  <div class="col-lg-9">
                  <b>Klaus Schillinger</b><br>                 
                  <b><a href="{{=URL('catalog','book/26')}}">Rechengeräte</a></b><br />
                  Aus der Sammlung des Mathematisch-Physikalischen Salons 
                  </div>
                  </div>


                  <div class="row">
                  <div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/24/simple/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/24/simple/cover.jpg'),_width='80px', _class='bildrahmen')}}</a>
                  </div>
                  <div class="col-lg-9">
                  <b>Wolfram Dolz</b><br>                 
                  <b><a href="{{=URL('catalog','book/24')}}">Erd- und Himmelsgloben</a></b><br />
                  Sammlungskatalog
                  </div>
                  </div>


                  <div class="row">
                  <div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/14/simple/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/14/simple/cover.jpg'),_width='80px', _class='bildrahmen')}}</a>
                  </div>
                  <div class="col-lg-9">
                  <b>Klaus Schillinger</b><br>                 
                  <b><a href="{{=URL('catalog','book/14')}}">Solare Brenngeräte</a></b><br />
                  Katalog
                  </div>
                  </div>



                  <div class="row">
                  <div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/15/simple/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/15/simple/cover.jpg'),_width='80px', _class='bildrahmen')}}</a>
                  </div>
                  <div class="col-lg-9">
                  <b>Klaus Schillinger</b><br>                 
                  <b><a href="{{=URL('catalog','book/15')}}">Zeicheninstrumente</a></b><br />
                  Katalog
                  </div>
                  </div>


                  <div class="row">
                  <div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/25/simple/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/25/simple/cover.jpg'),_width='80px', _class='bildrahmen')}}</a>
                  </div>
                  <div class="col-lg-9">
                  <b>Joachim Schardin</b><br>                 
                  <b><a href="{{=URL('catalog','book/25')}}">Kunst- und Automatenuhren</a></b><br />
                  Katalog der Großuhrensammlung
                  </div>
                  </div>
  
                  <div class="row">
                  <div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/13/simple/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/13/simple/cover.jpg'),_width='80px', _class='bildrahmen')}}</a>
                  </div>
                  <div class="col-lg-9">
                  <b>Helmut Schramm</b><br>                 
                  <b><a href="{{=URL('catalog','book/13')}}">Astronomische Instrumente</a></b><br />
                  Kataloge
                  </div>
                  </div> 
  
  
                  <div class="row">
                  <div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/76/simple/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/76/simple/cover.jpg'),_width='80px', _class='bildrahmen')}}</a>
                  </div>
                  <div class="col-lg-9">
                  <b>Forschungsstelle Dresden</b><br>                 
                  <b>{{=A('Veröffentlichungen des Mathematisch-Physikalischen Salons',_href=URL('series','info/vmps'))}}</b><br />
                  Reihe                               
                  </div>
                  </div>                  
                
                <!--<div class="row">
                <div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/76/simple/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/76/simple/cover.jpg'),_width='80px', _class='bildrahmen')}}</a>
                </div>
                <div class="col-lg-9">
                <b>Fritz Bönisch , Hans Brichzin , Klaus Schillinger und Werner Stams</b><br>                 
                <b>{{=A('Kursächsische Kartographie bis zum Dreißigjährigen Krieg',_href=URL('catalog','book/76'))}}</b><br>
                {{=A('Veröffentlichungen des Mathematisch-Physikalischen Salons – Forschungsstelle Dresden, Band 8',_href=URL('series','info/vmps'))}}<br />
                ISBN: 978-3-946653-14-1, PDF                               
                </div>
                </div>-->                                                            
</div>
 
   
  <div class="col-lg-3">
    <div id="infoBoxRechts">
      <p>{{=IMG(_src=URL('static','images/partner/skd_logo.png'),_width='230px')}}
      </p>
      <br>
      <p><b>Kontakt</b>
        <br>Staatliche Kunstsammlungen Dresden
        <br>Residenzschloss
        <br>Taschenberg 2
        <br>D-01067 Dresden
        <br>
        <br>Tel.: +49 351 4914 2000
        <br>E-Mail: besucherservice@skd.museum
        <br>Internet: 
        <a href="https://www.skd.museum" title="Homepage">www.skd.museum</a>
      </p>
    </div>
  </div>

                {{pass}}



    </div>
  </div>

