{{extend 'layout.html'}}

<div id="main" class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>  {{if session.forced_language =='de': }}
                Staatliche Museen zu Berlin  
                {{elif session.forced_language =='en': }}
                Staatliche Museen zu Berlin  
            {{pass}}
            </h3>
        </div>    

                {{if session.forced_language =='de': }}
<div class="col-lg-9">
<p>Mit fünfzehn Museumssammlungen, drei Forschungseinrichtungen und der Gipsformerei sind die 
  <a href="https://www.smb.museum" title="Homepage">Staatlichen Museen zu Berlin – Preußischer Kulturbesitz</a> eines der bedeutendsten Universalmuseen der Welt. In neunzehn Museen beherbergen sie mehr als fünf Millionen Objekte, die mehr als 700.000 Jahre Kulturgeschichte repräsentieren.
</p>
<p>Die Objekte und ihre Geschichten werden in zahlreichen Publikationen erforscht und dokumentiert. Über <b>arthistoricum.net &ndash; ART-Books</b> werden aktuelle Forschungsergebnisse nun auch online zur Verfügung gestellt: Veröffentlichungen der Staatlichen Museen zu Berlin
</p>
<hr>

<div class="row">
  <div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/1014/simple/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/1014/simple/cover.jpg'),_width='80px', _class='bildrahmen')}}</a> 
    </div>
  <div class="col-lg-9">
  <b>Laura Puritani, Martin Maischberger und Birgit Sporleder (Hrsg.)</b>
      <br>{{=A('Konstantinopel – Samos – Berlin. Verpfändung, Fundteilung und heimliche Ausfuhr von Antiken am Vorabend des Ersten Weltkrieges',_href=URL('catalog','book/1014'))}}
      <br>Schriften zur Geschichte der Berliner Museen, Vol. 7
    </div>
  </div>

<div class="row">
  <div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/957/simple/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/957/simple/cover.jpg'),_width='80px', _class='bildrahmen')}}</a> 
    </div>
  <div class="col-lg-9">
  <b>María López-Fanjul y Díez del Corral, Skulpturensammlung und das Museum für Byzantinische Kunst – Staatliche Museen zu Berlin (Hrsg.)</b>
      <br>{{=A('The Second Glance',_href=URL('catalog','book/957'))}}
      <br>Women, 2021
    </div>
  </div>
  
  
  <div class="row">
  <div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/956/simple/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/956/simple/cover.jpg'),_width='80px', _class='bildrahmen')}}</a> 
    </div>
  <div class="col-lg-9">
  <b>María López-Fanjul y Díez del Corral, Skulpturensammlung und das Museum für Byzantinische Kunst – Staatliche Museen zu Berlin (Hrsg.)</b>
      <br>{{=A('Der zweite Blick',_href=URL('catalog','book/956'))}}
      <br>Frauen, 2021 
    </div>
  </div>

  <div class="row">
    <div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/848/simple/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/848/simple/cover.jpg'),_width='80px', _class='bildrahmen')}}</a> 
      </div>
    <div class="col-lg-9">
    <b>Thierry Grandin, Ruba Kasmo und Giulia Annalinda Neglia</b>
        <br>{{=A('Post-Conflict Documentation of a Historic Neighborhood',_href=URL('catalog','book/848'))}}
        <br>(Suwayqat Ali Area – Old City of Aleppo)<br>
        Dima Dayoub, Ruba Kasmo, Anne Mollenhauer (Hrsg.) 
      </div>
    </div>  

<div class="row">
<div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/687/simple/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/687/simple/cover.jpg'),_width='80px', _class='bildrahmen')}}</a> 
  </div>
<div class="col-lg-9">
<b>María López-Fanjul y Díez del Corral (Hrsg.) </b>
    <br>{{=A('The Second Glance',_href=URL('catalog','book/687'))}}
    <br>All Forms of Love, 2020 
  </div>
</div>


<div class="row">
<div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/633/simple/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/633/simple/cover.jpg'),_width='80px', _class='bildrahmen')}}</a> 
  </div>
<div class="col-lg-9">
<b>María López-Fanjul y Díez del Corral (Hrsg.) </b>
    <br>{{=A('Der zweite Blick',_href=URL('catalog','book/633'))}}
    <br>Spielarten der Liebe, 2020 
  </div>
</div>
<div class="row">
<div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/536/simple/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/536/simple/cover.jpg'),_width='80px', _class='bildrahmen')}}</a> 
  </div>
<div class="col-lg-9">
<b>Christina Haak, Miguel Helfrich (Hrsg.)</b>
    <br>{{=A('Casting. Ein analoger Weg ins Zeitalter der Digitalisierung?',_href=URL('catalog','book/536'))}}
    <br> Ein Symposium zur Gipsformerei der Staatlichen Museen zu Berlin,
    <br> 2. überarbeitete Auflage, 2020 
  </div>
</div>
<div class="row"><a href="{{=URL('static','images/series/serien_cover.png')}}"><div class="col-lg-2">{{=IMG(_src=URL('static','images/series/serien_cover.png'),_width='80px', _class='bildrahmen')}}</a> 
  </div>  
  <div class="col-lg-9">{{=A('EVA Berlin – Elektronische Medien & Kunst, Kultur, Historie',_href=URL('series','info/eva'))}}
    <br>Die Konferenzbände werden im Open Access online bereit gestellt. 
  </div>
</div>
</div>        
        
<div class="col-lg-3">
  <div id="infoBoxRechts">
  <p>{{=IMG(_src=URL('static','images/partner/smb_logo.png'),_width='230px')}}
  </p>
    <br>
    <p><b>Kontakt</b>
      <br>Staatliche Museen zu Berlin – Preußischer Kulturbesitz
      <br>Generaldirektion
      <br>Stauffenbergstraße 41
      <br>D-10785 Berlin
      <br>
      <br>Tel.: +49 30 266 424242
      <br>(Mo&ndash;Fr, 9&ndash;16 Uhr)
      <br>Internet: 
      <a href="https://www.smb.museum" title="Homepage">www.smb.museum</a>
  </div>
</div>
        
{{elif session.forced_language =='en': }}

<div class="col-lg-9">
<p>Mit fünfzehn Museumssammlungen, drei Forschungseinrichtungen und der Gipsformerei sind die 
  <a href="https://www.smb.museum" title="Homepage">Staatlichen Museen zu Berlin – Preußischer Kulturbesitz</a> eines der bedeutendsten Universalmuseen der Welt. In neunzehn Museen beherbergen sie mehr als fünf Millionen Objekte, die mehr als 700.000 Jahre Kulturgeschichte repräsentieren.
</p>
<p>Die Objekte und ihre Geschichten werden in zahlreichen Publikationen erforscht und dokumentiert. Über <b>arthistoricum.net &ndash; ART-Books</b> werden aktuelle Forschungsergebnisse nun auch online zur Verfügung gestellt: Veröffentlichungen der Staatlichen Museen zu Berlin
</p>
<hr>
<div class="row">
  <div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/1014/simple/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/1014/simple/cover.jpg'),_width='80px', _class='bildrahmen')}}</a> 
    </div>
  <div class="col-lg-9">
  <b>Laura Puritani, Martin Maischberger and Birgit Sporleder (Eds.)</b>
      <br>{{=A('Konstantinopel – Samos – Berlin. Verpfändung, Fundteilung und heimliche Ausfuhr von Antiken am Vorabend des Ersten Weltkrieges',_href=URL('catalog','book/1014'))}}
      <br>Schriften zur Geschichte der Berliner Museen, Vol. 7
    </div>
  </div>
<div class="row">
  <div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/957/simple/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/957/simple/cover.jpg'),_width='80px', _class='bildrahmen')}}</a> 
    </div>
  <div class="col-lg-9">
  <b>María López-Fanjul y Díez del Corral, Skulpturensammlung und das Museum für Byzantinische Kunst – Staatliche Museen zu Berlin (Hrsg.)</b>
      <br>{{=A('The Second Glance',_href=URL('catalog','book/957'))}}
      <br>Women, 2021
    </div>
  </div>
  
  
  <div class="row">
  <div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/956/simple/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/956/simple/cover.jpg'),_width='80px', _class='bildrahmen')}}</a> 
    </div>
  <div class="col-lg-9">
  <b>María López-Fanjul y Díez del Corral, Skulpturensammlung und das Museum für Byzantinische Kunst – Staatliche Museen zu Berlin (Hrsg.)</b>
      <br>{{=A('Der zweite Blick',_href=URL('catalog','book/956'))}}
      <br>Frauen, 2021 
    </div>
  </div>

  <div class="row">
    <div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/848/simple/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/848/simple/cover.jpg'),_width='80px', _class='bildrahmen')}}</a> 
      </div>
    <div class="col-lg-9">
    <b>Thierry Grandin, Ruba Kasmo und Giulia Annalinda Neglia</b>
        <br>{{=A('Post-Conflict Documentation of a Historic Neighborhood',_href=URL('catalog','book/848'))}}
        <br>(Suwayqat Ali Area – Old City of Aleppo)<br>
        Dima Dayoub, Ruba Kasmo, Anne Mollenhauer (Hrsg.) 
      </div>
    </div>



<div class="row">
<div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/687/simple/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/687/simple/cover.jpg'),_width='80px', _class='bildrahmen')}}</a> 
  </div>
<div class="col-lg-9">
<b>María López-Fanjul y Díez del Corral (Hrsg.) </b>
    <br>{{=A('The Second Glance',_href=URL('catalog','book/687'))}}
    <br>All Forms of Love, 2020 
  </div>
</div>
<div class="row">
<div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/633/simple/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/633/simple/cover.jpg'),_width='80px', _class='bildrahmen')}}</a> 
  </div>
<div class="col-lg-9">
<b>María López-Fanjul y Díez del Corral (Hrsg.) </b>
    <br>{{=A('Der zweite Blick',_href=URL('catalog','book/633'))}}
    <br>Spielarten der Liebe, 2020 
  </div>
</div>
<div class="row">
<div class="col-lg-2"><a href="{{=URL('static','files/presses/2/monographs/536/simple/cover.jpg')}}">{{=IMG(_src=URL('static','files/presses/2/monographs/536/simple/cover.jpg'),_width='80px', _class='bildrahmen')}}</a> 
  </div>
<div class="col-lg-9">
<b>Christina Haak, Miguel Helfrich (Hrsg.)</b>
    <br>{{=A('Casting. Ein analoger Weg ins Zeitalter der Digitalisierung?',_href=URL('catalog','book/536'))}}
    <br> Ein Symposium zur Gipsformerei der Staatlichen Museen zu Berlin,
    <br> 2. überarbeitete Auflage, 2020 
  </div>
</div>
<div class="row"><a href="{{=URL('static','images/series/serien_cover.png')}}"><div class="col-lg-2">{{=IMG(_src=URL('static','images/series/serien_cover.png'),_width='80px', _class='bildrahmen')}}</a> 
  </div>  
  <div class="col-lg-9">{{=A('EVA Berlin – Elektronische Medien & Kunst, Kultur, Historie',_href=URL('series','info/eva'))}}
    <br>Die Konferenzbände werden im Open Access online bereit gestellt.
  </div>
</div>
</div>        
        
<div class="col-lg-3">
  <div id="infoBoxRechts">
  <p>{{=IMG(_src=URL('static','images/partner/smb_logo.png'),_width='230px')}}
  </p>
    <br>
    <p><b>Kontakt</b>
      <br>Staatliche Museen zu Berlin – Preußischer Kulturbesitz
      <br>Generaldirektion
      <br>Stauffenbergstraße 41
      <br>D-10785 Berlin
      <br>
      <br>Tel.: +49 30 266 424242
      <br>(Mo&ndash;Fr, 9&ndash;16 Uhr)
      <br>Internet: 
      <a href="https://www.smb.museum" title="Homepage">www.smb.museum</a>
  </div>
</div>


{{pass}}


            

    </div>
  </div>

