{{extend 'layout.html'}}
<div id="main" class="container">
    <div class="row">
        <div class="col-lg-12" style="min-height: 20em;">
            <h3>  {{if session.forced_language =='de': }}
                Rechte und Lizenzen
                {{elif session.forced_language =='en': }}
                Rights and Licenses

            {{pass}}
            </h3>

            <p>
                {{if session.forced_language =='de': }}
                
            <p>arthistoricum.net - ART-Books betreibt eine autorenfreundliche Rechtepolitik, die die Einräumung eines zeitlich und räumlich nicht eingeschränkten einfachen Nutzungsrechts zur Online-Veröffentlichung und zur Verbreitung der Druckausgabe umfasst. Autoren und Autorinnen behalten das Urheberrecht an dem Werk und gewähren arthistoricum.net - ART-Books das Recht zu dessen Erst - bzw. Zweitveröffentlichung. Parallel dazu wird das Werk im Regelfall unter eine <a href="https://creativecommons.org/licenses/?lang=de" title="Creative Commons">Creative-Commons-Lizenz</a> gestellt. Diese erlaubt es anderen, das Werk weiterzuverbreiten, unter der Bedingung, dass der Autor/die Autorin benannt und auf die Erstveröffentlichung in diesem Verlag hingewiesen wird.<br />
Autoren/Autorinnen können weitere, gesonderte Verträge mit anderen Anbietern für eine nicht exklusive Verbreitung einer von arthistoricum.net - ART-Books veröffentlichten Version des Buches abschließen. Sie können es zum Beispiel auf einem institutionellen Repositorium einstellen oder bei einem anderen Verlag als Buch veröffentlichen.</p>                
                



{{elif session.forced_language =='en': }}

<p>arthistoricum.net - ART-Books betreibt eine autorenfreundliche Rechtepolitik, die die Einräumung eines zeitlich und räumlich nicht eingeschränkten einfachen Nutzungsrechts zur Online-Veröffentlichung und zur Verbreitung der Druckausgabe umfasst. Autoren und Autorinnen behalten das Urheberrecht an dem Werk und gewähren arthistoricum.net - ART-Books das Recht zu dessen Erst - bzw. Zweitveröffentlichung. Parallel dazu wird das Werk im Regelfall unter eine <a href="https://creativecommons.org/licenses/?lang=de" title="Creative Commons">Creative-Commons-Lizenz</a> gestellt. Diese erlaubt es anderen, das Werk weiterzuverbreiten, unter der Bedingung, dass der Autor/die Autorin benannt und auf die Erstveröffentlichung in diesem Verlag hingewiesen wird.<br />
Autoren/Autorinnen können weitere, gesonderte Verträge mit anderen Anbietern für eine nicht exklusive Verbreitung einer von arthistoricum.net - ART-Books veröffentlichten Version des Buches abschließen. Sie können es zum Beispiel auf einem institutionellen Repositorium einstellen oder bei einem anderen Verlag als Buch veröffentlichen.</p> 

                {{pass}}
        </div>
    </div>
  </div>  
